[2017-11-30 14:30] aaalaniz commented on #211
Hey @rohitlien

Based on your use case, rather than disconnecting and reconnecting to a `Room` when a user requests to be seen, I recommend using the [LocalParticipant#addVideoTrack](https://twilio.github.io/twilio-video-android/docs/latest/com/twilio/video/LocalParticipant.html#addVideoTrack-com.twilio.video.LocalVideoTrack-) method. You can get the `LocalParticipant` after you have connected to

[2017-12-01 05:50] rohitlien commented on #211
Hey @aaalaniz
I dont know what was wrong in rejoining the room , but this worked. Thanks a lot.

[2017-12-01 05:50] #211 closed

[2017-12-01 11:17] kenigbolo commented on #79
@gtRfnkN I'm about experimenting using your approach. What specific threshold do you use and are there any specific reasons why you use this threshold?

[2017-12-02 05:05] BdeDev commented on #202
Hey @aaalaniz

Thank you for your reply,
i can send you screen shot But, I want to tell you that the Screen output is only the Black Screen on the render side I can explain you the full scenario
1.I Stream through your Video Texture view in a linear layout
2.Then in i add the Local Video Track as like same given in your Custom Video Capture
3.I render the video on the render side
4.Both the partic

[2017-12-05 04:28] frize commented on #149
I meet the same problem as @tzafrir.
However, my goal is not to draw on a TextureView but I need to get the yuvPlanes buffer for further processing (in particular, I want to get the yuvPlanes buffer to pass it to a C++ buffer). So I choose to follow [this link](https://github.com/twilio/video-quickstart-android/blob/master/exampleCustomVideoRenderer/src/main/java/com/twilio/video/examples/customre

[2017-12-05 13:03] darshanjoc opened #213 "Crash getting I420Frame from RemoteVideoTrack"
### Description
 I am Using twilio-2.0.0-preview6 for Video Call. I want Image of PrimaryVideoView, for so i think I need to get I420Frame from RemoteVideoTrack, so I create SnapshotVideoRenderer (As Explained in Demo Project ) and I got Exception like Method threw 'java.lang.NullPointerException' exception. Cannot evaluate com.twilio.video.I420Frame.toString()
I cant able to get I420Frame

### St

[2017-12-05 15:01] aaalaniz commented on #187
Thanks for the help @innerverse and @idelgado. I'm closing this ticket. @sudheeshdh please reopen if you have any further questions.

Thanks!

[2017-12-05 15:01] #187 closed

[2017-12-05 15:03] aaalaniz commented on #200
Closing this issue. @emphassis please reopen if you have any other questions.

Thanks!

[2017-12-05 15:03] #200 closed

[2017-12-05 15:24] aaalaniz commented on #213
Hey @darshanjoc

I think there is a threading bug in our rendering pipeline. Can you try capturing the I420Frame on the UI thread instead of the thread that `renderFrame` is called on.

Thanks!

[2017-12-05 16:59] aaalaniz commented on #149
Hey @frize

I think you are encountering #122. I believe the frame needs to be extracted from the same EGL context that created it. This might explain why you see black frames. There is no public API for getting the EGL context of the frame today, but I can show you how to get it using reflection. See the gist [Rendering with a TextureView](https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff22

[2017-12-05 17:01] aaalaniz commented on #202
Hey @BdeDev

I think I understand your problem. I will investigate today.

[2017-12-05 20:16] aaalaniz commented on #202
Hey @BdeDev

I am not able to reproduce your issue. I was able to create a video track with `ViewCapturer` and share with all participants of a Room. However, I'm not sure I understand your problem completely. Please post a screenshot so I can investigate further.

Thanks!

[2017-12-06 04:32] darshanjoc commented on #213
can you please direct me how to do so ?

[2017-12-06 06:17] darshanjoc commented on #213
All I want is try to get bitmap ofrom RemoteVideoTrack

[2017-12-06 08:48] frize commented on #149
Thank you @aaalaniz, it works perfectly.

For who is concerning, I used two functions to Setup and Cleanup OpenGL ES environment:

[code]

[code]

Also remember that renderFrame could be called from a different thread from the thread that you created OpenGL ES, so make sure that you run the yuvConverter.convert in the correct thread.

[2017-12-06 15:17] aaalaniz commented on #149
Awesome @frize !

We are getting more inbound about manipulating rendered frames. Given that EglBaseProvider is essential to this type of work we will considering making it a public class so that developers can get the egl context without having to use reflection.

[2017-12-06 15:23] aaalaniz commented on #213
Hey @darshanjoc

Inside the `SnapshotVideoRenderer` modify `renderFrame` to the following:

[code]

[2017-12-06 17:24] rohitlien opened #215 "closes the activity with warning"
hi @aaalaniz
I have integrated twilio in our app but the problem is it keeps destroying the activity every now and then with warning :

E/ExynosCameraMCPipe: [CAM_ID(1)][PIPE_3AA]-ERR(m_getBuffer[1960]):node(3AA_OUTPUT)->getBuffer() fail, index(19), frameCount(48147), ret(-1)

E/ExynosCameraMCPipe: [CAM_ID(1)][PIPE_3AA]-ERR(m_getBuffer[2092]):node(SCP_PREVIEW)->getBuffer() fail, index(3), frameCou

[2017-12-06 18:02] rohitlien commented on #215
This is my logs :

12-06 23:24:57.774 7388-11732/com.rohit.test E/VOLLEY: Added request object
12-06 23:24:57.870 7388-11674/com.rohit.test W/art: Native thread exiting without having called DetachCurrentThread (maybe it's going to use a pthread_key_create destructor?): Thread[78,tid=11674,Native,Thread*=0x9ad3c800,peer=0x14004140,"IncomingVideoSt - 11674"]
12-06 23:24:58.272 7388-7388/com.rohit.t

[2017-12-06 18:07] aaalaniz commented on #215
Hey @rohitlien

Can you describe what is happening in detail or provide some steps to reproduce? Please provide any code snippets as well.

Thanks!

[2017-12-06 19:47] rohitlien commented on #215
Hi @aaalaniz
i am connecting two users to a room and wait a while like 10 minutes and it just dismisses the whole activity .I can't find anything more in the logs.

[2017-12-06 19:48] aaalaniz commented on #215
Interesting @rohitlien

...Is this issue reproducible in the quickstart? I can try to reproduce there.

[2017-12-06 19:51] rohitlien commented on #215
Hi @aaalaniz
I think not. The quickstart works fine.

[2017-12-06 20:07] rohitlien commented on #215
Hi @aaalaniz
i am getting this log :

12-07 01:34:07.926 7388-7388/com.rohit.test I/SurfaceView: updateWindow -- OnPreDrawListener, mHaveFrame = true, this = com.twilio.video.VideoView{396ebb94 V.E..... ........ 0,0-600,815 #7f0e043f app:id/primary_video_view}
12-07 01:34:27.235 7388-7405/com.rohit.test D/MessageLogger: Msg#:370665 <<<<< Finished to Handler (android.app.ActivityThread$H) {11d188f0

[2017-12-07 04:51] darshanjoc commented on #213
hey, there is no problem with that. let me show you debug view, Problem arises internal side
![nullpointerbug](https://user-images.githubusercontent.com/34273478/33699261-0e9f8ea8-db38-11e7-920e-695c2f0de1bf.png)

[2017-12-07 10:40] rohitlien commented on #215
Hi @aaalaniz
Is it possible that recording is messing up everything?
these are my logs :
W/APM_AudioPolicyManager: startInput() HOTWORD will be blocked in call
12-07 15:58:34.323 13256-14124/? E/AudioRecord: start() status -22
12-07 15:58:34.324 13256-14124/? E/AudioProvider: recording stopped, not in RECORDSTATE_RECORDING state
12-07 15:58:34.327 2425-2425/? E/audio_hw_primary: adev_close_input_s

[2017-12-07 10:53] rohitlien commented on #215
Hi @aaalaniz

can it be this :
at android.support.v4.app.BackStackRecord.commitNowAllowingStateLoss(BackStackRecord.java:620)
?

[2017-12-07 11:36] rohitlien commented on #215
I think , i found the issue . I attaching the log files from crashlytics.
Please take a look.
[com.oustme.oustsdk_issue_37_crash_5A291AF7032900011EFF47D83AE6870B_55938aa0db3d11e7a60a56847afe9799_0_v2.txt](https://github.com/twilio/video-quickstart-android/files/1538875/com.oustme.oustsdk_issue_37_crash_5A291AF7032900011EFF47D83AE6870B_55938aa0db3d11e7a60a56847afe9799_0_v2.txt)

[2017-12-07 14:51] aaalaniz commented on #215
Hey @rohitlien

I do not see any errors in the logs related to the Video SDK. If you can't reproduce the issue in the quickstart then I'm afraid I can't help much more.

[2017-12-07 14:56] aaalaniz commented on #213
Hey @darshanjoc

This appears to just be a bug with custom renderers on remote video tracks. Can you reference the work done in #149 to see if this helps? The resolution for this issue is non trivial and is currently not prioritized on our roadmap. I apologize for the inconvenience.

Thanks!

[2017-12-11 07:30] BdeDev commented on #202
Hello @aaalaniz
Apologizes for the late reply,

This is the Screen shot of where i am creating a local video track
![device-2017-12-11-125524](https://user-images.githubusercontent.com/24265865/33819919-dac44e00-de72-11e7-9509-3e7cf9ec7304.png)

And this is the render side
![screenshot_1512977087](https://user-images.githubusercontent.com/24265865/33819951-01514e4c-de73-11e7-8bf9-3e49f74ba758.png)

[2017-12-11 09:28] rohitlien commented on #215
Hey @aaalaniz
I don't know the real issues but i had a dialog for showing if someone joined. Removing the dialog solved my problem.

Thanks for the support.

[2017-12-11 09:30] #215 closed

[2017-12-12 22:13] aaalaniz commented on #202
Hey @BdeDev

What code is being executed on the renderer side? Can you provide a Room SID? You can get a room SID from the `Room` object using `getSid()`.

Thanks!

[2017-12-17 22:39] moksamedia commented on #80
Any update on this?

[2017-12-18 13:01] BdeDev commented on #202
Hey @aaalaniz
Apologizes for the late Reply

i use this code on the render side to render the stream
  @Override
            public void onVideoTrackSubscribed(RemoteParticipant remoteParticipant,
                                               RemoteVideoTrackPublication remoteVideoTrackPublication,
                                               RemoteVideoTrack remoteVideoTrack) {

[2017-12-19 20:47] aaalaniz commented on #202
Hey @BdeDev

I'm not sure if this is the exact issue, but it looks like you are using the same identity `test66` for each participant. Can you try using a unique identity for each participant?

Thanks!

[2017-12-19 20:57] aaalaniz commented on #80
Hey @moksamedia

Unfortunately, we have no update on the underlying issue caused by the 120 second timer. However, we did release a new [Participant REST API](https://www.twilio.com/docs/api/video/participants) that allows developers to disconnect participants. If you have a way to detect a participant abruptly dropping (crash, etc) then you could boot that participant from the room using this new

[2017-12-20 14:07] BdeDev commented on #202
Hey @aaalaniz
thanks for the reply
its my mistake actually that i had not added the streaming application in the room
this is the new room SID
RM78d7cb9282fd65fa89653ade3bfecdb7

Here i use different identity as you told

[2017-12-20 19:24] aaalaniz commented on #202
Hey @BdeDev

Based on what I see, I think you have two video tracks being subscribed to, but only one view to render those tracks. Can you try creating two VideoView instances for each track you are sharing? I think the problem is that you are rendering both tracks to the same view which is causing problems.

[2017-12-21 09:24] itayloryan opened #216 "Is there any diagnose info for video communication when media server dose not performs well?"
### Description

Seems the video communication server is not stable while video call sometimes, and no info such as connection weak or signal is not good

#### Expected Behavior
Both video and joined info are displayed when participant joined room successfully

#### Actual Behavior

Both clients see that the other joined the room, but can not see each other's video stream

#### Reproduces how Ofte

[2017-12-21 17:47] aaalaniz commented on #216
Hey @itayloryan

We do track/report performance metrics to our backend, but currently do not expose a dashboard for customers to diagnose themselves. We do have a `getStats` API available on the `Room` that will provided detailed stats information. Other than that we will have to investigate ourselves and report back. Can you provide Room SIDs of sessions where the issues occurred?

Thanks!

[2017-12-22 01:25] itayloryan commented on #216
Thank you, @aaalaniz
I will try the Room.getStats(StatsListener statsListener) for the stats info
BTW, we tried lots of Rooms, all of them have this issue.

[2017-12-27 12:54] shivthepro opened #218 "Getting a black screen while rendering remote videotrack."
After the participant is joined I tried to render the remote participant's video in the VideoView. Im getting a black screen for almost 5-7secs before Im able to see the remote participant's video on my screen.

If there is a call back in videoview like first frame is available then Ill be able to show some placeholder in place until the black screen is being shown.

[2017-12-27 15:34] aaalaniz commented on #218
Hey @shivthepro

What version of the SDK are you using?

Thanks!

[2017-12-27 17:52] shivthepro commented on #218
It's 2.0.0-preview4..

[2017-12-27 18:45] shivthepro commented on #218
Just tried with preview7 sdk too it has the same problem

[2017-12-28 03:10] aaalaniz commented on #218
Hey @shivthepro

I recommend calling `setListener` on `VideoView`. There is an `onFirstFrameRendered` callback that will help you with the delayed video. However, I would like to investigate this delay further. Are you using a group room? Can you provide a Room SID where you see this behavior?

Thanks!

[2017-12-28 06:36] shivthepro commented on #218
Hey @aaalaniz Im using this VideoView backed by TextureView https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2260cbcc8e it does not contain a setListener method. Please add the method to it. Ill check it.

I will get you the SID soon.

Thanks 👍

[2017-12-28 08:48] NehaKushwah993 opened #220 "Need to get amplitude of user's voice sound"
Hi,

I am developing app using Twilio which has feature to display a highlighted view when any user is speaking. Is this possible by using Twilio?
It will be helpful too if I can get my voice recorder instance to detect my voice amplitude only. Because creating recorder to get my voice amplitude is causing issue in transmission of voice in Twilio call, because we can not create 2 instances of reco

[2017-12-28 10:27] sathishvgs commented on #218
Hi @aaalaniz,  In iOS[swift] also I'm facing the same issue.

[2017-12-28 19:43] aaalaniz commented on #220
Hey @NehaKushwah993

I recommend using our Stats API. You can call `getStats` on a `Room` and `audioLevel` is available for local and remote audio track stats.

1.x
[Remote Audio Track Stats](https://twilio.github.io/twilio-video-android/docs/latest/com/twilio/video/AudioTrackStats.html)
[Local Audio Track Stats](https://twilio.github.io/twilio-video-android/docs/latest/com/twilio/video/LocalAudio

[2017-12-28 20:09] aaalaniz commented on #218
Hey @shivthepro

I added a setListener method.

Thanks!

[2017-12-29 06:59] NehaKushwah993 commented on #220
Hi,

Thanks for reply, Can you please give me any example that how can i access RemoteAudioTrackStats or LocalAudioTrackStats objects to get output level?

Thanks

[2017-12-29 12:56] NehaKushwah993 commented on #220
I found use of this Class here in Swift : https://github.com/twilio/video-quickstart-swift/issues/181

I implemeted this in same way and its working for me. Thanks

Needed to add listener in room instance (had to call continuously with delay) :
 try {
                    room.getStats(new StatsListener() {
                        @Override
                        public void onStats(List<StatsRepo

[2017-12-29 12:57] #220 closed

[2018-01-04 13:39] shivthepro opened #221 "Audio Echo on Pixel 2XL"
Im able to hear my voice echoed when other person is connected in a pixel 2 xl device. I think it is a similar issue to this
 -  https://github.com/twilio/video-quickstart-android/issues/65

[2018-01-04 19:32] aaalaniz commented on #221
Hey @shivthepro

What version of the SDK are you using? Are you using a `Peer-to-Peer` or `Group` room?

Thanks!

[2018-01-05 05:32] shivthepro commented on #221
SDK Version : 2.0.0-preview7 and its a group room

[2018-01-05 06:56] BhanuVGowda opened #222 "Programmable video - date_created in GET/Recordings API"
The date_created in the response of GET/Recordings API is rounded-off to secs. Is it possible to get the date_created in milli secs?

[2018-01-05 10:52] sudheeshdh opened #223 "Increase Video quality"
Hi,
Any way to increase the video quality in twilio, I am using the android and IOS sdk for video chating application but the quality of the video feels like an old TV set with a bad grainy feed.  Any possible solution for increasing the quality of the twilio video.

[2018-01-05 18:34] aaalaniz commented on #221
Hey @shivthepro

Have you tried all the suggestions in our [Troubleshooting Audio guide](https://github.com/twilio/video-quickstart-android#troubleshooting-audio)? Does the echo happen only in speaker mode?

Thanks!

[2018-01-05 18:39] aaalaniz commented on #222
Hey @BhanuVGowda

I reported this request to our backend team. I will have more information next week.

Thanks!

[2018-01-05 18:41] aaalaniz commented on #223
Hey @sudheeshdh

I need some more information to investigate this issue. Please provide the following:

- A Room SID where the quality issues occur
- Android SDK version
- Description of network conditions (poor, average, good, great)

Thanks!

[2018-01-06 03:50] shivthepro commented on #221
As far as I know it happens only in speaker mode.. will check it out and ill let you know there may be a delay cause I don't have the mobile now will update here once I test it out.

[2018-01-08 15:03] igracia commented on #222
Thanks @aaalaniz from bouncing this! TBH we hadn't expected that field to be used as the source of truth for synchronizing tracks when merging, as that represents the time when the file is created, which can actually be a bit different from the time the media starts flowing. Also, there's . For that reason, we'd recommend gathering the information from the media file itself that you download. If y

[2018-01-08 23:25] aaalaniz commented on #183
Hey @mcorner

Another update on 2.x documentation. We recently shipped a [1.x to 2.x migration guide](https://www.twilio.com/docs/api/video/migrating-1x-2x-android-20) that provides an introduction to the 2.x SDK as well as migration guidance. I will leave this ticket open because we still have some docs tasks open about explaining why developers should consider switching to 2.x and how it can hel

[2018-01-09 04:12] BhanuVGowda commented on #222
Thank you for the pointer to the mixing guide. You are right, date_created was being used to synchronize tracks.

[2018-01-09 04:12] #222 closed

[2018-01-09 16:23] vmanne opened #224 "exampleVideoInvite - Service Error"
### Description

I'm following the steps to register my app to receive notifications and have added service and push credentials, as detailed in the exampleVideoInvite project - however seeing the following error in my nodejs server side when attempting to register service

{ address: 'e0E0QCvf01U:APA91bHdBiNvpurnbBbscWTeGZTRL08WFQ6oTp0jKGWUDp45OWRr5xei
RXtpgb0mPj3YfeK6FSM-xxx',
  bindingType: 'fc

[2018-01-10 00:30] aaalaniz commented on #224
Hey @vmanne

It appears there is an issue with your account. Can you provide your account SID so I can investigate?

Thanks!

[2018-01-11 13:38] keshav1139 opened #225 "Streaming stops when slide animation is done"
### Description

Streaming stops when slide animation is done

### Steps to Reproduce

1. Start video
2. perform translation x animation

#### Code

[code]
miniLayout is a frame layout and it contains a recycler view, I am streaming in the first item of recycler view and then will start animation slide

My Xml File :-  R.anim.right_slide_for_more_than_one_participant:

[code]

#### Expected Behavi

[2018-01-11 16:41] aaalaniz commented on #225
Hey @keshav1139

I will work on reproducing this issue locally. However, the issue may be caused by the `VideoView` being an extension of `SurfaceView`. Can you try using this gist I put together that allows rendering with a `TextureView` instead. Just copy the two files to your project and use the `VideoTextureView` like you are using the `VideoView` today. We will add an official `VideoTextureVi

[2018-01-11 16:44] aaalaniz commented on #202
Closing due to inactivity. Please reopen if you have any further inquiries @BdeDev

Thanks!

[2018-01-11 16:44] #202 closed

[2018-01-11 18:07] keshav1139 commented on #225
Hey @aaalaniz  I used those files and changed ``` VideoView``` to ```VideoTextureView``` But I am getting this exception:
[code]

Please let me know how can I move ahead..

[2018-01-11 18:10] aaalaniz commented on #225
Hey @keshav1139

Are you setting a background drawable on the `VideoTextureView`?

[2018-01-11 18:14] keshav1139 commented on #225
Hey @aaalaniz

No. I am not.

[2018-01-11 18:17] aaalaniz commented on #225
Thanks for trying out the `VideoTextureView`. Let me investigate more and i'll get back to you.

Thanks @keshav1139

[2018-01-11 18:22] keshav1139 commented on #225
Ok Sure. @aaalaniz

[2018-01-11 23:14] aaalaniz commented on #225
Hey @keshav1139

I tested this out in the quickstart (see attached video) and I am not able to reproduce the problem.

[Animation on RemoteParticipant video with `VideoView`](https://drive.google.com/file/d/1RpyQA_SgBnUIbIUPZ3yPIMDA2gRlCnI2/view?usp=sharing)

You mentioned using a RecyclerView. I have a reference Gist for using a RecyclerView with VideoView. Can you verify that you are handling th

[2018-01-12 12:38] keshav1139 commented on #225
I did not see that issue today @aaalaniz .  I will get back to you further on this later.

[2018-01-15 06:28] itayloryan opened #227 "Add remote video track to custom render cause crash"
### Add remote video track to custom render cause crash

All the code is from exampleCustomVideoRenderer and quickstart

### Steps to Reproduce

1. Integrate the SnapshotVideoRender
2. When remote video track subscribed, add to this custom render
3. app crashed

[code]

#### Expected Behavior

Get the remote video snapshot

#### Actual Behavior

App crashed

#### Reproduces how Often

Always

####

[2018-01-15 15:59] aaalaniz commented on #227
Hey @itayloryan

This issue is a duplicate of #213

Can you elaborate on your use case in #213 ?

Thanks!

[2018-01-16 00:44] itayloryan commented on #227
Thank you @aaalaniz
Actually I have tried on your answers from the issue already exists, but dose not work for me. Below is the log after I move the i420frame capture to main thread, still crashed. Can you help to troubleshot?

[code]

[code]

[2018-01-16 00:49] aaalaniz commented on #227
I'll have a look tomorrow. Thanks for the logs!

[2018-01-16 00:52] itayloryan commented on #227
@aaalaniz Thank you, have a nice rest

[2018-01-16 13:49] shivthepro opened #228 "Setting Name for a video track"
I have to set name for my videotrack before connecting/publishing in order to identify between screen-share and camera for the other end user. Is there a way to set name for the videotrack I was not able to find any methods for it. I hope we can do it in web. I have checked with preview5 docs and Im using the preview7 sdk.

[2018-01-16 14:15] shivthepro commented on #228
Sorry found it in the LocalVideotrack constructor

[2018-01-16 14:15] #228 closed

[2018-01-16 15:52] aaalaniz commented on #227
Hey @itayloryan

I'm investigating your issue today and I need a little more information about your use case. Are you rendering the remote video to a `VideoView` **and** writing a custom renderer that extracts the frame? Or are you trying to just extract the frame in a custom renderer? Please provide answers to the following:

1. Are you rendering local video in your app? (ie video from camera)
2.

[2018-01-17 01:51] itayloryan commented on #227
Thank you @aaalaniz, the custom render is from the demo code in exampleCustomVideoRenderer.
Below is my use case:
1. I do render local video in my app, this is for one of the participant(caller1) in the video session, he/she provide video to another caller(caller 2).
2. I do render the remote video in my app, this is for caller 2, just render to display the remote video from caller 1.  If caller 1

[2018-01-18 16:30] aaalaniz commented on #227
Hey @itayloryan

Apologies for the delayed response. Here is a [gist](https://gist.github.com/aaalaniz/1d3c223ff5a6d9fc58598a995085049b) that may help you with the workaround you need. I have changed `SnapshotVideoRenderer` to extend `VideoView`. Extending `VideoView` ensures that `renderFrame` is called on a thread with an EGLContext and hopefully resolves the crash you are seeing.

Let me know i

[2018-01-19 11:12] shivthepro commented on #218
Hey @aaalaniz
Here are the room details to sort out the black screen issue
   Room SID - RM95823ec66a7bbf3e43a7d10df7302df1
   Room State - CONNECTED
   Device - Samsung Galaxy c7 Pro

The black screen appears after I get the participant videotrack and until his video appears on the screen. I tried using the onFirstFrameRendered callback but it does not help when I change tracks.

[2018-01-19 14:52] aaalaniz commented on #218
Hey @shivthepro

It appears this room resource is no longer available. Can you try to reproduce in another room and send me the SID?

Thanks!

[2018-01-19 15:03] shivthepro commented on #218
Sure - SID-RM997718b55ba262eb143f448277e2d5bf

Thanks !

[2018-01-23 08:16] ravi-culturealley opened #229 "Is it possible to record only audio, no video ?"
### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What you expect to happen]

#### Actual Behavior

[What actually happens]

#### Reproduces how Often

[What percentage of the time does it reproduce?]

#### Logs

[code]

### Versions

All relevant version information for

[2018-01-23 17:20] aaalaniz commented on #229
Hey @ravi-culturealley

Can you provide more details on your use case? Are you interested in recording the local participant's audio or all audio shared to a room?

Happy to field any follow up.

Thanks!

[2018-01-23 18:07] shivthepro commented on #218
Hey @aaalaniz any updates .. are u in need of any information ??

[2018-01-23 19:38] aaalaniz commented on #218
Hey @shivthepro

I apologize for the delays. I did not find anything unusual about this Room. I am reaching out to our Media Server infrastructure team to investigate further. I appreciate your patience.

Thanks!

[2018-01-25 03:15] ACoderMan opened #230 "Route audio output to HDMI"
I am unable to route the audio output on an Android device to the HDMI port. I have setup a BroadcastReceiver that detects when the HDMI connector is inserted. Neither of the following 3  commands work:

 audioManager.setParameters("audio_devices_out_active=AUDIO_CODEC");

audioManager.setParameters("audio_devices_out_active=AUDIO_HDMI");
      audioManager.setParameters("audio_devices_out_active=

[2018-01-25 22:55] aaalaniz commented on #230
Hey @ACoderMan

Are you able to route other audio (song or sound effect) through HDMI? I'll have to investigate this further. Are you just trying to plug an Android device to a TV and connect to a Room?

Thanks!

[2018-01-26 12:33] ACoderMan commented on #230
Aaron
Yes I can route other audio through the HDMI port. I wrote a simple test
app using a WebView. When setting the URL to a streaming video the audio
and video automatically switched from the speakers to the HDMI port when
connected to a TV. I did not need a BroadcastReceiver the Android OS took
care of it automatically.

You are correct in my app I am connected to a Room and want to display the

[2018-01-26 15:24] aaalaniz commented on #230
Hey @ACoderMan

I investigated this issue further and didn't find much insight. Can you try setting the mode of `AudioManager` to `MODE_NORMAL`

`audioManager.setMode(AudioManager.MODE_NORMAL);`

Currently in our quickstart we recommend `MODE_IN_COMMUNICATION` and that may affect the way audio is routed. Can you provide the following additional details too?

- Video Android SDK Version
- Android D

[2018-01-26 16:22] rishabhja1994 commented on #126
@aaalaniz Hello.. I am also experiencing the same error. What i have done is that created the local video track in onResume and released it in onPause. But when i open another activity trying to use camera, it crashes

[2018-01-26 16:27] aaalaniz commented on #126
Hey @rishabhja1994

Can you open a separate issue for the problem you are describing and provide snippets of how you are using the camera in the other activity?

Thanks!

[2018-01-26 16:28] rishabhja1994 commented on #126
Hi

Thanks for your reply. Should i share my complete code with you?

[2018-01-26 16:30] aaalaniz commented on #126
Hey @rishabhja1994

Open a separate Github issue and share your code there. Thanks!

[2018-01-26 16:52] rishabhja1994 opened #233 "Failed to close camera connection"
### Description

I am facing a crash whenever i try to use camera resource in 2 different places in my app.

### Steps to Reproduce

1. Open second activity with camera from the first camera activity
2.Close the second activity
3. App crashes

#### Code

https://github.com/rishabhja/TwilioTest

#### Expected Behavior

App should not crash

#### Actual Behavior

App crashes

#### Reproduces how Oft

[2018-01-26 17:21] rishabhja1994 commented on #233
Can someone check this on priority? I have to test it so that i can deploy it in our application

[2018-01-26 17:22] aaalaniz commented on #233
Hey @rishabhja1994

Does the problem occur on any other devices?

[2018-01-26 17:51] rishabhja1994 commented on #233
yes

[2018-01-26 17:52] rishabhja1994 commented on #233
You can test by building the project. Just click on Join call and click back button. The app crashes

[2018-01-28 02:48] ACoderMan commented on #230
Aaron

I ran some tests and got interesting results. These tests were made using
the Twilio Programmable Video 1.0.0 SDK. I tested 2 Android 4.4 devices, a
Teclast x98 Air 3G tablet and a LG E-980 phone with a SlimPort cable.
Neither of them would produce audio out of the HDMI connector when set to
MODE_NORMAL or MODE_IN_COMMUNICATION.

I rested a Teclast P89H tablet with Android 6.0 The HDMI audi

[2018-01-29 06:02] rishabhja1994 commented on #233
Any progress?

[2018-01-29 10:02] rishabhja1994 opened #234 "How to render audio of multiple participants without creating multiple views"
I need to do audio call without creating multiple video views? How can i do that

[2018-01-29 17:34] idelgado commented on #234
There is no need to add a `View` for audio to playback. As audio tracks are published they will get mixed into the audio stream that is played back on the output device.

[2018-01-29 17:48] rishabhja1994 commented on #234
So basically, audio stream works independent of the video stream?

[2018-01-29 19:09] idelgado commented on #234
That’s correct

[2018-01-31 13:33] shangeethsivan opened #235 "Handling low network speed or network drop"
I can find out if there is a total drop of the internet connection if wifi or data is being turned off.
But If Im **connected on wifi but no internet** in this case Im not able to handle it and we get a frozen screen.

If Im able to detect it I can notify my users that they are on a slow internet connectivity or the connectivity is broken.

Is there any built in call back for it or should I check

[2018-01-31 14:55] aaalaniz commented on #233
Hey @rishabhja1994

I apologize for the delayed response. I've been out sick for a few days. I'll try the test project today.

[2018-01-31 14:57] aaalaniz commented on #234
Closing because looks like question was answered. @rishabhja1994 please reopen if you have any further questions.

Thanks!

[2018-01-31 14:57] #234 closed

[2018-01-31 15:25] aaalaniz commented on #230
Hey @ACoderMan

I really appreciate you doing further testing. Based on your findings it looks like the behavior is not consistent across API levels. Can you elaborate on your use case? Does your app require that users connect to a TV often?

Thanks!

[2018-01-31 16:10] aaalaniz commented on #235
Hey @shivthepro

The SDK does not have any network quality callbacks or APIs.

However, a network quality API is on our roadmap this year. The purpose of the Network Quality API is to help developers handle different network scenarios in a Twilio Video application. You can try working with [connection-class](https://github.com/facebook/network-connection-class) developed by Facebook. This library

[2018-01-31 16:49] ACoderMan commented on #230
My use case can best be described as a remote participant of a meeting. The
participant can view the speaker as well as images or videos that are
displayed on monitors in the meeting. They can also raise their hand and
their name shows up on a display at the podium. When called upon a
microphone image shows up on the participant's screen to let them know it
is OK to talk.

In the majority of cases

[2018-01-31 19:33] aaalaniz commented on #233
Hey @rishabhja1994

I ran the test project provided and was not able to reproduce the problem on any of my devices. I wonder if this is a problem with just the One Plus 5? What devices are you experiencing the issue on?

Thanks!

[2018-02-05 08:36] rishabhja commented on #233
The crash can be reproduced everytime. Just press connect button and then press back button instantaneously as the new screen opens. then it would crash.

[2018-02-06 14:41] rishabhja commented on #233
@aaalaniz What is the difference between onVideoTrackPublished and onVideoTrackSubsribed?

[2018-02-06 14:46] rishabhja opened #236 "Help understanding participant listener methods"
Can you add documentation or explain the methods in RemoteParticipant.Listener

[2018-02-06 14:59] aaalaniz commented on #236
Hey @rishabhja

I recommend [reading the answer I provided on another issue](https://github.com/twilio/video-quickstart-android/issues/183#issuecomment-339120770). In addition, I recommend reading our [migration guide](https://www.twilio.com/docs/api/video/migrating-1x-2x-android-20). Even if you are not migrating from 1.x to 2.x the guide is still useful for understanding the 2.x API.

Thanks!

[2018-02-07 09:52] iamjitendrasinh opened #237 "help to notify particular user about attempt to create room by other user"
In this example all user receives notification about some user try to create room. is it possible if only particular user get notify when some user wants to create room?

[2018-02-07 22:46] aaalaniz commented on #237
Hey @iamjitendrasinh

You could use the tags feature of [Twilio Notify](https://www.twilio.com/notify/api) to accomplish this. Use a unique identifier of a user as a tag and have only that user register for notifications with that identifier. Then your calling user could send a notification to the unique identifier of the user they want to notify.

Happy to field any follow-up.

Thanks!

[2018-02-07 23:15] idelgado commented on #237
Notify allows you to send notifications to specific identities as well as tags. In order to do this you will need to modify the existing sendNotification [model object](https://github.com/twilio/video-quickstart-android/blob/master/exampleVideoInvite/src/main/java/com/twilio/video/examples/videoinvite/notify/api/model/Notification.java) to have an `Identity` field. Once you've added the Identity f

[2018-02-07 23:22] idelgado commented on #237
Note that in order to notify a specific identity you don't need to specify a tag

[2018-02-12 14:13] rishabhja commented on #236
@aaalaniz I could not find it anywhere about on which thread are the callback methods executed (Ui, or some other thread)? Should I assume that they are executed asynchronously as well?

[2018-02-12 14:58] aaalaniz commented on #236
Hey @rishabhja

RemoteParticipant callbacks are asynchronous and invoked on the same thread that called `Video.connect`. I do not see this contract documented anywhere in our API docs or guides. I will create a task for this so other developers do not encounter the same confusion.

Thanks!

[2018-02-13 14:25] rishabhja commented on #236
Thanks for the quick reply. One query that i also faced was that if the callback methods are guranteed to be executed in order. For example, is it possible that i receive a disconnect event of a participant later than his reconnection(his second onConnected event) event.

[2018-02-13 15:12] aaalaniz commented on #236
Hey @rishabhja

The callback methods should be executed in order. In the scenario you describe the expected sequence of callback events should be:

Initial participant connected callback
`onParticipantConnected`

Participant disconnected
`onParticipantDisconnected`

Participant reconnected
`onParticipantConnected`

If you are receiving these callbacks in a different order for the scenario describe

[2018-02-13 18:47] rishabhja commented on #236
Thanks for the information. I just wanted to confirm if that could happen.

How is it conveyed via sdk if a user has turned off his video?

[2018-02-14 13:51] hakter1 commented on #176
I also tried to get the Media from twilio, I got undefined. I used the following api

const Twilio = require('twilio');
const request = require('request');

const apiKeySid = 'SKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';
const apiKeySecret = 'your_api_key_secret';
const accountSid = 'AC13c53b0584554637035cb9ac41a8b8d1';
const client = new Twilio(apiKeySid, apiKeySecret, { accountSid: accountSid });

const

[2018-02-14 16:28] aaalaniz commented on #176
Hey @hakter1

According to the [Recordings REST API docs](https://www.twilio.com/docs/api/video/recordings-resource), I think you need to remove `Rooms/${roomSid}/` from your request URI. Let me know if this solves your issue.

Thanks!

[2018-02-14 18:44] hakter1 commented on #176
I did try without room/{sid}, that did not work either

 var client = new Twilio(global.RP.api_key, global.RP.secret_key, { accountSid: global.RP.accountSid });

  const request = require('request');

  const uri = `https://video.twilio.com/v1/Recordings/${id}/Media`;

  client.request({ method: 'GET', uri: uri }).then(response => {
    const mediaLocation = JSON.parse(response.body).redirect_to;

[2018-02-14 19:12] rishabhja commented on #236
Okay.

VideoView.Listener gives me a firstFrame callback. Is it for the first frame that gets rendered onto it?

[2018-02-14 19:34] aaalaniz commented on #236
Hey @rishabhja

Yes this callback is invoked when VideoView renders the first frame. Can you post a crash log?

Thanks!

[2018-02-14 19:42] rishabhja commented on #236
The crash was due to the fact that the callback was not executed on UI thread. But I am not getting callback for the first frame rendered sometimes. My use case is that till the time the first frame in not rendered, i need to show a placeholder instead of empty videoview. So, i have attached the listener as soon as i create the view. But it does not get called.

`package to.go.ui.utils.views;

imp

[2018-02-14 19:49] aaalaniz commented on #236
Hey @rishabhja

I can't tell from the snippet but is it possible that the VideoView is added to the video track as a renderer before the VideoView listener is set?

[2018-02-14 19:54] rishabhja commented on #236
I checked that case. The issue is that, assume a VideoView was streaming a track. If i remove that track and start another, then firstFrameRendered is not called

[2018-02-14 20:03] aaalaniz commented on #236
Ah I see! Good catch.

Currently this is the expected behavior, but I definitely see the value in surfacing the first frame rendered for each video track instead of just the first frame the VideoView renders. I'll had a task to our backlog to explore supporting this.

I can think of two workarounds for this issue.

1. Use a unique VideoView for each VideoTrack. This ensures that first frame callba

[2018-02-14 20:09] rishabhja commented on #236
I can't do that because that would use a lot of memory. Also, the time that a video starts is pretty large sometimes.. so I would need some other way out for this

[2018-02-14 20:17] aaalaniz commented on #236
Hey @rishabhja

I'm closing this issue because I think the original questions have been answered. I'll open up a new issue capturing this request and prioritize the work ASAP.

Thanks

[2018-02-14 20:17] #236 closed

[2018-02-14 20:39] aaalaniz opened #243 "Support onFirstFrame callback for each VideoTrack a VideoView renders"
### Description

@rishabhja points out in #236 that `onFirstFrame` is only called when a VideoView renders the first frame of the first VideoTrack it renders. If the VideoView is removed as a renderer from a VideoTrack and then added back as a renderer on another VideoTrack then `onFirstFrame` is not invoked.

This is currently expected behavior, but there is value in receiving a unique onFirstFra

[2018-02-15 16:06] aaalaniz commented on #243
Hey @rishabhja

After investigating this request further @idelgado and I came up with a better workaround. I suggest using [this class](https://gist.github.com/aaalaniz/b88e1977a56015ad391ad8523a3865aa) to render video tracks. This CustomVideoView notifies when the first frame is rendered and the first frame after calling `resetListener`. Reference the snippet below for reusing the CustomVideoView

[2018-02-15 16:15] shivthepro commented on #243
Can I get the same listener set up for the [VideoView backed up by TextureView ](https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2260cbcc8e#file-videotextureview-java)

[2018-02-15 16:18] aaalaniz commented on #243
Hey @shivthepro

You should be able to reuse the same class but just extend VideoTextureView instead of VideoView.

[2018-02-15 16:21] shivthepro commented on #243
@aaalaniz
I'll add the interface to it instead :)

[2018-02-15 16:25] aaalaniz commented on #243
One thing I forgot to mention. @shivthepro @rishabhja

[CustomVideoView](https://gist.github.com/aaalaniz/b88e1977a56015ad391ad8523a3865aa) is not thread safe. This shouldn't be a problem for you use case, but just thought I would let you know.

[2018-02-15 16:46] rishabhja commented on #243
Thanks for the help. This would surely solve my use case 👍

[2018-02-15 17:20] aaalaniz commented on #243
I'm closing this issue because modifying the behavior of `VideoRenderer.Listener` is not on our roadmap and the provided workaround seems suitable for the use cases.

Thanks @shivthepro @rishabhja !

[2018-02-15 17:20] #243 closed

[2018-02-15 17:23] aaalaniz commented on #218
Closing because workaround provided in #243 resolves this issue.

Thanks @shivthepro !

[2018-02-15 17:23] #218 closed

[2018-02-15 17:40] shivthepro commented on #243
That is great to know VideoRenderer.Listener's behaviour would change accordingly..  Expecting the update soon.

Thanks @aaalaniz

[2018-02-16 14:09] lwilio commented on #176
Hi @hakter1, could you please do `console.log(uri)` just before the `client.request(...`? Could you also log the `response.body` content and share all that information with us? My guess is that you should better construct the uri this way:
`const uri ='https://video.twilio.com/v1/Recordings/' + id + '/Media';`
But I would appreciate if you could share the above-mentioned information to confirm.

[2018-02-16 14:22] hakter1 commented on #176
I resolved the issue. The Recording SID was wrong. Thank you.

[2018-02-16 18:26] igracia commented on #176
@hakter1 it would probably be a good idea to include some error handling in that code. That way you'll find those issues faster.

[2018-02-20 10:08] RomanRadkoMasslight opened #244 "ANR caused nativeRelease() call, Android 6 only"
### Description

Application is not responding when internet connection is lost.

### Steps to Reproduce

1. Start a call (dialer has accepted the call).
2. Disable internet connection (to emulate lost).
3. ANR dialog appears.

#### Code

ANR caused by long performing of the nativeRelease() on the main thread (Android 6 only)
It has been found by analyzing a method trace
[code]

#### Expected Beha

[2018-02-21 15:45] aaalaniz commented on #244
Hey @RomanRadkoMasslight

Is this bug reproducible in the quickstart?

Thanks!

[2018-02-21 18:24] rishabhja opened #245 "Devices gets heated when using p2p"
### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What you expect to happen]

#### Actual Behavior

[What actually happens]

#### Reproduces how Often

[What percentage of the time does it reproduce?]

#### Logs

[code]

### Versions

All relevant version information for

[2018-02-21 18:51] bernardomesk opened #246 "onDisconnect event not called"
Web application kicks me out of the room, the onDisconnected(Room room, TwilioException e) event on android device is not called. Worked fine with 1.3.0. I am using now the 2.0.0 beta1.

Web application endpoint called:
- POST
- https://video.twilio.com/v1/Rooms/' + roomName + '/Participants/' + participantIdentity
- formData.append('Status', 'disconnected');

[2018-02-21 23:26] #246 closed

[2018-02-22 13:16] rishabhja opened #247 "Error while using VideoTextureView in RecyclerView"
I am getting Already initialized error in EglRendered.init

[2018-02-22 13:23] rishabhja opened #248 "How to route audio output to headphones?"
By default, audio output goes only to speaker. it does not go through the headphone

[2018-02-22 15:39] aaalaniz commented on #224
Hey @vmanne

I'm closing this issue due to inactivity. Please reopen if you have further questions.

Thanks!

[2018-02-22 15:39] #224 closed

[2018-02-22 15:40] aaalaniz commented on #225
Hey @keshav1139

I'm closing this issue. Please reopen if you have any issues with animating a video view.

Thanks!

[2018-02-22 15:40] #225 closed

[2018-02-22 15:44] aaalaniz commented on #233
Hey @rishabhja

I'm closing this issue as i'm not able to reproduce. I recommend trying to reproduce the scenario in the quickstart.

Thanks!

[2018-02-22 15:44] #233 closed

[2018-02-22 15:45] aaalaniz commented on #237
Hey @iamjitendrasinh

I'm closing this issue. Please reopen if you have further questions about using Notify with Video.

Thanks!

[2018-02-22 15:45] #237 closed

[2018-02-22 15:47] rishabhja commented on #245
Is it possible to render video on some other thread rather than the UI thread? When multiple videos are running, it makes the UI thread slow

[2018-02-22 16:06] aaalaniz commented on #248
Hey @rishabhja

[Check out the quickstart](https://github.com/twilio/video-quickstart-android/blob/master/quickstart/src/main/java/com/twilio/video/quickstart/activity/VideoActivity.java#L206) for switching the audio output.

[code]

Thanks!

[2018-02-22 16:06] #248 closed

[2018-02-22 16:06] idelgado commented on #245
We recommend that you use Group Rooms for more than 2 participants if you are planning to share video. In a P2P room each participant must send the media tracks to each other participant. This causes the device to perform a lot more work on the sender side. In Group Rooms each media tracks is only sent once, to the media server.

Since renderers draw to an Android View the work must be done on the

[2018-02-22 16:07] idelgado commented on #247
Please provide more information about your problem using the issue template.

[2018-02-22 16:07] #247 closed

[2018-02-22 17:06] rishabhja commented on #248
I am asking about headphones and not headset

[2018-02-22 17:08] aaalaniz commented on #248
If user has headphones connected the audio will be routed to the headphones when you invoke `audioManager.setSpeakerphoneOn(false);`

[2018-02-24 14:11] seanadkinson commented on #221
@aaalaniz I also experienced echo and volume issues with a Pixel 2.  Disabling OpenSL ES seems to have fixed it for me.

[2018-02-26 07:38] shivthepro opened #250 "Getting a crash while using VideoView backed by TextureView.."
### Description

Getting a crash while using VideoView backed by TextureView. Crash Occurs when I try to change orientation of mobile continuously.

### Steps to Reproduce

1. Use a VideoView backed by textureView [https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2260cbcc8e](click here)
2. Create a room and land into the call page which has the VideoView in it..
3. Try rotating the mobile an

[2018-02-26 14:44] shwetha-DabKick opened #251 "Failed to close camera exception even when video is not started"
### Description

Even when I have not started twilio video I am getting failed to close camera exception

### Steps to Reproduce

1. Start android camera
2. capture image
3. close camera

#### Code

[code]

#### Expected Behavior

No twilio exception should be found
#### Actual Behavior

Application crashes with twilio exception
#### Reproduces how Often

always
#### Logs

[code]

### Versions

Al

[2018-02-26 14:44] #251 closed

[2018-02-26 14:46] keshav1139 opened #252 "failed to close camera exception even when twilio video is not started"
#Description
Even when I have not started twilio video I am getting failed to close camera exception

#Steps to Reproduce
1. Deny permission for camera
2. Go to Settings enable permission
3. Start android camera
4. capture image
5. close camera
Code
#Expected Behavior
No twilio exception should be found

#Actual Behavior
Application crashes with twilio exception

#Reproduces how Often
always

###L

[2018-02-26 15:15] aaalaniz commented on #221
Thanks for the tip @seanadkinson !

@shivthepro can you confirm this resolves the echo problem?

Thanks!

[2018-02-26 15:36] aaalaniz commented on #252
Hey @keshav1139

Can you share a code snippet of what is causing this crash?

Are you calling `takePicture` and then releasing the `LocalVideoTrack` ?

Thanks!

[2018-02-26 15:49] keshav1139 commented on #252
Hey @aaalaniz I am not calling release on ```LocalVideoTrack``` since I have not started video yet.
I am calling take picture using camera preview and stopping the preview using ```camera.release```

[2018-02-26 15:56] aaalaniz commented on #252
Hey @keshav1139

Are you calling the Camera API yourself? Can you share some snippets of the Camera API calls and Video Android SDK calls so I can understand what the potential problem may be.

Thanks!

[2018-02-26 15:59] aaalaniz commented on #250
Hey @shivthepro

Are you allowing the activity to be destroyed on orientation changes or are you using `android:configChanges="orientation|screenSize"` in your AndroidManifest.xml?

Thanks!

[2018-02-26 16:06] keshav1139 commented on #252
Hey @aaalaniz

I am using the following  class for calling camera
[code]
I am sorry I had missed a step, this happens only when the camera permission is denied by the user initially and then when he goes to settings to enable the permission and open the app.

I am calling the following video sdk related calls
[code]

[2018-02-26 16:52] shivthepro commented on #250
Tried this but the same issue occurs again..

[2018-02-26 16:59] aaalaniz commented on #252
Thanks @keshav1139

I'll investigate this issue and get back to you.

[2018-02-26 17:43] keshav1139 commented on #252
Sure @aaalaniz

[2018-02-27 14:26] rishabhja opened #253 "How to disable audio from twilio sdk?"
I am unable to mute audio from twilio call which is  a problem as i can hear twilio audio during phone calls

#### Code

[code]

#### Expected Behavior
Audio from twilio call should get muted

#### Actual Behavior
Does not work

[2018-02-27 16:09] aaalaniz commented on #253
Hey @rishabhja

Here is everything you need to know about muting audio in your application. These snippets are for the the 2.x version of the Video Android SDK.

#### Muting Local Audio
There are two options for muting local audio.

[code]

#### Muting Remote Audio

[code]

[2018-02-28 14:21] rishabhja opened #254 "Crashed when i try to disconnect room before any of the callback(onConnected, onDisconnected, onConnectFailure) executes"
Crash log:
A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 29764 (RoomNotifier - )

I can reproduce this every time

[2018-02-28 14:30] aaalaniz commented on #254
Hey @rishabhja

Please follow the [issue template](https://github.com/twilio/video-quickstart-android/blob/master/.github/ISSUE_TEMPLATE.md) as closely as possible when opening issues. The issue template helps our team understand the problem so we can investigate more effectively. Please re-open with more details.

Thanks!

[2018-02-28 14:30] #254 closed

[2018-02-28 14:35] rishabhja opened #255 "Crash on disconnecting room"
### Description

App crashes when video activity is closed before any of the callbacks is fired (onConnectFailure, onConnected)

### Steps to Reproduce

1. Start connecting to room
2. Close before any of the callbacks is fired for connection failure or disconnection

#### Expected Behavior

App should not crash

#### Actual Behavior

App crashes

#### Reproduces how Often

100%

#### Logs

[2018-02-28 16:01] ayavilevich opened #256 "CustomCapturer from TextureView/SurfaceTexture"
### Description

I have a closed third-party component that renders video to a SurfaceTexture provided by a TextureView.
I would like to send that video to a Twilio video room as a track.

Is there a way for me to get the oesTextureId from a SurfaceTexture?
I can call SurfaceTexture.getTransformMatrix(float[]) to get the matrix and it seems I am very close to creating valid VideoFrames.

#### Code

[2018-02-28 16:40] rishabhja commented on #255
Can you please provide any help on this? I am a paid user for twilio and need to release this at priority.

[2018-02-28 16:59] aaalaniz commented on #255
Hey @rishabhja

Does the crash occur in the quickstart?

[2018-02-28 17:05] rishabhja commented on #255
I have not tried it on that. But it does occur in my application

[2018-02-28 17:52] aaalaniz commented on #255
Hey @rishabhja

Investigating a lead on this crash. I'll keep you posted.

Thanks!

[2018-02-28 17:56] rishabhja commented on #255
I fixed it. It was crashing because i was calling room.disconnect 2 times. But still, i think it should not crash

[2018-02-28 17:58] aaalaniz commented on #255
Hey @rishabhja

Yup you found it 😄

I'm working on a fix with a corresponding test. I'll keep you posted.

Thanks!

[2018-02-28 18:03] rishabhja commented on #255
Sorry to ask it in this post. But does your sdk support accepting a custom logger instead of using Log.d? My app uses slf4j

[2018-02-28 18:10] rishabhja commented on #255
Thanks for resolving the issue

[2018-02-28 18:14] rishabhja opened #257 "Error while using VideoTextureView in RecyclerView"
### Description

I get a crash while scrolling videos in Recycler view of TextureViews.

### Steps to Reproduce

1. Scroll the list of videos

#### Expected Behavior

App should not crash

#### Actual Behavior

App crashes

#### Reproduces how Often

100%

#### Logs

[code]

### Versions

#### Video Android SDK

2.0.0-preview 5

#### Android API

26

#### Android Device

OnePlus, Xiaomi

[2018-02-28 18:23] aaalaniz commented on #255
We do not support a custom log interface, but this seems like a reasonable feature request. Can you open a new Github issue with this enhancement? Thanks!

[2018-02-28 18:24] rishabhja commented on #255
Will surely do that :). I am sorry to make this delayed request, but can you help me with the texture view issue I just opened

[2018-02-28 22:43] aaalaniz commented on #256
Hey @ayavilevich

Our version of WebRTC does support capturing from a texture, but we do not expose an API in our `VideoCapturer`.

Can you share your custom capturer? I'd like to explore enabling this use case.

Thanks!

[2018-02-28 22:47] aaalaniz commented on #257
Hey @rishabhja

Does this same crash occur when using our normal `VideoView`? Can you reference my [RecyclerView](https://gist.github.com/aaalaniz/b779b12d2887c32576ffa4d5828b88c1) example?

Thanks

[2018-03-01 05:03] rishabhja commented on #257
It does not occur with VideoView

[2018-03-01 07:52] ayavilevich commented on #256
Hi @aaalaniz ,

I saw there is a non-public constructor in VideoFrame that works with textures. I assume it will be easy to set a VideoFrame with a textureId using reflection. The problem is that I don't have a textureId. I just have a TextureView/SurfaceTexture.

I don't have anything working yet. I am sharing a mock-up of a capturer that I have in my mind. LMK if you need anything else to take a

[2018-03-01 10:42] ayavilevich opened #258 "YUV420 VideoPixelFormat for CustomCapturer"
### Description

VideoPixelFormat currently offers RGBA_8888 or NV21 options.
Based on my understanding, webrtc internally works with I420 frames which is different from both offered options. I am assuming that conversion happens at some point from the source format to I420.
I have a YUV stream that is planar (YUV420) and not semi-planar (NV21/NV12) that I would like to feed into the capturer. It

[2018-03-01 13:34] shivthepro commented on #250
@aaalaniz  I have tried adding the configChanges.. But it does not help in solving the issue.. having the problem.. Can you please check into it.

[2018-03-01 21:09] aaalaniz commented on #250
Does this crash occur with our regular VideoView? This will take me some time as `VideoTextureView` is not part of our SDK.

[2018-03-01 21:17] aaalaniz commented on #258
Hey @ayavilevich

You are correct about the conversion. We use [libyuv](https://chromium.googlesource.com/libyuv/libyuv/) to convert the capturer frames. Unfortunately there is no way to pass in YUV420 frames without a conversion. We have a story in our backlog about supporting more formats, but it's currently not prioritized.

[2018-03-02 08:29] ayavilevich commented on #258
Hi @aaalaniz

Thanks for the reply. Hope this will be prioritized. Meanwhile, are there any workarounds? Is there a way for me to call the functions of the bundled libyuv library from java?

[2018-03-02 17:58] aaalaniz commented on #253
Closing this issue for now. Please reopen if you need further assistance.

Thanks!

[2018-03-02 17:58] #253 closed

[2018-03-02 17:59] aaalaniz commented on #255
Hey @rishabhja

This bug is resolved and going through internal testing. I will be shipping a fix on 1.x today and a 2.x fix first thing next week.

Thanks!

[2018-03-02 18:00] aaalaniz commented on #252
I believe I have a fix for this issue. I'll keep you updated on the release timeline.

Thanks!

[2018-03-02 19:51] shwetha-DabKick commented on #252
Hey @aaalaniz  sure. Thank you. Will be waiting for the new release.

[2018-03-02 19:52] keshav1139 commented on #252
hey @aaalaniz Sure. Thank you. Will be waiting for new release.

[2018-03-06 05:56] aaalaniz commented on #258
Hey @ayavilevich

Unfortunately there is no way to call the libyuv library from our SDK at this time.

[2018-03-06 11:35] Mahawbc opened #261 "Outgoing call reject not working"
**Outgoing call reject not working**

When i make outgoing call its connecting to receiver. In receiver side before pick the call they disconnect the call it disconnected but in sender side call not disconnecting. timer for the call duration still running after the call disconnected by receiver side.

**Voice-quickstart-andriod-sdk**

Android studio 3.0.1
Android Build version 25.0.0
Android Gradl

[2018-03-07 18:34] emphassis opened #262 "Video Capturer class missing"
### Description
Based on what I see the 2.0.0-preview8 is the newest version of this SDK.
In the example code, in the CameraCapturerCompat class, you have a method called getVideoCapturer(), which essentially just grabs the device camera without any way to enable the video constraints that is built into the SDK for other platforms. We have developed a cross platform application that uses these con

[2018-03-07 21:39] emphassis commented on #262
I had another test trying a different route with the same results....
`VideoDimensions videoDimensions = new VideoDimensions(640,480);
        VideoPixelFormat videoPixelFormat = RGBA_8888;
        localAudioTrack = LocalAudioTrack.create(this, true, LOCAL_AUDIO_TRACK_NAME);
        cameraCapturerCompat = new CameraCapturerCompat(this, getAvailableCameraSource());
        cameraCapturerCompat.getV

[2018-03-07 21:52] aaalaniz commented on #261
Hey @Mahawbc

The issue you are describing appears to be related to Voice Android SDK. You can file an issue on their [quickstart](https://github.com/twilio/voice-quickstart-android).

Thanks!

[2018-03-07 21:52] #261 closed

[2018-03-07 22:02] aaalaniz commented on #262
Hey @emphassis

I'll address each item below.

Latest 2.x SDK is `2.0.0-beta2`. I recommend updating to this version.

Are you using [Twilio Video Recordings](https://www.twilio.com/docs/api/video/recordings-resource) or another method? Can you provide a sample recording that demonstrates the skewed video?

There is no way to force a particular resolution. The SDK will adapt to network conditions

[2018-03-08 19:33] ayjindal opened #263 "Getting signaling connection error on connecting to a room"
### Description

We are getting a connection failure due to "Signaling connection error". What are the possible causes for that?
### Steps to Reproduce

1. Create a room from a different client
2. Get access token to connect to that room
3. Make the connect call
4. Get `com.twilio.video.TwilioException: Signaling connection error`

#### Code

[code]

#### Expected Behavior

Video gets connected

#

[2018-03-09 12:25] brownpixel commented on #248
I noticed this as well and realized that for bluetooth headsets, the `audioManager.setSpeakerphoneOn(false);` seems to only work if you set the mode in the audio manager to `AudioManager.MODE_IN_CALL` before setting the speaker boolean

[2018-03-09 18:10] rishabhja opened #264 "Custom Logger support for Twilio"
Is it possible to submit our own logger to twilio for logging?

[2018-03-09 18:12] rishabhja commented on #257
Any update on this?

[2018-03-09 20:10] aaalaniz commented on #257
Apologies, but no update on this effort. Based on the log, have you tried using a flag to prevent init from being called more than once?

[2018-03-09 20:15] aaalaniz commented on #263
Hey @ayjindal

Can you turn up log level, retry your steps, and then post the log here?

Execute this code anytime before connecting to a room to turn up logs

[code]

Thanks!

[2018-03-09 23:34] Vivek-sagar opened #265 "Can't get video to render in basic video app"
### Description
I have a very simple app that's just attempting to display remote video. I am using the quickstart-v2 sample app on one device and trying to connect to another device with my app.

### Steps to Reproduce

1. Run PabloProto on device1
2. Run quickstart-v2 on device2 and connect to room "tp".

#### Code

[code]

#### Expected Behavior
The app is supposed to display remote video on th

[2018-03-10 14:27] ayjindal commented on #263
Hey, it started connecting in its own without any code changes on the same network. Could you help me understand the scenarios in which this error could occur?

[2018-03-10 14:30] aaalaniz commented on #263
Hey @ayjindal

Can you provide a full log so I can investigate the problem?

Thanks!

[2018-03-10 14:37] ayjindal commented on #263
Hey, not able to reproduce now. I'll set the log level and share if it happens again. If you could help me understand this error a bit, it would be great. :)

[2018-03-12 14:28] aaalaniz commented on #265
Hey @Vivek-sagar

Are you able to reproduce this problem in the quickstart?  Can you share how the `view` you add as a renderer is setup in your layout file or activity?

Thanks!

[2018-03-12 17:22] Vivek-sagar commented on #265
Hey @aaalaniz ,
quickstart works perfectly fine!
Here's my activity_main.xml:
[code]

Note: I was using a fragment earlier. I moved all the code into MainActivity now and i still get the same result.

[2018-03-13 05:55] rishabhja commented on #248
@brownpixel The above approach is not working for me

[2018-03-13 14:45] rishabhja commented on #257
I will try that and update you

[2018-03-14 15:33] emphassis commented on #262
So I had an idea as a workaround, but I haven't been able to get it to work. I've had two different results.
So in one test, I created another VideoView, used the VideoCapturer class with the create local video track method to get the camera. The VideoView was hard coded at 640x480. I created another localVideoTrack using ViewCapturer to get the view from the VideoView and put that in the primaryV

[2018-03-21 12:38] rishabhja commented on #264
Can we put this on priority?

[2018-03-21 18:59] kedartoraskar commented on #264
@rishabhja - Twilio Video PM here - can you please provide us with more details about your logger. Would be great to understand what is missing from the logger we ship with the SDK that doesn’t meet your needs. You can reach out to me directly at ktoraskar@twilio.com

[2018-03-21 19:05] rishabhja commented on #264
@kedartoraskar The logger used by the sdk is not accessible to me. The logger we use for our code writes the logs to a file and sends it to crash reporting tools which helps in debugging. Basically, i just need a method to change the logger to my own logger in the sdk. That would solve my purpose.

[2018-03-22 15:58] mcorner opened #266 "Frozen remote video after reconnection"
### Description

Remote video remains frozen on android device after a sufficiently long disconnection.  We are using an android client and a javascript/desktop remote.

### Steps to Reproduce

1. Start video session (Group Room) between an android client (we will call this local) and a desktop/js client (we will call this remote)
2. Turn off wifi on the android device for about 20+ seconds
3. Tur

[2018-03-22 16:03] aaalaniz commented on #266
Hey @mcorner

Are you using Group rooms? I believe you are encountering a current issue with our backend. This issue is actively being worked on and was first reported on our [Video iOS quickstart](https://github.com/twilio/video-quickstart-swift/issues/154).

[2018-03-22 16:06] mcorner commented on #266
Ha, I just remembered to include that in my bug report, yes, group rooms.  Sounds like the same bug.

We are trying to track down a number of problems that occur on bad network connections. Generally recovering from a bad network is flaky and leads to missing video on one side or another.

Any ETA?

[2018-03-22 16:17] mcorner commented on #266
I think what is probably happening on our side is that a user's wifi degrades, android switches to cellular, and/or later switches back.  None of that ends up being seamless or recoverable.

So is our only option to switch to P2P rooms?  Unfortunately we would lose recording, something that we have been using.

[2018-03-22 16:31] mcorner commented on #266
One last thing...we tried p2p and can confirm that this is exactly the bug.  Handoff works really well on p2p.

[2018-03-23 10:49] mayurm-virtueinfo opened #267 ""Signaling connection error""
### Description

Hello, I have implemented TwilioVideo in my application. Due to some problem i cannot send you apk. But i can send you screenshot. Video is working fine but some time i gets TwilioException which says "Signaling connection error". I have searched about this but could not find the reason why i am getting this exception. So, I hope i can here your kind response on this issue and pro

[2018-03-23 11:26] mayurm-virtueinfo opened #268 "primaryVideoView showing transparent after videoTrack.addRenderer(primaryVideoView);"
### Description
Hi,
I am using TwilioVIdeo Chat in my Application please do not share any of video content which i have added in .zip file due to NDA signed.

**Problem is that When i connected to room and add participant video to primary video. It takes time to render videoTrack. So, til videoTrack is not rendered, SurfaceViewRenderer gets Transparent. This is the issue. In Video, See timing from

[2018-03-23 18:39] aaalaniz commented on #268
Hey @mayurm-virtueinfo

Unfortunately, there is not much that can be done in our SDK to reduce the negotiation time of media, so there will be cases where it takes seconds to see the first video frame. However, as a workaround can you show a temporary UI element until the first frame is received? You can call setListener on `VideoView` to get a callback when the first frame is rendered that way yo

[2018-03-23 18:42] aaalaniz commented on #267
Hey @mayurm-virtueinfo

Can you turn up logging using `Video.setLogLevel(LogLevel.ALL);` and provide a log?

Thanks!

[2018-03-23 18:45] aaalaniz commented on #266
Hey @mcorner

Unfortunately I don't have a specific timeline, but I assure you that it's actively being worked on. I'll alert you as soon as I have more specifics.

Thanks!

[2018-03-23 19:16] mayurm-virtueinfo commented on #267
where to put

Video.setLogLevel(LogLevel.ALL);

On Sat 24 Mar, 2018, 12:12 AM Aaron Alaniz, <notifications@github.com>
wrote:

[2018-03-23 19:17] aaalaniz commented on #267
You can invoke `Video.setLogLevel(LogLevel.ALL);` anywhere before connecting to a room.

[2018-03-23 19:17] mayurm-virtueinfo commented on #267
ok

On Sat 24 Mar, 2018, 12:47 AM Aaron Alaniz, <notifications@github.com>
wrote:

[2018-03-23 19:18] mayurm-virtueinfo commented on #268
Can i catch first video frame in SDK 1.0?

On Sat 24 Mar, 2018, 12:09 AM Aaron Alaniz, <notifications@github.com>
wrote:

[2018-03-23 19:29] aaalaniz commented on #268
Yes

[2018-03-23 19:48] mayurm-virtueinfo commented on #268
how could i get the first video frame in SDK 1.0?

On Sat 24 Mar, 2018, 12:59 AM Aaron Alaniz, <notifications@github.com>
wrote:

[2018-03-23 19:50] aaalaniz commented on #268
Reference the following snippet for getting the onFirstFrame callback

[code]

[2018-03-23 20:29] mayurm-virtueinfo commented on #268
ok.
I will implement this and let you know soon.

On Sat 24 Mar, 2018, 1:20 AM Aaron Alaniz, <notifications@github.com> wrote:

[2018-03-27 06:04] doananhtai opened #270 "Do not send video to remote participant when show activity on Lock Screen"
### Description

if show activity on lock screen, video sdk do not send video to remote participant

### Steps to Reproduce

1. A make a video call to B
2. B show activity on LOCK SCREEN
3. B can get video from A. But B do not send video to A.

#### Expected Behavior

B send video to A when activity shown on Lock Screen, so A can get the video from B.

#### Actual Behavior

B do not send video (ca

[2018-03-27 06:12] mayurm-virtueinfo commented on #268
This is worked mam.
Thank you so much.

[2018-03-27 06:12] #268 closed

[2018-03-27 06:35] doananhtai commented on #270
sorry...It's all my fault

[2018-03-27 06:44] doananhtai commented on #270
it's exactly not send video when activity shown on lock screen.

[2018-03-27 10:09] #270 closed

[2018-03-27 10:12] doananhtai commented on #270
Call onResume twice cause the localVideoTrack malfunction

[2018-03-28 10:13] mayurvpatel opened #273 "Change Shape of VideoView"
**Description**

How can i create oval shape of video rendering view. Right now it display in square only. I want that in just circle format.

[2018-03-28 10:41] #273 closed

[2018-03-28 12:02] bhuvaneshwariarkala opened #274 "com.twilio.video.TwilioException: Access Token expired or expiration date invalid"
Hello team,

I download quickstart and was trying to run on the Android Sumsung devices. I generated test token from https://www.twilio.com/console/video/runtime/testing-tools separately for 2 phones and ran the application. When I try to connect to Room, it said Access token expired. But  when i debug the token, it was not expired, it has more time to expire.

Token generated was , eyJ0eXAiOiJKV1

[2018-03-28 12:52] mayurm-virtueinfo commented on #268
Hello Mam,
I need your help again for the same in IOS.

Your code is worked in Android. But, I have the same situation in IOS. Is there any way to override delegate method for IOS as we have override

videoView.setListener(new VideoRenderer.Listener() {
    @Override
    public void onFirstFrame() {

    }

    @Override
    public void onFrameDimensionsChanged(int width, int height, int rotation)

[2018-03-28 14:19] aaalaniz commented on #270
Hey @doananhtai

Are you still encountering issues? Can you share some code that reproduces the problem?

Thanks!

[2018-03-28 14:31] aaalaniz commented on #268
Hey @mayurm-virtueinfo

I recommend filing an issue on our [Twilio Video iOS](https://github.com/twilio/twilio-video-ios) repo to get help regarding your question. One of our iOS engineers will be able to help.

Thanks!

[2018-03-28 14:54] aaalaniz commented on #274
Hey @bhuvaneshwariarkala

Can you provide a log? Also, be sure to use unique identities for each token you generate.

Thanks!

[2018-03-28 15:53] bhuvaneshwariarkala commented on #274
Hello,

Iam not getting more details, than the

Access Token expired or expiration date invalid
03-28 21:20:51.327 12127-12127/com.twilio.video.quickstart I/System.out: VideoActivity:Access Token expired or expiration date invalid
03-28 21:20:51.327 12127-12127/com.twilio.video.quickstart I/System.out: VideoActivity
03-28 21:20:51.327 12127-12127/com.twilio.video.quickstart I/System.out: Bhuvana[L

[2018-03-28 16:55] aaalaniz commented on #274
I don't see anything wrong with the token and I verified your account is active. You can also try [Setting up an Access Token Server](https://github.com/twilio/video-quickstart-android#setup-an-access-token-server).

[2018-03-28 17:43] bhuvaneshwariarkala commented on #274
Then  am I doing anything wrong? I just crated account, and generated token for one identifier..Used the token in local.properties as

TWILIO_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJqdGkiOiJTSzdkOTRiNjg5Zjk1MGE2ZjRkMjEyMmIzMmQxYWU5MjllLTE1MjIyNTE2OTEiLCJpc3MiOiJTSzdkOTRiNjg5Zjk1MGE2ZjRkMjEyMmIzMmQxYWU5MjllIiwic3ViIjoiQUNmN2VjMWFmZDYxYTYzN2JmMTY4OWZkNDQwM

[2018-03-28 19:28] galhe2 commented on #213
Has this issue been resolved?

[2018-03-28 19:45] aaalaniz commented on #213
Hey @galhe2

No update on this issue.

[2018-03-28 19:48] galhe2 commented on #213
So as of this version there is no way to get a bitmap of the remove video track? Not even if I convert the primaryVideoView (VideoView class) to your VideoTextureView class that you've provided to us?

[2018-03-28 20:01] aaalaniz commented on #213
Capturing bitmap of remote video track may be possible using the `VideoTextureView`, but as of now there is no fix for the original issue of extracting a frame from a remote video track via I420Frame. The problem is that there is no active EGL Context on the thread that calls `renderFrame` for a remote video track. There is probably some in-app gymnastics you could do to process a remote I420Frame

[2018-03-28 20:16] galhe2 commented on #213
Okay yes you're right. I can capture bitmap using the VideoTextureView that you've created to do a workaround this issue. I appreciate your help just now and for creating the VideoTextureView. Thanks!

[2018-03-28 21:16] seanadkinson commented on #76
@aaalaniz Any update on Android bluetooth support?

We saw this error in our logs:

Do we just need to add the `<uses-permission android:name="android.permission.BLUETOOTH" />` to our manifest?

[2018-03-28 22:50] aaalaniz commented on #76
Hey @seanadkinson

No resources have been allocated to this story and yes for this error you just need BLUETOOTH permission.

Thanks!

[2018-03-28 22:51] aaalaniz commented on #274
Hey @bhuvaneshwariarkala

Can you validate that the time on your device is setup properly?

[2018-03-29 04:13] bhuvaneshwariarkala commented on #274
On device i have IST(GMT+5:30) timezone

[2018-03-29 11:30] bhuvaneshwariarkala commented on #274
Its working..thank you

[2018-03-29 12:25] aaalaniz commented on #274
Glad you resolved the issue @bhuvaneshwariarkala

[2018-03-29 12:25] #274 closed

[2018-03-29 12:56] ppriyank40 opened #275 "Video parameters setting help"
### Description

I want to know some info of below questions.
1) What values i can set for following parameters so that it can actually work?
- Bitrate for both audio and video
- fps
Please also mention what values i can set like min bitrate is 64000 and max is 256000 etc. So that i can know what is the maximum and minimum if each parameter.

2) Does width/height of video needs to be set to specif

[2018-03-29 17:14] seanadkinson commented on #135
@aaalaniz Any planned updates on accessing the raw remote audio for the purposes of recording on device?

[2018-03-29 18:21] dwalle opened #276 "Crashes with RecyclerView list of remote participants"
### Description

Using a RecyclerView to hold a list of multiple remote participants is crashing app.

My app is supposed to allow group video calls. Where a user has a 'RecyclerView' list of other users with their videos. However, if I test the app with more than 8 participants my app crashes from code I cannot control.

Not sure if my RecyclerViewAdapter is not being used correctly with the Vide

[2018-03-29 18:44] aaalaniz commented on #135
Unfortunately no progress here @seanadkinson ☹️

[2018-03-29 18:50] dwalle commented on #276
I am connecting to the room this way:

private void connectToRoom() {

        Video.setLogLevel(LogLevel.ALL);
        List<LocalVideoTrack> localVideoTracks =
                new ArrayList<LocalVideoTrack>(){{ add(localVideoTrack); }};
        List<LocalAudioTrack> localAudioTracks =
                new ArrayList<LocalAudioTrack>(){{ add(localAudioTrack); }};

        ConnectOptions connectOptio

[2018-03-29 19:06] aaalaniz commented on #276
@dwalle can you post the room SID?

[2018-03-29 19:11] aaalaniz commented on #135
@seanadkinson  I'll poke around the implementation and see if I can hack something together.

[2018-03-29 19:24] dwalle commented on #276
And this is the Room SID I grabbed from the Twilio Management web console:

RM0656e18c6ed588824fddf591d5c2e317

[2018-03-29 19:34] aaalaniz commented on #276
Perfect. Thanks! @dwalle

[2018-03-29 21:25] aaalaniz commented on #275
Hey @ppriyank40

#### Max Bitrates

Setting the max audio and video bitrate should work. Are you having problems setting max bitrates on iOS or Javascript? The allowed values for max audio bitrates vary by codec. The maximum bitrate for Opus is 510 kbps and the default max bitrate for video is 2MB. I'll have investigate further to get exact numbers for the other codecs. There are no restrictions o

[2018-03-30 05:11] ppriyank40 commented on #275
I am using Vuzix M300 device for video calls and other platforms are Android/ios/Web. So, whenever user wants to call from Android/ios to SG i want to limit the FPS and Bitrate to lowest possible value as M300's hardware not so high enough and because of that the quality of calls is not good.
So, one of the experts suggested limiting the incoming bitrates and fps to lowest possible values so that

[2018-03-30 09:43] rishabhja opened #277 "Complete room api does not disconnect room"
### Description

Complete room api does not close room for some of the clients. I am not able to receive disconnected event for those clients. This is working for desktop(Js) client.

### Steps to Reproduce

1. Create a call and join multiple people in it.
2. Complete the room.
3. Room does not get disconnected for some of the clients. (randomly)

#### Expected Behavior

Room should disconnect for

[2018-03-30 11:10] mayurvpatel commented on #257
@aaalaniz Yes I got this same error in group call. While one user join and exit in one group more than 2 to 3 time that time  i am getting this error. Pls can you give me some solution for this. And this is my SID "RM2277db4f451bee6634a5132be679a8d9"

I am using this  VideoTextureView for rendering video of number of connected users in room.
https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2

[2018-03-30 13:43] rishabhja commented on #277
Can someone help me on this? Its blocking for me

[2018-04-03 11:10] Puneet2412 commented on #80
Any update on this?

[2018-04-03 14:02] aaalaniz commented on #275
Hey @ppriyank40

I happen to have experience working with this exact situation 😄

Here are my recommendations based on my past experience and capabilities of the Video SDKs.

#### One Way Video

If possible for your application requirements, have you considered only sending audio/video from the Vuzix M300 and only audio from Android/iOS/Web users to M300? This would remove the work required to pro

[2018-04-03 14:06] aaalaniz commented on #277
Hey @rishabhja

Apologies for the delay. I'll look into this today. Just to confirm, you are connecting to a room and then using the [Rooms REST API to complete a room](https://www.twilio.com/docs/video/api/rooms-resource#complete-room)?

Does this problem occur on iOS as well?

Thanks!

[2018-04-03 14:24] aaalaniz commented on #80
Hey @Puneet2412

Unfortunately, there is no update on this issue.

[2018-04-03 14:27] soufian97 commented on #106
@iorikingdom how you fix it please ?

[2018-04-03 14:47] aaalaniz commented on #135
Hey @seanadkinson

Apologies for the delay, but I looked into this and I don't think there is a hacky solution that I can put together without modifying the SDK. WebRTC manages audio recording from the JNI level so using reflection is not really an option.

[2018-04-03 16:33] aaalaniz commented on #277
Hey @rishabhja

I've reproduced the issue and our team is working toward a solution. Did this behavior work in a previous version of the SDK? We don't have test coverage for this scenario, so it's possible we introduced a regression and did not know because of the coverage gap.

Thanks for reporting this issue!

[2018-04-03 17:03] aaalaniz commented on #277
Another small update. We identified this is only an issue in our 2.x beta releases. I will continue to post updates as we work toward a resolution.

Thanks!

[2018-04-03 22:08] aaalaniz commented on #277
Hey @rishabhja

Apologies for the confusion. This issue affects our 2.x preview and beta releases. We have not identified what specific 2.x version introduced this problem. I'll keep you updated.

Thanks!

[2018-04-03 22:55] aaalaniz commented on #267
Hey @mayurm-virtueinfo

I'm closing this issue. Please re-open with a log and I can investigate further.

Thanks!

[2018-04-03 22:55] #267 closed

[2018-04-04 03:36] mwajeeh opened #278 "Crash on camera flip in emulator"
### Description
App crashes when trying to flip camera on emulator

### Steps to Reproduce

1. Try to flip camera on Emulator

#### Code

[code]
#### Expected Behavior

Camera should switch or app shouldn't crash

#### Actual Behavior
App crashes

#### Reproduces how Often

100%

#### Logs

[code]

### Versions
#### Video Android SDK
com.twilio:video-android:1.3.13

#### Android API
API level 26

[2018-04-04 04:06] ppriyank40 commented on #275
Hello,
I have checked with the above code and found that H264 is not supported on M300 so we have to go with VP8 only.Currently, we have set the Resolution to 640x480 so i will change it your suggestion.Can you help me with max bitrates and fps also? What will be the best maximum values for these two?

[2018-04-04 10:51] ppriyank40 commented on #275
Below is the code snippet of parameters i am setting in M300. But still i am getting very low fps(below 10 sometimes which should not be as i have set min to 10) and also the bitrates are very low.
So,please can you tell is this the correct way to set all parameters? And if yes then why i am getting lower bitrates and fps.

minfps = 10;
maxfps = 24;
VideoDimensions videoDimensions = new VideoDimen

[2018-04-04 13:54] aaalaniz commented on #278
Hey @mwajeeh

Can you be more specific with the code that reproduces the issue by providing the source for `ParticipantRenderer.flipCamera()` ?

Thanks!

[2018-04-05 04:06] ppriyank40 commented on #275
Hi Aaron, Thank you for your help. Your points on the 16:9 resolution are very valid, and we are testing the changes at our end in diff. environment. Will keep you posted very soon.

On the constraints, I understand about webRTC's self-optimization. However, what we are trying to do is send lower quality video on a good network. For example, our network on both the ends support >10Mbps. However, w

[2018-04-05 22:15] dwalle commented on #276
After googling around that crash due to the "dump" I found this github repo issue:

https://github.com/mapbox/mapbox-gl-native/issues/11556

And the comment:
"I left the Huawei tablet running the test app for over an hour (not connected to the debugger), and it did not crash. I then restarted the test app connected to the debugger, and it crashed in about 7 minutes (with the weak global reference

[2018-04-06 16:52] aaalaniz commented on #276
Hey @dwalle

Dropped frames could just be a limitation of the hardware. If you are rendering all the participants on the screen I recommend capturing at a lower resolution. I have a couple of follow-up questions.

1. Are all participants visible on the screen?
2. What type of UI are you trying to implement with the VideoViews? (Grid, Thumbnails + Primary, Something else?) A screenshot would be gre

[2018-04-06 17:29] dwalle commented on #276
I have not been able to find a way to lower the resolution of the rendered frames using the "videoTrack" class. Is that available with the Twilio SDK that I just don't know about? Or should I be able to lower the resolution another way?

I sent you a PM of our screenshot to answer your other questions.

[2018-04-09 13:09] jasminpsimform commented on #173
Any update on this one.

[2018-04-09 13:26] simformsolutions commented on #136
@aaalaniz  we also need that feature which provide recorded video of all participants of conference call.currently we are getting individual recorded file, we need everything in one file, kindly provide your answer.

[2018-04-10 08:46] rishabhja commented on #277
Any update on this?

[2018-04-10 12:12] aaalaniz commented on #277
Hey @rishabhja

The issue has been resolved in the latest internal release and will be made available in 2.0.0-beta5 soon.

Thanks!

[2018-04-10 14:32] lwilio commented on #136
@simformsolutions Twilio Media Composer API (still in private developer preview) solves that problem. Send an e-mail explaining your use case to video-product at twilio.com if you are interested in being part of the private preview.

[2018-04-11 08:31] bhuvaneshwariarkala opened #280 "Exception while generating token"
Hi team,

I am using server APIs to generate auth token in my server, but iam getting below exception.

java.lang.NoSuchFieldError: USE_DEFAULTS
	at com.fasterxml.jackson.databind.introspect.JacksonAnnotationIntrospector.findSerializationInclusion(JacksonAnnotationIntrospector.java:498)
	at com.fasterxml.jackson.databind.introspect.BasicBeanDescription.findSerializationInclusion(BasicBeanDescripti

[2018-04-11 11:30] shivthepro opened #281 "How can I disable remote audio of all participants."
I want to disable audio of all remote participants. I saw this https://github.com/twilio/video-quickstart-android/issues/253 issue. The solution given for this issue will work fine if there is only one remote participant.

But In my case If I have more number of remote participants(group-call) I can't disable playback for all the the participants everytime I want them to be muted. Is there a globa

[2018-04-11 17:05] bhuvaneshwariarkala opened #282 "Gson issue"
Hi,

Iam facing below issue while using Binding API.

Exception creating binding: Unable to invoke no-args constructor for class com.twilio.rest.notify.v1.service.BindingCreator. Register an InstanceCreator with Gson for this type may fix this problem.
java.lang.RuntimeException: Unable to invoke no-args constructor for class com.twilio.rest.notify.v1.service.BindingCreator. Register an InstanceCr

[2018-04-11 19:46] aaalaniz commented on #282
Hey @bhuvaneshwariarkala

Are you using the [Twilio Java helper library](https://www.twilio.com/docs/libraries/java)? I recommend filing an issue on their [Github repo](https://github.com/twilio/twilio-java).

Thanks!

[2018-04-11 19:46] #282 closed

[2018-04-11 19:54] aaalaniz commented on #281
Hey @shivthepro

We don't currently support globally muting a room, but I have raised this request with our backend team. What type of use case are you developing?

Thanks!

[2018-04-11 19:56] aaalaniz commented on #280
Hey @bhuvaneshwariarkala

Can you share a code snippet?

Thanks!

[2018-04-12 06:52] shivthepro commented on #281
Hey @aaalaniz

Consider that I'm connected to room which has more number of remote participants in it. While I'm in the video call I'm getting a incoming phone call in my mobile.

In this situation I have to mute the room, mute my mic as well as disable my video to attend the phone call and once the phone call is over I have to re-enable these. Im able to have control over the muting the mic and d

[2018-04-12 18:48] aaalaniz commented on #281
Hey @shivthepro

Thanks for highlighting the details. Unfortunately, what you are currently doing is the only solution at this time. I have sent this request to our team and I will provide any relevant updates on this issue.

Thanks!

[2018-04-12 20:45] dwalle commented on #276
@aaalaniz Any updates?

[2018-04-12 22:49] aaalaniz commented on #276
Hey @dwalle

Apologies for the delay. I recommend reading our guide on [specifying video contraints](https://www.twilio.com/docs/video/android-v2-specifying-video-constraints) and set a lower capture resolution. You can also set the max video bitrate. We provide an example of setting max bitrates in our [quickstart](https://github.com/twilio/video-quickstart-android/blob/master/quickstart/src/main

[2018-04-12 23:08] dwalle commented on #276
Hey @aaalaniz

Not a problem!

Regarding those constraints, it seems that is only for when a client connects to a room to set the constraints on their own video feed. We want to avoid forcing all clients to have low quality videos.

Is there any way that the local participant can request a low quality version of a high quality remote video track from a participant?

Or is there a way that a client

[2018-04-13 00:29] aaalaniz commented on #277
Hey @rishabhja

This issue has been fixed in 2.0.0-beta5. Thanks for reporting the issue!

[2018-04-13 00:29] #277 closed

[2018-04-13 05:25] kedartoraskar commented on #276
@dwalle - its on our roadmap to provide selective track level subscription APIs on the client side.

Alternatively, you may be able solve this problem through the Track Subscriptions REST API. We can give you early access to the Track Subscriptions REST API that will allow you to subscribe/unsubscribe participants to tracks. Please send me an email with your account SID to ktoraskar@twilio.com

[2018-04-13 08:43] rishabhja commented on #180
I am getting this issue in version 2.0.0-beta 5

[2018-04-13 10:52] rishabhja opened #284 "Supported formats could not be retrieved because an error occurred connecting to the camera service"
### Description

App crashes due to the following error log. It did not crash before beta 5 version.

### Steps to Reproduce

1. Give permissions to camera.
2. App crashes when local camera stream is created.

#### Logs

[code]

#### Expected Behavior

App should not crash

#### Actual Behavior

App crashes

#### Reproduces how Often

100%

### Versions

#### Video Android SDK

2.0.0 beta 5

####

[2018-04-13 13:49] aaalaniz commented on #284
Hey @rishabhja

There were no changes to the camera capturers in this release, so this is a little surprising. Can you provide some steps to reproduce? I typically see this error when trying to create a video track with a camera capturer while the camera is in use.

Thanks!

[2018-04-13 14:34] rishabhja commented on #284
Yes. So basically, when user tried to join the room in a freshly installed app, this crash occurs as soon as he joins the room after giving the camera permission. It does not occur after that

[2018-04-13 14:54] aaalaniz commented on #284
The log states that you are creating a video track in onResume. I recommend creating the local video track with camera capturer in `onRequestPermissionsResult` as seen [in our quickstart](https://github.com/twilio/video-quickstart-android/blob/master/quickstart/src/main/java/com/twilio/video/quickstart/activity/VideoActivity.java) and checking that permission is available in onResume before [creat

[2018-04-13 15:01] rishabhja commented on #284
I am checking for permissions in onResume before creating the track and I am requesting the permission in onCreate. I do not start the video track until the permission has been granted

[2018-04-13 15:03] aaalaniz commented on #284
Is it possible a video track is being created twice? Once in onRequestPermissionsResult and once in onResume or are you only creating the track in one of those callbacks?

[2018-04-13 15:09] rishabhja commented on #284
I think that is possible. Can that be a cause of the crash?

[2018-04-13 15:57] aaalaniz commented on #284
Yes. I recommend creating only one video track with a camera capturer. When the track is created the camera resource is acquired. If another track with camera capturer is created then this error would occur because the camera is in use by the other track.

[2018-04-13 18:50] dwalle commented on #276
@kedartoraskar Thanks! We appreciate it. I sent you an email.

[2018-04-17 13:39] rishabhja commented on #284
This happens even after the fix you prooosed.

[2018-04-17 20:54] aaalaniz commented on #284
Hey @rishabhja

Is it possible to reproduce this bug in the quickstart?

Thanks!

[2018-04-18 13:58] shivthepro opened #286 "Local Video gets black screen when I open camera app in phone."
Consider you are on a call with someone and you are opening the local camera app in your phone.. After you are returning back to the call. Im getting a black screen for the local video view.

Steps to Reproduce...
1. Be on Call in the twilio app.
2. Go to home and open camera app.
3. Return back to twilio app.

[2018-04-18 18:33] aaalaniz commented on #286
Hey @shivthepro

Is this a bug in the quickstart or is this a problem you are seeing in your own application?

Thanks!

[2018-04-19 13:34] shivthepro commented on #286
Hey @aaalaniz  Thanks ... Found the issue -> I was not releasing and acquiring the camera back when I go to background and come back ..

[2018-04-19 13:34] #286 closed

[2018-04-23 13:48] ryanjohn1 opened #287 "ScreenCapturer is fixed to landscape orientation"
### Description

When using the ScreenCapturer to record the device screen and then uploading the resulting video as a VideoTrack it seems like the video is always being set to be 640 x 480 pixels. If you record the screen when the device is landscape this is ok (even if it would be better to use an aspect ratio that matched the actual screen). However if you record a portrait screen  then its sti

[2018-04-23 14:13] aaalaniz commented on #287
Hey @ryanjohn1

Thanks for submitting this issue. Ironically, I just fixed the issue with the fixed VGA capturing size in  `ScreenCapturer` last week. The new implementation will capture at the device's resolution instead of VGA. The change is being tested internally and should be available in `2.0.1` this week. If you want to test this new change for yourself you can use the following snippet.

[

[2018-04-23 15:18] ryanjohn1 commented on #287
Thanks @aaalaniz for getting back to me so quickly!
I've just tried the above CustomScreenCapturer and it massively improved the portrait quality so that's great.
I have noticed one issue which is the same as before:

When the host device and viewing device are the same orientation as each other everything is fine.
When the host and viewer are at different orientations to each other then the width

[2018-04-23 16:47] aaalaniz commented on #287
Hey @ryanjohn1

I'm actually able to reproduce your issue where the viewer is in landscape and the host device sharing screen is in portrait. This happens with both ScreenCapturer and CameraCapturer, so I think there may be a problem renderer side. I'll investigate more and get back to you.

I'm not sure MediaProjection supports this, but it's certainly worth a try. Either way it would be great ca

[2018-04-24 08:55] ryanjohn1 commented on #287
Great, thanks.
Also, what's the best way to keep up to date with details of releases and view the change log for the video-android library?

[2018-04-24 13:48] aaalaniz commented on #287
The Video Android 2.x SDK is now GA the changelog is updated [here](https://www.twilio.com/docs/video/changelog-twilio-video-android-version-2x). The 1.x SDK is still GA with changelog [here](https://www.twilio.com/docs/video/changelog-twilio-video-android-version-1x), but updates will only be limited to critical bug fixes.

Thanks!

[2018-04-25 14:27] rishabhja commented on #284
Also facing this on LG G2:

`FATAL EXCEPTION: Camera SurfaceTextureHelper
                                                                Process: to.go_internal, PID: 19374
                                                                java.lang.RuntimeException: getParameters failed (empty parameters)
                                                                    at android.hardware.Camera

[2018-04-26 12:28] #257 closed

[2018-04-26 12:56] rishabhja opened #288 "First Time Call Join crash"
### Description

App crashes when user joins the call first time.

### Steps to Reproduce

1. Join Video Room and give camera permissions
2. App crashes when you join for the first time.

#### Code

[code]

#### Expected Behavior

App should not crash

#### Actual Behavior

App crashes

#### Reproduces how Often

100%

#### Logs

[code]

### Versions

#### Video Android SDK

2.0.0

#### Android AP

[2018-04-27 07:13] imran-samed opened #290 "How can i send invite or add new user in existing video call??"
I want to add new user , while already two person are video calling,
I can't find a method in twilio android sdk to add new user.

I'm using  this video sdk version
**implementation "com.twilio:video-android:2.0.0-beta5"**

[2018-04-27 08:05] phsavisiba opened #291 "Circular VideoView on top of an other VideoView"
### Description
When trying to render a circular videoview on top of an other videoview the result is that the videoview becomes circular with an awkward rectangle border.

Its works just as expected when it is not drawn on top of an other videoview.

![videoviewissue](https://user-images.githubusercontent.com/38780186/39351257-3d77a9e4-4a01-11e8-900e-f603146d439d.PNG)

#### Code

The layout:
[cod

[2018-04-27 12:12] Perachi opened #292 "Android app crash due to EGL context"
Android APP crash and the error is "Failed to create EGL context"
Please consider this issue on high priority as my application is live now.

Error Log is as below::
------------------------------------------------------------------------------------
04-16 11:50:16.826 11666-20413/blitzz.co.blitzztest I/chatty: uid=10680(blitzz.co.blitzztest) expire 1 line
04-16 11:50:23.486 11666-11666/blitzz.co.

[2018-04-28 03:28] ceaglest commented on #290
Hey @imran-samed,

We don't support inviting Participants in Twilio Video, but we encourage you to use a separate signaling channel like push notifications for this purpose. Take a look at [ExampleVideoInvite](https://github.com/twilio/video-quickstart-android/tree/master/exampleVideoInvite) for a solution using Twilio Notify to deliver invites over FCM.

Best,
Chris

[2018-04-30 13:33] aaalaniz commented on #290
Thanks @ceaglest!

Please re-open @imran-samed if you have more questions about using Twilio Notify to invite participants.

Thanks!

[2018-04-30 13:33] #290 closed

[2018-04-30 15:10] aaalaniz commented on #292
Hey @Perachi

I have a couple of follow-up questions and general observations.

**Questions**
- What version of the Video Android SDK are you using?
- Does this crash happen on multiple devices? Can you provide the device information where this crash occurs?

**Observations**
Given that you are only rendering two videos and you are seeing [EGL_BAD_ALLOC error](https://www.khronos.org/registry/EGL/

[2018-04-30 15:13] aaalaniz commented on #291
Hey @phsavisiba

I recommend using this [VideoTextureView](https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2260cbcc8e). Unfortunately this view is still a gist, but we plan on shipping a VideoTextureView as part of the SDK soon. Thanks!

[2018-04-30 15:15] aaalaniz commented on #230
Please reopen if you have any more questions @ACoderMan. Thanks!

[2018-04-30 15:15] #230 closed

[2018-04-30 15:16] aaalaniz commented on #280
Closing due to inactivity. Please reopen if you have any more questions @bhuvaneshwariarkala. Thanks!

[2018-04-30 15:16] #280 closed

[2018-04-30 15:16] aaalaniz commented on #278
Closing due to inactivity. Please reopen if you have any more questions @mwajeeh. Thanks!

[2018-04-30 15:16] #278 closed

[2018-04-30 15:27] aaalaniz commented on #275
Hey @ppriyank40

Apologies for the delayed response.

Setting a limit on the capture resolution and max bitrates reduces the amount of data pushed through the device's network. However, I'm not sure if this answer provides all the details you need. I'm closing this issue for now as I'm not sure there are any action items. Please reopen if you have any more questions @ppriyank40. Thanks!

[2018-04-30 15:27] #275 closed

[2018-04-30 15:32] aaalaniz commented on #262
Apologies for the delayed response @emphassis

Can you provide the exact details of the problem(s) you are experiencing with maybe some code snippets that demonstrate the problem? I'd be happy to help, but I need a little more clarification.

Thanks!

[2018-04-30 15:32] #262 closed

[2018-04-30 15:34] aaalaniz commented on #265
@Vivek-sagar closing this issue for now as I don't think there are any action items. Please reopen if you have any more questions. Thanks!

[2018-04-30 15:34] #265 closed

[2018-04-30 15:36] aaalaniz commented on #183
Closing this issue as we have added more documentation about the [features available in 2.x](https://www.twilio.com/docs/video/android#migrating-from-1x-to-2x).

Thanks @mcorner!

[2018-04-30 15:36] #183 closed

[2018-04-30 15:44] aaalaniz commented on #82
Hey @KarimAbdo

I'm closing this issue because there are no action items. Please reopen if you have any issues with the Samsung Note 10.1.

Thanks!

[2018-04-30 15:44] #82 closed

[2018-04-30 15:46] aaalaniz commented on #84
Closing due to inactivity. Reopen if you experience any audio issues on Galaxy Note 5.

[2018-04-30 15:46] #84 closed

[2018-04-30 15:48] aaalaniz commented on #281
@shivthepro  Closing as a won't fix for now as there are no plans to add this type of feature to the SDK or REST API. Thanks!

[2018-04-30 15:48] #281 closed

[2018-04-30 15:49] aaalaniz commented on #244
I believe this bug was fixed as part of our 2.0.0 GA release. Please reopen if encounter the issue again @RomanRadkoMasslight. Thanks!

[2018-04-30 15:49] #244 closed

[2018-04-30 15:50] aaalaniz commented on #223
Closing due to inactivity. Please reopen if you have any more questions @sudheeshdh. Thanks!

[2018-04-30 15:50] #223 closed

[2018-04-30 16:12] aaalaniz commented on #287
Should I be doing something different with the VideoView? It's set to Match parent in both directions to fill the screen and I've not changed the scale type from the default which is FIT

Apologies but I think I misinterpreted your question here. If you would like the video to fill the entire view and preserve aspect ratio then I recommend using `VideoScaleType.ASPECT_FILL`. Note that this may cau

[2018-04-30 16:12] #287 closed

[2018-04-30 16:15] aaalaniz commented on #221
@shivthepro reopen if the issue was not resolved with @seanadkinson fix. Thanks!

[2018-04-30 16:15] #221 closed

[2018-04-30 16:17] aaalaniz commented on #89
@ananth10 @kvikrama Please reopen if you have any more questions. Thanks!

[2018-04-30 16:17] #89 closed

[2018-04-30 16:24] aaalaniz commented on #61
Closing because of the following solutions for USB camera support:

- [UVCCameraCapturer](https://github.com/aaalaniz/video-quickstart-android/blob/task/GSDK-1126-usb-cameras-example/exampleUVCCameraCapturer/src/main/java/com/twilio/video/examples/uvccameracapturer/UVCCameraCapturer.java)
- Android P support for [USB/UVC Camera with Camera 2 API](https://developer.android.com/preview/features#came

[2018-04-30 16:24] #61 closed

[2018-05-01 14:57] ryanjohn1 commented on #287
@aaalaniz I've been doing some testing on 2.0.1 and I think there may still be an issue. This fix works great if you start and remain streaming in the same orientation. However, if you start streaming in one orientation then change, the stream dimensions remain the size of the original and you end up with a tiny display.
I've recorded a gif to demonstrate from the viewers perspective on an iOS dev

[2018-05-02 15:15] aaalaniz commented on #287
Thanks for the gif @ryanjohn1

This behavior does seem strange. I'll chat with our team today to diagnose. Do these same steps work if the viewer is an Android device?

[2018-05-02 16:50] ryanjohn1 commented on #287
Android to Android does behave a bit differently. When the host is landscape and viewer is portrait the view is all wrong, it looks zoomed in. All the other combinations are ok.

[2018-05-07 07:58] imran-samed opened #295 "Group Video Call"
### Description

I just implemented 1:1 video call in application. but I'm not getting any hint to how can i make group  video call.
what are the steps to follow...
How multiple notifications will be send.
I searched a lot but nothing found.

Is it possible to using [VideoInviteActivity.class](https://github.com/twilio/video-quickstart-android/blob/master/exampleVideoInvite/src/main/java/com/twili

[2018-05-08 02:55] aaalaniz commented on #295
Hey @imran-samed

I recommend reading the [Video Invite README](https://github.com/twilio/video-quickstart-android/tree/master/exampleVideoInvite) for detailed instructions on how to setup a Group call using Twilio Notify.

Thanks!

[2018-05-08 02:55] #295 closed

[2018-05-08 06:28] imran-samed commented on #295
**Is it possible using VideoInviteActivity.class  ??**

[2018-05-08 06:33] imran-samed commented on #290
But as per mention in VideoInviteActivity.class , that app doesn't support multiple participants.

` if (thumbnailVideoView.getVisibility() == View.VISIBLE) {

            Snackbar.make(connectActionFab,
                    "Rendering multiple participants not supported in this app",
                    Snackbar.LENGTH_LONG)
                    .show();
            return;

        }`

[2018-05-08 13:42] aaalaniz commented on #290
Hey @imran-samed

You will have to render video tracks from all the participant's that join the Room. Our quickstarts currently only demonstrate 1:1 calling for simplicity. We plan on a releasing a multi-party example at some point, but I cannot provide timeline details.

Thanks!

[2018-05-08 13:43] aaalaniz commented on #295
The VideoInviteActivity provides an example of how to join a room from a push notification received from Twilio Notify. Building Group calling is certainly possible from VideoInviteActivity but there will need to be changes to accommodate rendering all participant video tracks.

[2018-05-08 23:32] maido155 commented on #136
@lwilio Right now I'm testing  the programmable video, we are starting an interview startup product. could be awesome if we can use Twilio Media Composer API, Thank you

[2018-05-14 15:17] aaalaniz commented on #252
The state check that caused this crash was removed in 2.0.2. See #296

Thanks!

[2018-05-14 15:17] #252 closed

[2018-05-15 07:09] darshanjoc opened #298 "getting crash while video calling"
### Description

During video call stream freezes and stops rendering, I just call from web/Android/ios to RealWear HMT-1. This issue is only reproducible in REalWear HMT-1, I got this error every time.
After updating Video SDK to 2.0.2, I didn't get crash but stream stucks during video call, I mentioned logs for your information

### Steps to Reproduce

normal video call from web/Android/ios to R

[2018-05-15 08:18] phsavisiba commented on #291
@aaalaniz

Thank you it works perfectly

[2018-05-15 08:18] #291 closed

[2018-05-15 21:01] valerymadiedo opened #299 "Get RecordingSid from recording events in android"
### Description
Hello! I've been working on a demo but I need to get the recordingSid from the onRecordingStarted event. My question is if possible, how can I get the recordingSid in an android device? or if not possible what alternative do I have to get the recordingSid?

[2018-05-16 14:07] aaalaniz commented on #299
Hey @valerymadiedo

I recommend setting up a Webhook to your backend that receives [Room Status Callbacks](https://www.twilio.com/docs/video/api/status-callbacks#rooms-status-callback-events). Your backend will receive the documented [recording information](https://www.twilio.com/docs/video/api/status-callbacks#recordings-status-callback-request-parameters) with the `recording-completed` event. Yo

[2018-05-16 14:09] aaalaniz commented on #299
@valerymadiedo

You can setup a Webhook in the Twilio console [under Room settings](https://www.twilio.com/console/video/configure).

![screen shot 2018-05-16 at 9 08 12 am](https://user-images.githubusercontent.com/1734140/40122157-c49d6a30-58e8-11e8-83e9-b808886821a0.png)

[2018-05-16 14:18] valerymadiedo commented on #299
@aaalaniz
Thank you!! I will proceed to try it :)

[2018-05-24 10:26] vboko opened #302 "Can't connect to the room - D/Room: onConnectFailure()"
### Description

I did every step described in instructions for video-quickstart-android.
I am not able to connect to the room.

**D/Room: onConnectFailure()**

### Steps to Reproduce

1. Check out the code for video-quickstart-android
2. Add the access token string copied from the console to a variable named TWILIO_ACCESS_TOKEN in your local.properties file
3. Run quickstart app
4. Enter room nam

[2018-05-24 13:45] vboko commented on #263
@aaalaniz I am facing the same issue, I created a new issue with logs attached. It reproduces 100%.

[2018-05-24 19:39] aaalaniz commented on #302
Hey @vboko

I noticed this from the log

[code]

Does the network you are connecting to a Room on have any restrictions? Are you seeing this problem with any of our other SDK quickstarts (JS or iOS) on that network.

Thanks!

[2018-05-25 13:13] YashAjabiya commented on #73
Hello the given URL not found : https://github.com/coresystemsFSM/android-twilio-video-with-service

I want to develop one to one user video calling app using twilio.  can you help me ?

Thanks,

[2018-05-25 14:22] vboko commented on #302
@aaalaniz I don't think that the network has restrictions, I launched old examples few months and they worked fine. I didn't modify anything on my router.
I tried to use my home network with an emulator and real device as well as cellular network.
The result is the same, can't connect to the room.

Are there any other options I have to try to resolve it?

PS: I will try to run iOS example and let

[2018-05-29 19:46] aaalaniz commented on #73
Hey @YashAjabiya

I recommend following the [project README](https://github.com/twilio/video-quickstart-android). If you require further assistance please open a separate issue with details on what you need help building.

Thanks!

[2018-06-04 15:00] aaalaniz commented on #302
Hey @vboko

Are you still encountering this issue? What did you find when trying the other platform quickstarts?

Thanks!

[2018-06-05 05:32] kishorejethava commented on #87
Is there code example for REST API which is used in _exampleVideoInvite_ like

snippet of _TwilioSDKStarterAPI.java_
[code]

[2018-06-05 13:48] aaalaniz commented on #87
Hey @kishorejethava

The backend example used with `exampleVideoInvite` can be found at [sdk-starter-java](https://github.com/TwilioDevEd/sdk-starter-java).

Thanks!

[2018-06-06 14:07] vboko commented on #302
@aaalaniz I wasn't able to try out samples for other platforms, but I found out one thing when my Slack went down and couldn't connect yesterday. They responded to me that it might be because of IP addresses blocking in Russia (https://www.reuters.com/article/russia-telegram-ipaddresses/russia-tells-amazon-google-their-ip-addresses-blocked-because-of-telegram-ifax-idUSR4N1RQ00P)
Probably this bloc

[2018-06-08 12:17] ghost opened #304 "Disable LocalVideoTrack for RemoteParticipant only"
When calling enable(false) on a LocalVideoTrack it sends blank frames to both remote participant and your own local preview.

I'm trying to make it send blank frames to the remote participant only so that the user can still see what the camera is currently filming.

I tried to create two LocalVideoTracks one to stream to the RemoteParticipant and one to preview when the first one is disabled. This

[2018-06-11 13:47] aaalaniz commented on #304
Hey @phsavisiba

Can you elaborate on the use case you are trying to achieve?

Based on your description of the problem, you could unpublish the local video track you want to disable for the RemoteParticipant. This operation will result in the remote participant being unsubscribed from the video track without disabling the track locally.

I'm happy to field any follow up questions.

Thanks!

[2018-06-12 09:23] phsavisiba commented on #304
@aaalaniz Hi

Use case example:
Two persons are having a video call lets call them A and B. A needs to temporarily mute the camera and presses a button which mutes the LocalVideoTrack. The result is that both A's VideoView for local camera is blank and B's VideoView for RemoteTrack is blank. But what i want to accomplish is to have A's LocalVideoView still displaying what the camera is filming whi

[2018-06-19 14:34] sanjogshrestha commented on #121
Yes this is exactly reflected on my side. Only the demo app runs properly for onresume but not ours.

[2018-06-20 10:34] BrunoTrovoN26 commented on #146
Hello @aaalaniz
What is the status of this issue?

[2018-06-20 10:37] BrunoTrovoN26 commented on #174
Hi @aaalaniz !
Any news about this feature?

[2018-06-20 14:48] aaalaniz commented on #174
Hey @BrunoTrovoN26

Unfortunately, no update on this feature.

[2018-06-20 14:48] aaalaniz commented on #146
Hey @BrunoTrovoN26

Unfortunately, no update on this feature.

[2018-06-27 05:06] SagarSculpt opened #306 "How to use custom screen capture with camera capture?"
private void addCameraVideo() {
        cameraCapturer = new CameraCapturer(this, CameraCapturer.CameraSource.BACK_CAMERA);
        localVideoTrack = LocalVideoTrack.create(this, true, cameraCapturer);
        localVideoTrack.addRenderer(LocalvideoView);
        addCaptureView();
    }

    private void addCaptureView() {
        CapturedVideoTrack = LocalVideoTrack.create(this, true, new ViewCapt

[2018-06-29 17:03] ahmadtahirpk commented on #306
What is in your "ToBeSharedView". It might that the view is not initialized when you start capturing view.

[2018-06-29 17:35] aaalaniz commented on #306
Hey @SagarSculpt

I apologize for the delayed response. What are the contents of `ToBeSharedView`? Can you share any logs?

Thanks!

[2018-06-29 21:39] ahmadtahirpk opened #307 "Custom Capturer resets the position of the associated view"
### Description

I have an ImageView which is the associated view of a SnapshotVideoRenderer. When I try to capture this ImageView using ViewCapturer, the position of the ImageView always resets to the top left corner. The LocalVideoTrack that comes out of it is just fine, but the re-positioning of the ImageView does not make sense to me. If I try to capture the enclosing SnapshotVideoRenderer, th

[2018-06-30 04:59] SagarSculpt commented on #306
This is my MainActivity.java

public class MainActivity extends AppCompatActivity {
    private static final int CAMERA_PERMISSION_REQUEST_CODE = 100;

    private VideoView LocalVideoView;
    private VideoView CapturedVideoView;
    private RelativeLayout ToBeSharedView;

    private CameraCapturer cameraCapturer;
    private LocalVideoTrack localVideoTrack;
    private LocalVideoTrack CapturedV

[2018-06-30 05:18] SagarSculpt commented on #306
06-30 10:47:23.696 4387-4433/sagar.s.screenshare E/EGL_emulation: eglQueryContext 32c0  EGL_BAD_ATTRIBUTE
06-30 10:47:23.696 4387-4433/sagar.s.screenshare E/EGL_emulation: tid 4433: eglQueryContext(1696): error 0x3004 (EGL_BAD_ATTRIBUTE)

above is the log when below method called.

addCaptureView()

[2018-07-03 20:33] aaalaniz commented on #306
Hey @SagarSculpt

Have you tried our [ScreenCapturer](https://twilio.github.io/twilio-video-android/docs/latest/com/twilio/video/ScreenCapturer.html)? This might be a better fit for your use case.

Thanks!

[2018-07-03 20:35] aaalaniz commented on #307
Hey @ahmadtahirpk

Thanks for the detailed steps. We'll take a look the problem. Can you provide some details on the use case you are trying to achieve?

Thanks!

[2018-07-03 22:56] valerymadiedo opened #308 "Suscribe to an specific audio track"
### Question

Hello,

I have multiple phones streaming in a room audio and video. One computer should be receiving the streams from these phones. The phones should only listen the audio from the computer, and not the audios from the other phones.

Using the quickstart I realised that the devices that are streaming are suscribing automatically to all of the other audioTracks in the room, but they s

[2018-07-04 04:40] SagarSculpt commented on #306
ScreenCapturer working fine but I want show only that particular view to opponent. Not my whole screen.

[2018-07-04 11:31] ahmadtahirpk commented on #307
Thank you very much for your response. I am rendering some additional text on the video, which works as expected as long as I do not start capturing it. Is that enough information or should I provide the code as well?

[2018-07-09 05:39] icochico opened #309 "SDK cannot be used side-by-side another WebRTC binary"
### Description

I have an issue when I try to connect to the room, in particular when I do:

`room = Video.connect(this, connectOptionsBuilder.build(), roomListener());`

Following the example in the quickstart for Java.
The only difference is that I integrated the code and the dependencies in my app.

#### Logs

[code]

### Versions

All relevant version information for issue.

#### Video Androi

[2018-07-09 15:00] zackm0571 commented on #309
Hey @icochico,

Thanks for reaching out. Just wanted to let you know I'm going to be looking into the issue myself. In the interim can you post your call setup code as well as the Twilio dependency in your build.gradle?

[2018-07-09 18:14] icochico commented on #309
@zackm0571

Thanks for the help. This is the code that leads to the call:

[code]
And this is the entire list of my dependencies:

[code]

[2018-07-09 18:37] aaalaniz commented on #309
Hey @icochico

Do you have any native code in your application? The Video Android SDK uses Relinker to load `jingle_peerconnection_so` at runtime. I would expect this error is happening due to a clash in native libraries.

Thanks!

[2018-07-09 18:43] icochico commented on #309
@aaalaniz great guess, yes I do have native code in my app.

In particular, I am using exactly this:

`libjingle_peerconnection_so.so`

[2018-07-09 18:58] aaalaniz commented on #308
Hey @valerymadiedo

Our current SDKs do not support subscribing to specific tracks. However, I believe @ktoraskartwilio can help direct you to a private track subscription feature being developed.

Thanks!

[2018-07-09 19:08] aaalaniz commented on #309
Hey @icochico

Unfortunately, this is a known issue with our Video Android SDK. We do not currently support side-by-side usage of other WebRTC based SDKs or WebRTC binaries. This requires some significant changes to the way we build and integrate WebRTC. We are prioritizing the work to make this possible, but I cannot provide a timeline at this time.

I'll update the title of the ticket and provid

[2018-07-09 19:29] icochico commented on #309
@aaalaniz thanks for your quick answer.

As soon as you posted about `jingle_peerconnection_so` I understood the issue. Unfortunately we also made changes to the library to support some of our API actions to happen during a WebRTC streaming, so we have our own implementation of it. One solution for us would be to apply our changes on top of yours, is the license of your WebRTC implementation compa

[2018-07-09 21:35] valerymadiedo commented on #308
Hi @aaalaniz

Thanks for the response.
This feature is quite important for the twilio based apps that we are building so would be great to have some light on this topic.

Thank you very much!

[2018-07-10 15:00] aaalaniz commented on #306
Hey @SagarSculpt

It looks like you are trying to use `ViewCapturer` to render a `VideoView` however, I don't think that `ViewCapturer` can render `VideoView` because `VideoView` is a subclass of `SurfaceView`. If your app has a hard requirement on sharing the contents of a `VideoView` then I recommend trying [VideoTextureView](https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2260cbcc8e) wit

[2018-07-10 16:29] aaalaniz commented on #309
Hey @icochico

Unfortunately we do not allow contributions to our SDK or WebRTC source. I recommend reaching out to @ktoraskartwilio to discuss using Twilio Video to accommodate your needs.

Thanks!

[2018-07-11 12:38] sanjogshrestha opened #310 "Disconnection problem."
The participant is automatically thrown out from the room. What is the actual logic behind it? How can we avoid this or is there any way we could get reason for the same. FYI, onDisconnected() is invoked

[2018-07-11 12:40] shivthepro commented on #310
Hey @sanjogshrestha  I have faced this issue while you are trying to connect to the room with same access tokens. Check once weather your devices are having different access tokens.

[2018-07-11 12:48] sanjogshrestha commented on #310
@shivthepro Initially the user are inside the room and then after 15 minutes , user is thrown out from the room. In between that period, user can easily communicate with each other.

[2018-07-12 01:54] isMeCoder commented on #183
@aaalaniz, what's the latest on providing participants with the ability to subscribe select rooms in a Group Room? Do the various 2.x SDKs / APIs officially support it yet?

[2018-07-12 06:02] SagarSculpt commented on #306
Hey @aaalaniz

Above solution is not working. Black stream showing remote side.
I'm attaching zip of my code here.
[VideoCall.zip](https://github.com/twilio/video-quickstart-android/files/2187270/VideoCall.zip)

[2018-07-12 14:31] aaalaniz commented on #310
Hey @sanjogshrestha

The [onDisconnected](https://twilio.github.io/twilio-video-android/docs/latest/com/twilio/video/Room.Listener.html#onDisconnected-com.twilio.video.Room-com.twilio.video.TwilioException-) callback includes a `TwilioException`. Can you check if `onDisconnected` is invoked with a non `null` exception and provide the code and message? If the `TwilioException` is `null` then the pa

[2018-07-14 20:44] MohdIrfan12 opened #313 "VIdeo Group Call"
I am implementing group video call. For one to one it works well, But if there are multiple user's we can't see each other's video
below is the code i have written in onVideoTrackSubscribed callback and remoteVideoTrackPublication.isTrackSubscribed() is always true.

 /*
         * Add remote participant renderer
         */
        if (remoteParticipant.getRemoteVideoTracks().size() > 0) {

[2018-07-17 12:49] sanjogshrestha commented on #310
@aaalaniz The exception says "Unable to re-establish signalling connection to Twilio". What might be the cause of so?

[2018-07-17 14:05] aaalaniz commented on #310
Hey @sanjogshrestha

I can look into it. Can you get the Room SID from the `Room` object? You can call `getSid` on the Room object when you receive the `onDisconnected` callback.

Thanks!

[2018-07-23 11:55] AnkanDey commented on #202
Hello @aaalaniz.

I am facing the same issue here. I have downloaded the project from git, and just added a videoview in the XML in CustomVideoCapturer. Everything showing in the local videoview(@+id/video_view)(eg. Checkbox, Chronometer) but the video(@+id/video) showing black.

My XML looks like below.

<LinearLayout
    android:id="@+id/captured_view"
    android:layout_width="match_parent"

[2018-07-23 12:56] shrungBhatt opened #314 "Integrating wikitude with twillio"
I have made an Augmented Reality app which augments 3d objects on detecting various 3d objects. My next use case is to make that augmentation available for a video chat. Now the wikitude sdk needs a Camera for the object detection purpose, but as the VideoTrack in Tiwillio gives mutual exclusion to the Camera, is there any other way to give the camera access to Wikitude sdk?

[2018-07-23 20:39] garciaraul85 opened #315 "How to send a captured frame to twilio as a 2nd track without having the frames dropped."
### Description

So I want to send 2 videotracks, 1 with the device camera and a 2nd track that shows a 2nd camera connected to an Ubuntu machine and which is communicated via JRosbridge
I created a surfaceview where everytime I get a message from Ros I create from the byte array a mutable bitmap and send it to my surfaceview which draws it on the canvas. Also I have a ViewCapturer which receives

[2018-07-24 07:22] AnkanDey opened #316 "Issue In streaming video in CustomViewCapturer example"
Hello.

I am facing the an issue here. I have downloaded the twilio example of CustomVideoCapturer from git, and just added a videoview in the activity_custom_capturer.xml. Everything showing in the local videoview(@+id/video_view)(eg. Checkbox, Chronometer) but the video(@+id/video) showing black.

My XML looks like below.

<LinearLayout
        android:id="@+id/captured_view"
        android:lay

[2018-07-25 07:10] jimmylogic commented on #80
is there any update

[2018-07-26 06:36] deepbhavsar commented on #87
@aaalaniz
I have downloaded starter sdk from https://github.com/TwilioDevEd/sdk-starter-java
I have setup all mentioned things in .md file after run command `java -jar target/sdk-starter-1.0-SNAPSHOT.jar`
It is showing me started and all.
Could you please tell me from where to get `TWILIO_SDK_STARTER_SERVER_URL` which I have to mentioned `local.properties` ?
After that command how to setup `ngrok`

[2018-08-01 12:06] AnkanDey commented on #316
Hello...Is there anyone to help?

[2018-08-01 16:07] zackm0571 commented on #316
Hey @AnkanDey, I apologize for the delayed response. To help troubleshoot can you provide a screenshot of what you're seeing, the xml of your activity, and the code where you're setting up your video tracks?

[2018-08-10 12:26] grahul2991 opened #317 "Audio Issue"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Unable to hear audio from a custom device build on Android. Works fine for generic mobile devices.
Note: I'm using the Quick Start App by Twilio for android.

### St

[2018-08-10 16:30] idelgado commented on #317
Can you provide more information about this custom device?

[2018-08-10 17:55] grahul2991 commented on #317
It is based on Android having custom hardware. Though the issue now is
different it takes around 8-10 second delay while sharing audio and video
tracks. Why is it so?

On Fri, Aug 10, 2018, 10:00 PM Iñaqui <notifications@github.com> wrote:

[2018-08-13 07:06] rakeshkatta1311 opened #318 "Camera Freezing issue during video call | Android"
I am facing an issue in Android Video Calling functionality. In RealWear android device, camera is being stopped  during the video call. This is working fine in all other devices.

Issue is: Tried to call from Realwear device to any other device. Call connected between two user. Now sometimes the camera is being stopped in RealWear device and at opponent side screen is being black.
This issue is r

[2018-08-13 14:46] idelgado commented on #318
Hey here are a few things to try:

1. Explicitly use `CameraCapturer2`. If your code is using [CameraCapturerCompat](https://github.com/twilio/video-quickstart-android/blob/cb9630779bfba9ce9180bac5057efaf648aa8858/quickstart/src/main/java/com/twilio/video/quickstart/util/CameraCapturerCompat.java#L16) from the quickstart example then I would expect a device with Android OS API 23 to use Camera2 AP

[2018-08-14 09:40] rakeshkatta1311 commented on #318
Hi,

Thanks for your response.

I have changed first 2 points and testing it.

Yes, I'm using VP8 codec.  Here is the log file of start call to end call process. [Log file](https://drive.google.com/open?id=1408XXehTbpL9etUTyqMqluJSVbV6aSmz)

Thanks,
Rakesh

[2018-08-14 10:57] rakeshkatta1311 commented on #318
Hi,

Still I'm facing this issue.

Please check attached log file when camera is stopped during video call.

[Stucked camera log.txt](https://github.com/twilio/video-quickstart-android/files/2286607/Stucked.camera.log.txt)

Thanks,
Rakesh

[2018-08-14 11:10] k3bu commented on #146
Hi @aaalaniz
I know that, this issue is strongly connected with WebRTC but are there any chances to enable this feature?

[2018-08-14 21:06] myxoh commented on #256
Is there any update from this? I have a very similar use case!

[2018-08-15 06:00] rakeshkatta1311 commented on #318
Hi,

Below is the code of CameraCapturerCompat.

[code]

To create LocalVideoTrack I have used below code.

[code]

Thanks,
Rakesh

[2018-08-15 13:40] idelgado commented on #318
Do you have a log for this code? Is `CameraCapturerCompat` resulting in using `Camera1`? If so using the snippet highlighted in bullet 1 above can force the usage of Camera2. It is possible that the underlying camera does not support Camera2. Another way to check this is to use Camera2 on it's own and see if it is supported.

[2018-08-17 16:13] ryanjohn1 opened #320 "ScreenCapturer video doesn't handle orientation change"
Description

I previously included this as a comment on a related issue which is now closed so I'm raising it as it's own issue. From: https://github.com/twilio/video-quickstart-android/issues/287
If you start streaming the screen in one orientation then change, the stream dimensions remain the size of the original and you end up with a tiny display on the receiving device.
I've recorded a gif to

[2018-08-20 18:46] MattBlack01 commented on #80
any update on this?

[2018-08-20 19:00] zackm0571 commented on #80
Hey @MattBlack01 @jimmylogic  No update. With TCMP this issue will improved but we don’t have a timeline for that yet

[2018-08-21 04:48] testingflexsin opened #321 "Caused by: java.lang.IllegalStateException"
Caused by: java.lang.IllegalStateException: Supported formats could not be retrieved because an error occurred connecting to the camera service
                                                                  at com.twilio.video.Preconditions.checkState(Preconditions.java:447)
                                                                  at com.twilio.video.CameraCapturer.getSupportedFormats(

[2018-08-21 04:52] adityaflexsin opened #322 "Caused by: java.lang.IllegalStateException"
Caused by: java.lang.IllegalStateException: Supported formats could not be retrieved because an error occurred connecting to the camera service
                                                                  at com.twilio.video.Preconditions.checkState(Preconditions.java:447)
                                                                  at com.twilio.video.CameraCapturer.getSupportedFormats(

[2018-08-21 06:03] zackm0571 commented on #321
Hey @testingflexsin thanks for reaching out. I have a few follow up questions.

## Questions

- Are you experiencing this crash on a particular device?
- Where in your code is this crash occurring?
- Could you provide steps to reproduce this crash?

[2018-08-21 06:54] adityaflexsin commented on #321
Hello,
this issue after first call disconnect after then call video Activity then crash on this code first line:
        localVideoTrack = LocalVideoTrack.create(this,
                true,
                cameraCapturerCompat.getVideoCapturer(),
                LOCAL_VIDEO_TRACK_NAME);
        primaryVideoView.setMirror(true);
        localVideoTrack.addRenderer(primaryVideoView);
        localVi

[2018-08-21 07:11] zackm0571 commented on #321
Hey @adityaflexsin thanks for the code. Two questions:

- Are you calling `videoTrack.release()` in `onDestroy`? Ex:
[code]

[2018-08-21 07:48] adityaflexsin commented on #321
Yes you can see

 @Override
    protected void onDestroy() {
        /*
         * Always disconnect from the room before leaving the Activity to
         * ensure any memory allocated to the Room resource is freed.
         */
        if (room != null && room.getState() != RoomState.DISCONNECTED) {
            room.disconnect();
            disconnectedFromOnDestroy = true;
        }

        /*

[2018-08-21 12:50] adityaflexsin commented on #321
Hello sir, Please resolve this issue.
I am waiting for your response.

[2018-08-21 14:01] idelgado commented on #322
Duplicate of https://github.com/twilio/video-quickstart-android/issues/321

[2018-08-21 14:01] #322 closed

[2018-08-22 08:46] Vidoje opened #323 "Stuck with getting bitmap from remote Video View"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

[Description of the issue]
Hello guys. I want to get bitmap from participant(remote) video view and later I would save that file.
Error which I get as soon as I call

[2018-08-23 07:32] adityaflexsin commented on #284
this issue after first call disconnect after then call video Activity then crash on this code first line:
localVideoTrack = LocalVideoTrack.create(this,
true,
cameraCapturerCompat.getVideoCapturer(),
LOCAL_VIDEO_TRACK_NAME);
primaryVideoView.setMirror(true);
localVideoTrack.addRenderer(primaryVideoView);
localVideoView = primaryVideoView;
And this issue on every devices.

I am using audio and vide

[2018-08-27 07:37] xav12358 opened #324 "Example for VideoFrame with OpenGL"
Hello,

I found in last Twilio version a VideoFrame with textureId in parameter. Is there any example which use that streaming behaviors?

I would like to feed feed my VideoFrame with YUV420sp data. Can I use  VideoFrame (with texture Id) and feed  YUV420sp data.

Best regard.

[2018-08-27 11:13] rakeshkatta1311 commented on #318
Hi,

Provided log file is of the above code.

We have made changes suggested by you and using `com.twilio:video-android:3.0.0-preview1`  dependency. I'm getting a black screen during video call all the time. Is there any change in this dependency?

Thanks,
Rakesh

[2018-08-27 13:37] idelgado commented on #318
Is this for both the LocalVideoTrack and RemoteVideoTrack(s) from Participants? Please provide logs and a code snippet with this setting `Video.setLogLevel(LogLevel.ALL);`

[2018-08-29 14:53] jardsman opened #325 "Remote participant's video overlaps the local participant's video in Android 8.0 devices"
### Description

Remote participant's video overlaps the local participant's video after remote participant has connected and its video starts rendering.

### Steps to Reproduce

1. Set up the video of the local participant in front of the remote participant's video
2. Initiate call to a remote participant.
3. Remote participant connects to call.

#### Expected Behavior

Remote participant's video

[2018-08-29 16:57] zackm0571 commented on #316
@myxoh can please you add a screenshot of this behavior to help understand what's happening?

[2018-08-29 17:09] zackm0571 commented on #325
Hey @jardsman,

Looking into this. Could you please provide a code snippet of your xml layout?

[2018-08-30 05:34] jardsman commented on #325
In devices pre-8.0, I also noticed that when `local_video_container` comes first (which means it is behind) in the layout before `remote_video_container` and the remote participant's video starts rendering, the local video is displayed on top of the remote video. It seems that the rendering of the video layers are being rendered in reverse. This scenario doesn't apply to 8.0 devices.

[2018-08-30 16:05] zackm0571 commented on #325
@jardsman thanks for the information. I'll investigate this morning.

[2018-08-30 17:28] mcorner commented on #221
Can anyone comment on if this fixed their problem?

We implemented it and it seemed to fix it for the android side of a call, but the other side (in our case it is web/js) was still getting lots of echo with Pixel 2XLs.

We create the audio track first then disable opensl es.  We can try flipping the order to see what happens.

[2018-08-30 17:33] idelgado commented on #221
@mcorner yes please try setting this before creating the LocalAudioTrack.
[code]

[2018-08-31 00:25] idelgado commented on #325
@jardsman can you try conditionally changing the ZOrder for these Views in Android 8.0 vs older versions?

https://twilio.github.io/twilio-video-android/docs/latest/com/twilio/video/VideoView.html#applyZOrder-boolean-

There a snippet with an example here: https://github.com/twilio/video-quickstart-android/blob/b667be5791c349fc8b33aec041a8bd4143e09cf1/README.md#adding-videoview-programmatically

[2018-08-31 06:09] rakeshkatta1311 commented on #318
Hi,

Any workaround to solve this?

Thanks,
Rakesh

[2018-08-31 07:07] AnkanDey commented on #253
Hello aaalaniz,

How can I mute remote audio in 1.3 version?

Gradle dependency : 'com.twilio:video-android:1.3.10'

[2018-08-31 12:53] idelgado commented on #318
Hey, unfortunately the log you provided doesn't have any logs from the Video SDK. I see logs from your app but no longs from the Video SDK.

With the snippet set below there should be logs from the Camera2Capturer when it is initialized.

[code]

[2018-09-02 21:39] zackm0571 commented on #325
@jardsman three questions:

- Could you provide the xml for the layouts in each `<include>` tag? I'm trying to reproduce the image we see above and cannot seem to do so with only the xml given.
- In the interim could you try swapping the order of the remote video view container and the local video to see if this fixes the issue?
- Would this potentially be solved by adding padding to both sides an

[2018-09-02 21:44] zackm0571 commented on #314
@shrungBhatt will take a look at the Wikitude SDK after the holiday weekend. In the mean time, if Wikitude SDK has some way to consume raw camera frames, all you would need to do is write a custom capturer to feed frames to both Twilio and Wikitude, The [custom capturer example](https://github.com/twilio/video-quickstart-android/tree/master/exampleCustomVideoCapturer) might be a good place to star

[2018-09-03 04:08] jardsman commented on #325
@zackm0571 kindly disregard the include tags. I updated the layout and removed those views and replaced String references with hardcoded values in the `text` fields of the layout.

- This is the workaround we implemented when we first noticed this, but it doesn't seem to work for devices Android 8.0.

- Unfortunately, no. Our requirement for this screen requires that the local video is on top of t

[2018-09-04 14:07] olmur opened #327 "Instance of com.twilio.video.VideoTrack$VideoRendererCallbackAdapter cause memory leaks"
Hello! I got a message from LeakCanary that com.twilio.video.VideoTrack$VideoRendererCallbackAdapter is leaking VideoView context (the one that render LocalVideoTrack) when I'm finishing a call. Before finish I remove video renderer from local video track, than unpublish local video track, release it and set it to null. Doing everything as in quick start application.

This happens on all of my dev

[2018-09-04 15:55] zackm0571 commented on #327
Hey @olmur,

We're going to integrate LeakCanary into our instrumentation tests and follow up with our findings. Thanks for pointing this out.

[2018-09-04 16:01] aaalaniz commented on #253
Hey @AnkanDey

Muting remote audio is not supported in the 1.x versions of the Video Android SDK. Please update your application to 2.x to use this feature.

Thanks!

[2018-09-04 19:18] myxoh commented on #316
I'm sorry, I don't have the code anymore as I've ended up solving the issue in a different way and didn't commit the non-working example anywhere

[2018-09-05 03:36] zackm0571 commented on #325
@jardsman

I have good news and bad news. The bad news is after doing a little bit of digging I found that you cannot overlay two SurfaceView's, which is what `VideoView` is using as it's renderer. The good news is that we just released Video Android 2.2.0 which contains `VideoTextureView`. `VideoTextureView` uses a TextureView as it's renderer and in fact supports the behavior you're looking for.

[2018-09-05 04:41] zackm0571 commented on #325
@jardsman

Quick word of caution,`VideoTextureView` can experience dead locking on API Level 19 or below due to a [WebRTC bug](https://bugs.chromium.org/p/webrtc/issues/detail?id=5702). If you have a need to support devices using API 19 or below you might want to include some logic to switch between `VideoView` and `VideoTextureView` depending on API level.

[2018-09-05 09:27] yprak commented on #325
@zackm0571

I am trying to use 2.2.0 and replaced VideoView with VideoTextureView, as mentioned above. But I get the following error:
Error:In <declare-styleable> VideoView, unable to find attribute overlaySurface

Anything else to be added in build.gradle? Could you please help?

[2018-09-05 10:18] jardsman commented on #325
@zackm0571 I tried the solution you provided and it worked. We can close this ticket.

[2018-09-05 14:27] aaalaniz commented on #284
hey @adityaflexsin

Please reproduce this issue in a fork of our quickstart. We will be happy to investigate with proper reproduction steps.

Thanks!

[2018-09-05 14:34] aaalaniz commented on #149
@zackm0571 released `VideoTextureView` in `2.2.0.` 🎉

[2018-09-05 14:34] #149 closed

[2018-09-05 14:36] aaalaniz commented on #323
Hey @Vidoje

This issue is a duplicate of #213. Please post your questions or findings there.

Thanks!

[2018-09-05 14:36] #323 closed

[2018-09-05 15:16] aaalaniz commented on #324
Hey @xav12358

We do not currently provide an example of using OpenGL to extract a VideoFrame. However, I encourage you to check out the discussion in #149 and #323 for more context on what is currently possible.

Thanks!

[2018-09-05 15:20] aaalaniz commented on #323
Duplicate of #213

[2018-09-05 16:34] aaalaniz commented on #320
Hey @ryanjohn1

I captured this in our backlog. We will take a look. It would be really helpful if you could reproduce the issue in a fork of our quickstart so we can work with a common code base.

Thanks!

[2018-09-05 17:15] #325 closed

[2018-09-05 18:10] zackm0571 commented on #327
@olmur can you post a dump of all the findings that LeakCanary provided? Running about 500+ tests right now and would be interested to compare my findings to yours when it's done.

[2018-09-06 00:06] jardsman commented on #325
@yprak yes, this line should be in your build.gradle: `implementation 'com.twilio:video-android:2.2.0'`.

[2018-09-06 08:50] olmur commented on #327
@zackm0571 sure, here it is.
[leakcanary-dump.txt](https://github.com/twilio/video-quickstart-android/files/2356262/leakcanary-dump.txt)

[2018-09-07 08:46] yprak commented on #325
@jardsman, thanks for your reply. As I have mentioned above, I have indeed added
implementation 'com.twilio:video-android:2.2.0'.

But when I do that, I get the following error -
Error: In < declare-styleable > VideoView, unable to find attribute overlaySurface.

My question is whether there must be a change in buildToolsVersion or is there any other dependency?
My current buildToolsVersion is 25.

[2018-09-10 14:27] kbagchiGWC opened #328 "Local view in landscape not showing proper preview"
Porting from https://github.com/twilio/voice-quickstart-android/issues/199

Hey,

I'm using twilio video call on landscape mode from android.
I have shared screen shot link below what problem I'm facing now.
Local view height not proper as my local stream size streaming to opponent side.
https://drive.google.com/open?id=1jNMJTv4pfb3aG75f-y7tpZxkH-irEzqL

[2018-09-11 04:06] SagarSculpt commented on #328
@zackm0571 I forget to add that currently I'm using textureview for that local view.

[2018-09-11 06:08] olmur commented on #327
@zackm0571 any progress on that? :)

[2018-09-11 09:17] shrungBhatt commented on #314
Yup I have used PluginAPI from the start. Can you tell me how I can get the frame from Twilio in order to pass it in the CameraCapturer?

[2018-09-13 08:32] jardsman commented on #325
Error: In < declare-styleable > VideoView, unable to find attribute overlaySurface.

Are you using `com.twilio.video.VideoView` or `android.widge.VideoView?`.

Not really sure about that.

There is none other than the twilio dependency.

I'm using 27.0.3.

[2018-09-13 22:41] zackm0571 commented on #320
@ryanjohn1 I'm having trouble reproducing the behavior you're seeing on our end. Could you provide a sample of your layout and any relevant code relating to your capturers and renderers?

Thanks!

[2018-09-13 22:46] zackm0571 commented on #328
@SagarSculpt To better understand what's happening could you provide a sample of your xml layout, please?

[2018-09-14 04:06] SagarSculpt commented on #328
https://drive.google.com/open?id=1QcDNXJcOWuelbOuBlFOZzRFRyVn624Pt

Above link of my video call activity xml.

[2018-09-14 05:21] SagarSculpt commented on #328
@zackm0571

Hi...

My issue solved by this line

twilio_localview.setScalingType(RendererCommon.ScalingType.SCALE_ASPECT_FIT);

[2018-09-14 06:30] zackm0571 commented on #328
@SagarSculpt glad you got it resolved. Feel free to open another issue if you have anymore questions.

[2018-09-14 06:30] #328 closed

[2018-09-14 06:35] zackm0571 commented on #302
Closing because it looks like this has been figured out. If you have anymore questions feel free to open another issue with us.

[2018-09-14 06:35] #302 closed

[2018-09-14 06:36] zackm0571 commented on #250
@shivthepro we recently just released version `2.2.0` of our SDK which has `VideoTextureView`. Could you give this a shot and see if it fixes your crash?

[2018-09-14 06:38] zackm0571 commented on #229
Closing because of inactivity. If you're still having trouble feel free to reach out. 😊

[2018-09-14 06:38] #229 closed

[2018-09-17 13:29] ryanjohn1 commented on #320
@zackm0571 I've managed to reproduce this by modifying the Quickstart example with some code from the ScreenCapturer example. I've got it on a branch of this repo. I don't have permissions to push to the remote so I've just zipped up the modified VideoActivity.java file.

[VideoActivity.java.zip](https://github.com/twilio/video-quickstart-android/files/2388718/VideoActivity.java.zip)

To reproduce

[2018-09-17 15:45] zackm0571 commented on #320
@ryanjohn1 thank you so much for the attention to detail here. Will take a look this morning and let you know if I can successfully reproduce.

[2018-09-17 17:57] zackm0571 commented on #327
@olmur we've put this on the backlog for now. We'll keep you updated as we make progress towards a solution. Is this impacting releases to production for you guys?

[2018-09-17 17:58] zackm0571 commented on #320
@ryanjohn1 I was able to reproduce the issue locally. Thanks again for putting this modified quickstart together. I'll keep you updated as I make progress.

[2018-09-17 18:35] zackm0571 commented on #320
@ryanjohn1 as silly as this is, by setting the `layout_width` property to `match_parent` on the VideoView with id `primary_video_view` I saw dramatic improvement to the way the remote screencap was being rendered. Could you give this a shot and tell me if you see any improvement? If not we can continue to triage further :)

[2018-09-17 18:41] zackm0571 commented on #321
@adityaflexsin my apologies for the late reply. Could you post your activity in full to better understand what could be happening?

Thanks!

[2018-09-18 04:15] jhimss opened #330 "Not able to connect to remote participants (Android)"
Hi,

I am using quick-start project of Twilio.
Where I have my server URL and I am able to get the token from that URL.
The issue is that I am not able to add a participant to my room or I just see my video only not able to get any other remote participant.
Please help me to get rid of this situation.

[2018-09-18 11:44] ryanjohn1 commented on #320
@zackm0571 we were previously doing that as a way of sort of getting around the problem but all it is really doing is zooming in on the part of the video with content. When it's set to match_parent the VideoScaleType is automatically set to fill (See comment on VideoView setVideoScaleType method), This means the the video is stretched to fit, say you have an initial video that's 1024 tall and 768

[2018-09-18 23:52] zackm0571 commented on #330
Hey @jhimss

Thanks for reaching out! Would you mind providing your Video activity to better determine what might be the problem?

[2018-09-19 03:58] jhimss commented on #330
Hi Zack,

Please find the attachment of Video Activity and Local.properties files
below:

On Wed, Sep 19, 2018 at 5:22 AM Zack Matthews <notifications@github.com>
wrote:

--
Regards,
Himanshu Jain
9509006826

[2018-09-19 04:05] jhimss commented on #330
Hi,

Please find attached below

[Files.zip](https://github.com/twilio/video-quickstart-android/files/2395375/Files.zip)

[2018-09-19 15:39] zackm0571 commented on #330
Thanks @jhimss,

Will take a look and let you know what I find.

[2018-09-19 15:43] zackm0571 commented on #320
@ryanjohn1 thanks for the details. The ScreenCapturerAndroid class does look to be the right place to start. I'll keep you updated on my findings.

[2018-09-19 21:48] zackm0571 commented on #330
@jhimss your server url is hardcoded to use the same identity. Our API requires that each participant have a unique identity. Could you try getting two devices with different tokens and different identities?

[2018-09-19 21:50] zackm0571 commented on #313
@MohdIrfan12 could you post your activity in full? This will be easier to debug with more context.

Thanks!

[2018-09-20 05:07] jhimss commented on #330
Hey Zack,

I am changing the identities for two devices and then running both the
applications and still i am not getting the vedio of other participant.
Just get the name of the room i am connected to in both the device.

On Thu, Sep 20, 2018 at 3:19 AM Zack Matthews <notifications@github.com>
wrote:

--
Regards,
Himanshu Jain
9509006826

[2018-09-20 05:27] jhimss commented on #330
Hi Zack,

Problem has been solved. As i was adding extra parameter which was "Room".

Thanks
Himanshu Jain

On Thu, Sep 20, 2018 at 10:36 AM Himanshu Jain <himanshu.jain591@gmail.com>
wrote:

--
Regards,
Himanshu Jain
9509006826

[2018-09-20 06:48] chaitaliyyy commented on #97
I need to record video call session between two users. How to do it using  JS

[2018-09-20 15:13] zackm0571 commented on #330
Great! Feel free to reach out if you have anymore questions.

[2018-09-20 15:13] #330 closed

[2018-09-20 16:13] skytron commented on #316
Hi @myxoh, I have same issue. I would streaming a sceneview from ARcore, but the screen is black. How to solve this problem, thanks!

[2018-09-25 19:05] #213 closed

[2018-09-26 08:56] saurabhojha075 commented on #321
Hi sir i am facing same issue , app get crashed after first call get disconnect ,i am doing  video track release and null onDestroy()

please solve this issue ASAP

[2018-09-26 14:09] zackm0571 commented on #321
@saurabhojha075 can you post your activity where you're seeing this happen? Thanks!

[2018-09-28 06:13] saurabhojha075 commented on #321
public class VideoActivity extends AppCompatActivity {
    public static final String BROADCAST_ACTION_COMPLETED = "com.jobwallet.completed.broadcastreceiver";
    private static final int CAMERA_MIC_PERMISSION_REQUEST_CODE = 1;
    private static final String TAG = "VideoActivity";
    private OkHttpClient client = new OkHttpClient();
    boolean doubleBackToExitPressedOnce = false;
    private M

[2018-09-28 11:17] yprak commented on #325
@jardsman, I had to upgrade buildToolsVersion to 27.0.3. Thanks for that.
I was away for a long time. Hence couldn't reply on sooner.

[2018-09-29 06:02] saurabhojha075 commented on #321
Sir I send you plz check

On Wed, 26 Sep 2018, 19:39 Zack Matthews, <notifications@github.com> wrote:

[2018-09-30 19:04] myxoh commented on #316
I've ended up generating bitmaps somewhere else in the code based on the view, and using them to generate Frames

[2018-10-02 04:53] hrlyrab commented on #89
Hi @aaalaniz I have a question sir, can a camera like CCTV cameras burst a shot while it is recording?

[2018-10-02 07:49] skytron commented on #316
Hi @myxoh thanks to reply. I've resolved generating bitmaps with PixelCopy and using them in CustomViewCapturer. I hope this useful for someone.

[2018-10-02 14:27] aaalaniz commented on #89
Hey @hrlyrab

I think it depends on whether the device supports the Camera2 API. It might be possible, but I can't tell you with certainty until I research further. If you provide specific device and hardware information, I can capture this in our backlog as a feature request.

Thanks!

[2018-10-03 14:15] hrlyrab commented on #89
Good day sir! I'm using Raspberry PI 3B v1.2, Raspberry PI Camera v2.1, and Raspberry PI Camera Rev 1.3.

[2018-10-03 14:18] aaalaniz commented on #89
Hey @hrlyrab

Thanks for the details! Are you using [Android Things](https://developer.android.com/things/)?

[2018-10-04 14:33] aaalaniz commented on #89
Hey @hrlyrab

Android things is not required. I was just inquiring out of curiosity. How do you plan on using Twilio Video with Raspberry PI?

Thanks!

[2018-10-09 14:01] olmur commented on #327
@zackm0571 hello :) sorry for the delay. yeah it's impacting a little bit but we will release to production anyway. I saw version 3.0 came up recently, should we expect those fixes there?

[2018-10-10 18:19] aaalaniz opened #340 "Video Android SDK is not Side-by-Side Compatible with other WebRTC Libraries"
### Description

We have received questions about using the Video Android SDK alongside either [Google's WebRTC library](https://bintray.com/google/webrtc/google-webrtc) or another WebRTC based library. The Video Android SDK can not be pulled into a project alongside other WebRTC dependent libraries due to class conflicts in the package `org.webrtc` and conflicting native module names (`libjingle_

[2018-10-11 09:35] N-Bark commented on #320
Hi @zackm0571
I tried to call changeCaptureFormat (using reflection) in the onConfigurationsChanged callback in my streaming service class and it works as expected.
I did a CustomScreenCapturer (as in issue #287) and added below public method in that class.
[code]
@ryanjohn1
Is there any progress in this issue? If not, could you please make webRtcScreenCapturer public in the next release (to avoid

[2018-10-11 12:36] fStotzEssert opened #341 "Custom VideoRenderer crashes VideoTrack"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

If I add an custom VideoRender to an Camera2Capturer the stream freezes.
The same issue occurrs with some remote video tracks.

### Steps to Reproduce

1. create a c

[2018-10-11 15:00] phuochau commented on #62
Hi @aaalaniz with current Video SDK, can we switch from default `MediaRecorder.AudioSource.VOICE_COMMUNICATION` to another AudioSource? Thanks

[2018-10-11 20:05] zackm0571 commented on #341
Hey @fStotzEssert, thanks for reaching out. Two questions for you:

- Is this the exact code you're trying to get working?
- Can you try adding `frame.release()` in `videoRenderer.renderFrame` and see if that fixes the problem?

[2018-10-11 21:39] zackm0571 commented on #320
@ryanjohn1 what type of room are you experiencing the issue in? Group or P2P? If you've only tested one can you test the other? Doing some testing on our end to validate a theory.

[2018-10-12 06:36] fStotzEssert commented on #341
@zackm0571 , thanks this seems to have been the issue

I already fix it in my app by using a workaround and just wanted to report it, in case it was an bug

[2018-10-12 13:44] SamarthThesiya opened #342 "How to implement AR by DataTrack API"
https://www.twilio.com/press/releases/twilio-new-video-api-augmented-reality

As per the above link of DataTrack API, twilio provides Augmented Reality by DataTrack API .  But somehow I can not get proper documentation or demo application to implement it. So could you provide me documentation or demo application of it?

Thank you so much.

[2018-10-14 11:30] shaelhaldkar commented on #173
please update on this

[2018-10-14 11:31] shaelhaldkar commented on #173
Also please share the link to mux audio video using ffmpeg

[2018-10-15 15:32] aaalaniz commented on #62
Hey @phongnx

The Video Android SDK does not support switching the default AudioSource today. What is your use case for switching the default source?

Thanks!

[2018-10-15 15:41] aaalaniz commented on #342
Hey @SamarthThesiya

We do not provide an Android quickstart or sample application that demonstrates how to use the DataTrack API for Augmented Reality purposes. Are you looking for an example or quickstart that demonstrates how to use the Video Android SDK with ARCore?

Thanks!

[2018-10-15 15:49] aaalaniz commented on #173
Hey @shaelhaldkar

I apologize. I should have updated this issue when we announced [Programmable Video Compositions API](https://www.twilio.com/blog/2018/05/group-room-video-compositions-api.html). I recommend reading the [Video compositions API docs](https://www.twilio.com/docs/video/api/compositions-resource).

I will be happy to field any follow up questions about the compositions API.

Thanks!

[2018-10-22 07:09] april21dev opened #344 "unpublishTrack() calls webhook "participant-disconnected""
Like kotlin example, I call unpublishTrack() when my activity goes to onPause state.

And then your system calls "participant-disconnected" to WebHook URL

Is it normal process?

below is my activity's onPause code

fun doOnPause() {
        /*
         * If this local video track is being shared in a Room, remove from local
         * participant before releasing the video track. Participants wil

[2018-10-22 07:13] april21dev opened #345 "unpublishTrack() calls WebHook "participant-disconnected""
Like kotlin example, I call unpublishTrack() when my activity goes to onPause state.

And then your system calls "participant-disconnected" to WebHook URL

Is it normal process?

below is my activity's onPause code

`
fun doOnPause() {
        /*
         * If this local video track is being shared in a Room, remove from local
         * participant before releasing the video track. Participants w

[2018-10-22 08:18] april21dev opened #346 "unpublishTrack() calls WebHook "participant-disconnected""
Like kotlin example, I call localParticipant.unpublishTrack() when onPause state

and your server call our webhook with "participant-disconnected"

is this normal case?

below is my onPause code

[code]

[2018-10-22 09:20] AnkitSingh80 commented on #313
Hi,i have to make a video group call of maximum 4 people and need to show all the videos.so do the library provide any related help in rendering multiple videos  or we have to handle it by ourself?.

[2018-10-22 09:21] AnkitSingh80 commented on #313
Hi,i have to make a video group call of maximum 4 people and need to show all the videos.so do the library provide any related help in rendering multiple videos  or we have to handle it by ourself?.

[2018-10-22 15:03] aaalaniz commented on #313
Hey @AnkitSingh80

The Video Android SDK does not provide components that help with rendering a multi-party call. We require developers to handle rendering participants video according to their application's needs. However, our team has discussed adding these type of UI components (or creating a separate library) to help reduce the amount of code required to add video to your application. Open a s

[2018-10-22 17:13] zackm0571 commented on #345
Closing. Let's keep this discussion in one issue.

[2018-10-22 17:13] #345 closed

[2018-10-22 17:13] zackm0571 commented on #344
Duplicate issue

[2018-10-22 17:13] #344 closed

[2018-10-23 13:39] amiga opened #347 "No video feed even when connected"
got connected message but cannot see or hear  the other participant and he cant see me. No errors.

[2018-10-23 16:38] zackm0571 commented on #347
Hey @amiga to make troubleshooting this a little easier could you provide a couple of things?

- Android SDK Version
- Your full video activity with tokens and such omitted

Thanks!

[2018-10-23 18:36] amiga commented on #347
Apologies I was using chatRoomId, it works with roomID

[2018-10-23 18:36] #347 closed

[2018-10-24 14:14] sanjayrajsinh opened #348 "when i try to get accesstoken using AccessToken.Builder() its throw exception"
[code]
**build.gradle**
   implementation"org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"
    implementation 'com.android.support:appcompat-v7:28.0.0'
    implementation "com.android.support:preference-v14:28.0.0"
    implementation "com.android.support:design:28.0.0"
  implementation 'com.twilio.sdk:twilio:7.28.0'
    implementation "com.twilio:video-android:3.0.0"

**Exception is** : Ca

[2018-10-24 14:51] idelgado commented on #348
You should not generate the access token in the app. Someone could download your app, unpack it, and use your credentials since they are likely stored as strings in the resource section of the apk.

We recommend you use a web service to generate your access token and use your own auth mechanism to retrieve an access token whenever necessary.

As for the error, the Twilio Java helper library is not

[2018-10-25 04:44] AnkitSingh80 commented on #313
thanks @aaalaniz.

[2018-10-26 06:17] sanjayrajsinh opened #350 "Throw error whenever I Use Recording class or Message class"
not even any class work without any  build problem.so Please if required other dependency or any gradle entry then tell me and add in your doc for Android

I Add all the require dependency i.g
[code]

but when try to get redording like
[code]
And also when try to use Message at then time also throw same error
`
  val message = Message.creator(
                                        PhoneNumber("+

[2018-10-26 16:32] zackm0571 commented on #350
@sanjayrajsinh could you provide clarity on `implementation 'com.twilio.sdk:twilio:7.28.0'`? What is this being used for? Is video interfering with your ability to use that sdk?

[2018-10-27 13:13] spalmertwilio opened #351 "Crash when using MediaRecorder with live audio and video tracks"
### Description

We are using Twilio "ScreenCapturer" to capture the screen and show to other room users. It is working fine.
But here I am also capturing video(With Audio) using my device camera. Here video cannot be recorded as Twilio holding the mic of this device. and that conflicts because the audio input resource is not sharable.

We want to be sending the audio track to Twilio & also record

[2018-10-29 07:31] AnkitSingh80 opened #352 "i have to make a video group call of maximum 4 people and need to show all the videos."
_Originally posted by @AnkitSingh80 in https://github.com/twilio/video-quickstart-android/issues/313#issuecomment-431782912_

[2018-10-29 22:34] idelgado commented on #350
This dependency `implementation 'com.twilio.sdk:twilio:7.28.0' otherwise known as the Java helper library is not supported on Android. It is intended to be used in a server side application.

You can read the docs here for more info: https://www.twilio.com/docs/libraries/java

[2018-10-29 22:34] #350 closed

[2018-10-29 22:37] idelgado commented on #348
As stated in the other ticket that was filed using the Java helper library on Android is not supported. If you wish to use functionality related to this library you must use it in a server side application.

See https://www.twilio.com/docs/libraries/java for more information.

To use Programmable Video on Android you only need the following: `implementation "com.twilio:video-android:3.0.0"`.

[2018-10-29 22:37] #348 closed

[2018-10-30 13:30] AnkitSingh80 commented on #276
hi   @aaalaniz  @dwalle  @ktoraskartwilio
I am implementing the video group call of 4 users and each users can see every other users in a call.
on adding second participant to the same room it goes to onVideoUnsubscribed method which result in disconnection and hence unable to add multiple user on to the same room.
i am using 4 video views for group call and 2 video views for single call together

[2018-10-30 16:00] aaalaniz opened #353 "Custom Audio Devices"
### Description

When creating a `LocalAudioTrack`, the Video Android SDK uses a default audio device that captures audio frames from the microphone. Unlike the [Video iOS SDK](https://github.com/twilio/video-quickstart-swift/tree/master/AudioDeviceExample), the Video Android SDK does not support providing your own audio device. As a developer, providing your own audio device would allow use cases

[2018-10-30 16:05] aaalaniz commented on #351
The answer to this question is no and the feature is captured in #353

[2018-10-30 16:10] aaalaniz commented on #276
Hey @AnkitSingh80

Can you open a separate issue for this problem? The scenario looks unrelated to this issue.

Thanks!

[2018-10-30 16:13] aaalaniz commented on #352
Hey @AnkitSingh80

Please update this issue with context from original comment on #313. Provide details of what you are trying to implement and what components that could be added to the Video Android SDK to support your use case.

Thanks!

[2018-10-30 16:51] zackm0571 commented on #316
Closing issue. Thanks @skytron for providing your solution!

[2018-10-30 16:51] #316 closed

[2018-10-30 16:54] zackm0571 commented on #310
@sanjogshrestha are you still experiencing this issue? If so, could you provide the room SID?

[2018-10-30 17:16] AnkitSingh80 commented on #352
Max 4 people can do video group call so i want the screen to be divided in to 4 equal parts  and if one people leave the call then 2 parts merged into 1 part and other 2 remain same.

currently i am able to make video call for 1 user and its working fine but once i add another one to the same room to the on going video call,onVideoUnsubscribed() call which result in disconnection.
i am finding dif

[2018-10-31 20:23] zackm0571 commented on #346
Hey @april21dev. Sorry for the delayed response. I tried to reproduce this locally and could not. Could you please provide a few things to help trouble shoot?
- Room SID (use `room.getSid()'
- Video Android version
- Your full activity code (Personal info like tokens / keys removed)
- Logs from when this behavior happens

Thanks!

[2018-10-31 21:59] zackm0571 commented on #346
Hey @april21dev one more follow up question. When this happens does the app receive the onParticipantDisconnected call back or do you only receive the web hook event?

[2018-11-01 10:37] AnkitSingh80 opened #354 "onVideoTrackSubscribed() called even though receiver did not join the room"
hi, i have implemented a video group call but currently facing some issues.
1)Videoview flickering a lot before rendering call and workes fine after video load on it.
2)onVideoTrackSubscribed() called even though receiver did not join the room.and then killing app and restart solve my problem.It happends when onDisconnected() call.
3)Calling notificaiton did not come but when i kill the app, then

[2018-11-01 17:40] zackm0571 commented on #354
@AnkitSingh80 can you post your call activity code? That might make it a little easier to help debug.

[2018-11-04 16:50] S-Saagar opened #355 "How to use flash with Camera 2?"
With below code done to on/off flash using camera1
-----------------------------------------------------------
if (enable) {
              camera1Capturer.updateCameraParameters(cameraParameters -> cameraParameters.setFlashMode(Camera.Parameters.FLASH_MODE_TORCH));
            } else {
                camera1Capturer.updateCameraParameters(cameraParameters->
cameraParameters.setFlashMode(Camera.Pa

[2018-11-05 15:03] aaalaniz commented on #355
Duplicate of #146

[2018-11-05 15:03] #355 closed

[2018-11-06 07:30] Myeongwon-Kang opened #357 "Failed to create EGL context: 0x3003"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Fatal Exception: java.lang.RuntimeException: java.lang.RuntimeException: Failed to create EGL context: 0x3003

### Steps to Reproduce

1. [Step one]
2. [Step two]
3.

[2018-11-06 14:54] aaalaniz commented on #357
Duplicate of #292

[2018-11-06 14:54] #357 closed

[2018-11-12 13:36] omkar4541 opened #358 "Screen Froze in multiple video calling(Android and iOS)"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

When i tried multiple video call using Twillio programmable Video using 4 devices,last person got 2 videoviews got froze and second last person got 1 videoview froze

[2018-11-13 18:22] zackm0571 commented on #358
Hey @omkar4541 looks like there might be an issue with the multi party video rendering logic here. We do plan on updating the Quickstart to support multi-party video. Would suggest taking a look at that once we've updated.

[2018-11-14 06:31] omkar4541 commented on #358
Thanks @zackm0571 ,is there any way how can i solve this problem right now because i cant wait till new update. It will be great help.

[2018-11-14 11:29] taher-mosbah commented on #80
Any ETA on a fix or a workaround please ?

[2018-11-14 15:59] zackm0571 commented on #358
I can't provide any timeline at the moment. I'll let you know when we can update.

[2018-11-14 16:02] zackm0571 commented on #80
It's on our roadmap and we're actively working on this. I'll provide an update once it's available.

[2018-11-23 04:28] lqgioan opened #359 "LocalParticipant Listener isn't called"
### Description

[HELP] LocalParticipant Listener isn't called

### Steps to Reproduce

1. I connect to a Room -> it's OK
2. I received the `onConnected(Room)` callback. In this method, I set a listener for the `LocalParticipant` by the below code.
[code]
I'm sure that `room?.localParticipant` is not null. But I don't receviced any callback from `LocalParticipant.Listener` when the `LocalVideoTrac

[2018-11-23 07:06] S-Saagar opened #360 "Opponent side participant disconnected."
Hii...

I have one case while doing One to One call.
Below case both the time U1 and U2 have same identity and same room name.

U1 is web user
U2 is Android user

Step - 1
Call from U1 to U2.
Now incoming call screen showing to U2.
Step - 2
User 2 accept the call and wait till all procedure completed related to twilio.
Step - 3
Now U2 turn off internet and reject call. Call screen stay there on U1

[2018-11-26 06:33] zackm0571 commented on #360
@S-Saagar thanks for reaching out.
Two quick things:
- 1) Our SDK doesn't currently support users with the same identity. Can you try giving each user a unique identity and then seeing if this resolves this issue?
- 2) Are you seeing this bug with the video invite quickstart? Could you provide your Android call activity?

[2018-11-26 18:43] zackm0571 commented on #359
Hey @lqgioan, thanks for reaching out. I can't seem to get the code you posted above to compile. Particularly this line ```it.setListener(LocalParticipant.Listener)```. Could you try reproducing with our quickStart or provide a simple example that reproduces the issue you're seeing? Thanks!

[2018-11-26 18:47] zackm0571 commented on #307
@ahmadtahirpk are you still seeing the same behavior?

[2018-11-27 11:20] beautifulsoul84hung opened #363 "Error 53404 No supported codec"
Hi.
I have an issue need your support.
When I use some android devices to make video call, the error 53404 appear: "No supported codec". Then, these devices can't connect to room (this issue occur on some devices as huawei emui 4.1.3, galaxy c8 but not with some others as galaxy A7)
I think this problem related to twilio account, but I don't know exactly the reason. I guess that because the issues

[2018-11-27 20:40] aaalaniz commented on #363
Hey @beautifulsoul84hung

The Video Android SDK only supports encoding/decoding H.264 on devices with H.264 hardware implementations. The SDK does not provide a software implementation of H.264. As a result, Android clients that do not provide hardware H.264 implementations will experience the following behavior when participants are sharing video tracks encoded using H.264:

**Video Android 1.x**

[2018-11-28 04:14] beautifulsoul84hung commented on #363
Hi @aaalaniz

Thank for your provided support. The problem because of  **Room setting**
My partner config VIDEO CODEC as H.264. When I change config  to VP8&H.264 the issue is solved.

Thanks and kindest regards,
Hung.

[2018-11-28 16:00] aaalaniz commented on #363
Glad I could help!

[2018-11-28 16:00] #363 closed

[2018-11-29 05:35] lqgioan commented on #359
Thanks for your replying @zackm0571,

In the **quickstartKotlin** project, **I added the code from line 113 to 150 in the com.twilio.video.quickstart.kotlin.VideoActivity files to reproduce the problem.**

After the app connected to a `Room`, I did two things

- I register a listener for the LocalParticipant by calling localParticipant?.setListener(LocalParticipant.Listener) in the `onConnected(Ro

[2018-11-30 17:44] zackm0571 commented on #359
@lqgioan I'm investigating now. Thanks for all the info!

[2018-12-01 09:34] lqgioan commented on #359
@zackm0571 yes, `localParticipant?.publishTrack(it)` always return false in my case.

We called `publishTrack` in two places.

- One is in the `onResume` -> the `publishTrack` wasn't called when the app was opened the first time or wasn't connected to a `Room`
- One is in `onConnected(Room)` callback -> in my case

You said **the video track was already published by the time I called `publishTrack

[2018-12-01 17:23] apurcaroiu opened #365 "Switch local video track between video views (primary and thumbnail)"
### Steps to Reproduce

1. Connect to a room with two participants (using the quickstart sample)
2.Try to move local video to primary view during call (similar how whatsapp has when press on the thumbnail view) by calling moveLocalVideoToPrimaryView
3. Local front camera does to move to primary view but it causes flashes of remote video view also (I am getting flashes from both my own front camera

[2018-12-02 12:07] zackm0571 commented on #359
@lqgioan I just saw now that you were trying to check whether a track was published or not. My apologies. Instead of this, you can call a function like this from `onConnect`.

[code]
Here I'm passing in a `Room` to this function to demonstrate how to get a handle to a `LocalVideoTrack`, but you can pass in the `LocalVideoTrack` itself if you have a reference to it elsewhere.

Make sure you still s

[2018-12-03 17:31] zackm0571 commented on #307
@ahmadtahirpk Closing this issue for inactivity. Please reach out if you still need any help :)

[2018-12-03 17:31] #307 closed

[2018-12-04 11:59] Joett77 commented on #342
Yes, we have the same request. We're looking for  for an example or quickstart that demonstrates how to use the Video Android SDK with ARCore. Is it possible?

[2018-12-04 18:53] Joett77 commented on #342
Yes, we have the same request. We're looking for an example or quickstart that demonstrates how to use the Video Android SDK with ARCore. Is it possible?

[2018-12-06 01:49] kawmra opened #366 "Add LocalVideoTrack after room connected"
I want to enable video feature at the time when the user request to use camera and I want to ask permission to the user at this time (when user taps video button for example).
But `Video#connect()` throws IllegalStateException ("CAMERA permission must be granted to create videotrack with CameraCapturer") if I add LocalVideoTrack to ConnectOptions even if the track is disabled.

It is possible to a

[2018-12-07 13:10] snehadhagade commented on #325
Hello

[2018-12-07 13:12] snehadhagade commented on #325
Hello
implementation 'com.twilio:video-android:3.1.0'.
But when I do that, I get the following error -
Error: In < declare-styleable > VideoView, unable to find attribute overlaySurface.
My current buildToolVersio 27.0.3 and compileSdkVersio 27

[2018-12-07 21:43] zackm0571 commented on #366
Hey @kawmra. `LocalParticipant` has this function `publishTrack(@NonNull LocalVideoTrack localVideoTrack) ` which should publish the track even after connecting to a room. Make sure to save all your camera initialization logic for after the camera permissions have been accepted. Once the permission has been accepted and your `VideoTrack` has been initialized you should be able to publish it withou

[2018-12-07 22:54] zackm0571 commented on #359
@lqgioan we're going to be adding some clearer documentation in a future release. To summarize, when the `Room.Listener#onConnected` callback is called any audio or video track that was provided as part of `ConnectOptions` will already be published. As a result, when adding the `LocalParticipant.Listener` there will be no callbacks raised for the tracks that were previous added via `ConnectOptions

[2018-12-11 18:43] zackm0571 commented on #365
@apurcaroiu am I understanding correctly that this is with our quickStart unmodified or is this in your app? If this is only happening in your app could you post your full activity to help debug? Thanks!

[2018-12-13 10:10] ghost opened #368 "Web fails to render VP9 with 3.0+"
### Description

When sending in VP9 as a preferred codec with a compatible device (example Samsung SM-G950F) Twilio.js will not be able to render the video resulting in a black screen.

The web does not send in any preferred video codecs. It also works as expected with versions before 3.0.

We can see that the device has sent video data to the web.

Have you received any other reports regarding t

[2018-12-13 18:54] zackm0571 commented on #368
Hey @phsavisiba. Thanks for reaching out. I've tried to reproduce on my end and can't seem to get black video to show from android. Can you send over any code that differs from our android and JS quickstarts?

Also a few things to try:

- Does this happen on different Android devices?
- Does this happen between Android to Android? What about Android to iOS?
- Does this happen with our quickStart?

[2018-12-13 20:30] zackm0571 commented on #368
One more thing. Could you provide the Room Sid when you experience this issue? Quick way to get that is log the value `room.getSid()`. This will help us look into the issue a little more verbosely. Thanks!

[2018-12-14 09:59] phsavisiba commented on #368
Thanks for the quick response here is a Room Sid with the issue: "RM1c6429cee24d8ea52e9a456ccd42569a"
I will try your suggestions early next week and see if i can reliably reproduce the isssue.

[2018-12-14 17:47] kawmra commented on #366
@zackm0571
Oh, I missed that method. Thank you.
I can't use the latest SDK 3.x for some personal reasons but I found `addVideoTrack(LocalVideoTrack localVideoTrack)` and that is what I was looking for. I think it would work as expected.
I have not tested those methods yet, but anyway, thank you!

[2018-12-14 17:47] #366 closed

[2018-12-14 18:17] zackm0571 commented on #366
You got it! Feel free to reach out anytime. 😊

[2018-12-19 10:05] phsavisiba commented on #368
![vp9error](https://user-images.githubusercontent.com/38780186/50213387-c9073980-037d-11e9-9cd3-86c9805bdbde.jpg)

I managed to reproduce the issue with your kotlinQuickStart. I used a Google Pixel 2 and a Samsung S8 that connected to each other. I do not have any other Android devices supporting VP9 available or and iPhone to test with. When i switched to H264 and tested again it worked.

[2018-12-25 05:46] Arjkumar666 commented on #340
Ho Ducana255 ... Have you found any solution for this ? I'm getting conflict issue with Twillio and Antmedia libraries

[2018-12-26 05:26] nickoli58 opened #369 "Broadcast system audio like iOS"
It seems it’s not possible on android to broadcast audio from other apps on the system during a screencast like it is on the iOS SDK example. Is that true? Thank you

[2018-12-27 02:51] ducna255 commented on #284
I'm facing with this issue too. Have any solution?

[2018-12-31 12:37] rakeshkatta1311 opened #370 "Push Notification Not Supported in Android Smartglass"
Hi,

I'm using push notification to notify user for call but in Realwear HMT-1, Vuzix M300, ODG R7 smart glasses push notification is not supported.  Is there any work around to notify user for call using Twilio SDK?

Thanks & Regards,
Rakesh

[2019-01-02 17:13] aaalaniz commented on #370
Hey @rakeshkatta1311

I don't know of any workaround for devices that do not support push notifications. Are push notifications not allowed due to the absence of Google Play Services? I'd be glad to brainstorm some potential solutions to this problem.

Thanks!

[2019-01-02 17:17] aaalaniz commented on #369
Hey @nickoli58

You are correct. The Video Android SDK does not support custom audio devices which would enable sharing audio from sources other than the microphone.

What kind of use case are you trying to build?

Thanks!

[2019-01-02 18:21] nickoli58 commented on #369
Thanks, looking to record the audio coming from other apps like you can with iOS. Is it not possible because of the video SDK or limitations in android itself? Thank you

[2019-01-02 21:31] aaalaniz commented on #369
Hey @nickoli58

I don't know of an API that allows capturing audio from other applications on Android. If there is such an API, then the Video Android SDK is the only limitation because we do not support using a custom audio device.

[2019-01-02 23:00] nickoli58 commented on #369
Thank you, do you plan to add support for custom audio devices to bring the android SDK up to parity with  IOS?

[2019-01-03 20:42] aaalaniz commented on #369
Hey @nickoli58

I don't have a timeline, but yes, we do plan on adding custom audio devices to the Video Android SDK.

Thanks!

[2019-01-04 05:43] april21dev commented on #284
I also facing this issue too.
first call is okay, but on second try, It crashes.
I release local video track when activity's onPause() or onDestroy() called.
I don't know why it crashes nevertheless I released the camera.
Is there delay when releasing camera?

[2019-01-04 22:34] aaalaniz commented on #284
Hey @april21dev

When you experience the issue do you see that the Camera app can be opened or does it crash as @ducna255 described?

[2019-01-07 17:51] #359 closed, assigned to zackm0571

[2019-01-08 13:52] jofrb commented on #235
What is the status of Network quality API? How would one detect a "total drop of the internet connection" as stated in the question?

[2019-01-11 01:33] jeunetoujour opened #372 "Dark primaryvideoview with Camera2"
This is an issue that happens on Camera2 apps sometimes but the preview window appears dark, but when I set it to forced Camera1 its bright and good however the frame rate is at 15fps instead of 30. Any workarounds to get Camera2 to look good?

[2019-01-12 22:42] steventacit commented on #372
To expand, on the net there is talk about the FPS not being set correctly. Other places its talked about YUV not shifting colors correctly.

[2019-01-14 20:19] aaalaniz commented on #235
Hey @jofrb

The Network Quality API is on our roadmap this year. Our team will provide an update when the feature is available.

Thanks!

[2019-01-14 20:22] zackm0571 commented on #372
@jeunetoujour thanks for reaching out. Few quick questions:

1. What device / OS's have you tested on? Is the behavior consistent?
2. What version of the SDK are you running?
3. Can you provide a code sample of your camera setup?

Thanks!

[2019-01-18 17:54] aaalaniz commented on #309
Duplicate of #340

[2019-01-18 17:54] #309 closed

[2019-01-19 15:37] Feroz-Istar opened #374 "Call not connecting getiing Error in audio manager"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description
I have setup access token on Server. I have download the project and while making a call its showing any error but in logs its showing some issue with Audio Manager
[

[2019-01-21 23:11] zackm0571 commented on #374
Hey @Feroz-Istar thanks for reaching out. It looks like you might be having trouble with the voice sdk quickstart? I was going to copy and paste the issue in the right place but wasn't sure if you would get a notification of a solution. Could you please reopen the ticket [here](https://github.com/twilio/voice-quickstart-android/issues)? Also, a great help to us would be to include a few data point

[2019-01-21 23:11] #374 closed

[2019-01-21 23:14] #313 closed

[2019-01-21 23:14] zackm0571 commented on #310
Feel free to reopen if you're still having issues

[2019-01-21 23:14] #310 closed

[2019-01-21 23:16] zackm0571 commented on #298
Closing for now. Please reopen if you're still having issues.

[2019-01-21 23:16] #298 closed

[2019-01-21 23:16] zackm0571 commented on #288
Closing for inactivity. Please reopen if you're still having issues!

[2019-01-21 23:16] #288 closed

[2019-01-21 23:18] zackm0571 commented on #276
Closing due to inactivity. Please reopen if you're still experiencing issues!

[2019-01-21 23:18] #276 closed

[2019-01-21 23:42] zackm0571 commented on #314
@shrungBhatt apologies for the major delay in response. You can grab a reference to the raw frame byte data by using a custom `VideoCapturer` and an implementation of `VideoCapturer.Listener`.

- Start by extending  [VideoCapturer](https://twilio.github.io/twilio-video-android/docs/3.2.2/com/twilio/video/VideoCapturer.html).
- Implement it's methods.
- Add a [VideoCapturer.Listener](https://twilio

[2019-01-22 09:38] sanjogshrestha commented on #310
Sure. Thanks!

On Tue, Jan 22, 2019, 4:59 AM Zack Matthews <notifications@github.com wrote:

[2019-01-22 18:14] zackm0571 commented on #314
@shrungBhatt I apologize. This was the incorrect response. I'll be crafting the correct response today. Sorry for any inconvenience.

[2019-01-22 23:10] zackm0571 commented on #314
@shrungBhatt just want to make sure that you're looking to get a frame from Twilio and then pass it off to Wikitude? If this is the case I can make a quick example. Hope to hear from you soon!

- Zack

[2019-01-23 05:19] shrungBhatt commented on #314
Hi there @zackm0571, I would appreciate that help.

[2019-01-23 09:58] john-lq opened #375 "imageBuffer is null in the VideoFrame in the version 3.x.x"
Hello Guys,
The `VideoFrame.imageBuffer` is null in version `3.x.x`. Please help me to get the frame buffer in the `VideoFrame`. It works fine in the version `2.x.x`.

[code]
Thanks

[2019-01-23 17:17] zackm0571 commented on #375
Hey @john-lq thanks for reaching out. Is there anyway you could try reproducing this in our quickStart?

[2019-01-29 07:59] jishindev opened #376 "CameraCapturer: onCameraError from another session: startPreview failed"
I might be missing something. Would really appreciate if you guys could guide me here.

library version: 3.2.1
studio: AS 3.4 beta1
device: Lenovo TB3-X70L

[code]

[2019-01-30 13:42] jishindev commented on #376
Also this one seems to be popping up now -
[code]

[2019-02-05 08:09] andschdk commented on #340
What exactly does this mean? 🤔

Will I be able to build the application with both, but not being able to import both in an implementation? Or am I not even able to build it with both libraries?

Currently I can't even build it because of conflicts with `libjingle_peerconnection_java.jar`
But the quote made me think there is a solution? Just not sure what _isolation_ really means here. Can you elab

[2019-02-05 16:37] aaalaniz commented on #340
Hey @andschdk

Great question! Side-by-side support **does mean** that you can build your application with both dependencies declared in your `build.gradle` file. I'll explain "in isolation" with an example.

Let's say you want to conduct A/B testing with the Video Android SDK and another WebRTC based library in your application. With side-by-side support, you could develop a Video experience in y

[2019-02-05 18:10] andschdk commented on #340
Hi @aaalaniz ,
Thank you very much for the clarification! I highly appreciate it.

That is good news in my case as I am intending to do something similar to the "a/b test" example.
However I still have the conflict when trying to build the application. What measures are taken to be able to build it? Some simple gradle setup?

Thanks.

[2019-02-06 18:59] aaalaniz commented on #340
Hey @andschdk

The solution to this problem requires our teams to modify the way we build and integrate our WebRTC dependency into our SDKs. I can't provide a timeline on when this will be done, but the work is on our roadmap.

From your perspective, it should "just work". Once implemented and released on our end, you should be able to consume the Video Android SDK in your `build.gradle` alongside

[2019-02-06 20:43] andschdk commented on #340
Hi @aaalaniz ,
Thank you for replying. So currently both the isolation and the side-by-side support case is currently **not** supported?

[2019-02-06 23:24] zackm0571 commented on #375
Hey @john-lq,

I noticed you're explicitly calling `videoCapturer.startCapture` from your example. The SDK will actually invoke this function for you when you call `LocalVideoTrack.create`.

Could I ask your use case in accessing `videoFrame.imageBuffer`?

[2019-02-07 20:47] zackm0571 commented on #372
Hey there @steventacit, @jeunetoujour

Could you provide a screenshot? There is a possibility that this is an FPS issue, but also want to see the exact behavior you're describing in case it's a device specific problem. Thanks!

[2019-02-07 20:47] zackm0571 commented on #370
Closing. Feel free to open if you have anymore questions!

[2019-02-07 20:48] zackm0571 commented on #360
Closing. Feel free to open if you're still having issues!

[2019-02-07 20:48] #360 closed

[2019-02-07 20:50] zackm0571 commented on #352
Feel free to open another issue if you're still having problems!

[2019-02-07 20:50] zackm0571 commented on #292
Closing. Feel free to open another issue if you're still having problems!

[2019-02-07 20:50] #292 closed

[2019-02-07 20:52] zackm0571 commented on #266
Closing due to inactivity. Please open another issue if you're still having problems :)

[2019-02-07 20:52] #266 closed

[2019-02-07 20:53] zackm0571 commented on #264
Closing due to inactivity. Please reach out if you're still having issues with the logger. :)

[2019-02-07 20:53] #264 closed

[2019-02-07 20:54] zackm0571 commented on #258
Closing due to inactivity. Please feel free to reach out again!

[2019-02-07 20:54] #258 closed

[2019-02-07 20:56] zackm0571 commented on #76
Closing this due to inactivity. Feel free to reach out again if you have anymore issues. :)

[2019-02-07 20:57] zackm0571 commented on #351
Closing as a duplicate of #353

[2019-02-07 20:57] #351 closed

[2019-02-07 21:45] zackm0571 commented on #250
Closing due to inactivity. Please let us know if you can reproduce this.

[2019-02-07 21:45] #250 closed

[2019-02-07 21:46] #299 closed

[2019-02-07 21:47] #227 closed

[2019-02-07 21:48] zackm0571 commented on #318
Closing. Please reopen if you're still having issues. :)

[2019-02-07 21:48] #318 closed

[2019-02-07 21:50] zackm0571 commented on #306
Hey @SagarSculpt,

Just wanted to check back in on this one. Are you still having the same issue?

[2019-02-07 21:52] zackm0571 commented on #365
Closing. Please reopen if you're still having issues.

[2019-02-07 21:52] #365 closed

[2019-02-07 22:28] aaalaniz commented on #340
That is correct @andschdk

We will provide updates on this ticket as progress is made.

[2019-02-07 22:29] zackm0571 commented on #314
Hey @shrungBhatt,

I apologize for the dragged out response. Unfortunately, we don't officially support the interception of frames within our existing capturers. However, we fully support custom capturers. Which means you can create an implementation of `Camera2`, `WikitudeCamera2`, or the [WebRTC Camera2 Capturer](https://chromium.googlesource.com/external/webrtc/+/772bd0d40b3b4c18d391c943b92c9c2

[2019-02-08 04:39] jishindev commented on #376
Apologies. I had my localvideotrack initialization code in a lazy delegate which was giving me a lot of errors. It's been resolved now.

Thank you.

[2019-02-08 04:39] #376 closed

[2019-02-14 04:52] john-lq commented on #375
Hi @zackm0571 ,

Thanks for your information. I didn't find any document about this change. And now, how to capture a `VideoFrame` dynamically after I created `LocalVideoTrack` by calling `LocalVideoTrack.create`.

Thanks

[2019-02-14 05:48] zackm0571 commented on #375
Glad you found a solution, @john-lq ! Thanks for reaching out. 😀

[2019-02-14 05:48] #375 closed

[2019-02-14 05:51] zackm0571 commented on #306
We're going to close this one for now, but please reach out if this is still an issue. Hope you found a solution!

[2019-02-14 05:51] #306 closed

[2019-02-14 06:10] #354 closed

[2019-02-14 15:40] aaalaniz opened #377 "Firefox 63+ incompatibility with Mobile SDKs 1.X/2.X in P2P Rooms"
Firefox 63 [introduced](https://blog.mozilla.org/webrtc/how-to-avoid-data-channel-breaking/) a new SDP format for data channel negotiation.  This new SDP format has caused incompatibility with Android and iOS Video SDK 1.x and 2.x when used with P2P Rooms.

### What is the impact?

In a P2P room, mobile participants using an affected mobile SDK version, will not receive any media or data tracks pu

[2019-02-14 20:56] timtraversy opened #378 "My device doesn't seem to support any of the video codec options"
When I run this code:
[code]
The result is:
[code]
I'm running Android 5 on a Galaxy S4. Shouldn't at least one of these be supported? If not how can I use Programmable Video? Currently when I connect to a room I get this output.

[code]
So it seems like no frames are being received by the framework.

[2019-02-14 21:30] zackm0571 commented on #378
Hey @timtraversy does this behavior happen when using `Camera2Capturer`? Android 5.0 introduces the new `Camera2` API.

[2019-02-14 21:35] zackm0571 commented on #372
Closing for now. Please reach out if you're still having issues.

[2019-02-14 21:35] #372 closed

[2019-02-14 21:36] zackm0571 commented on #321
@saurabhojha075 are you still having this issue?

[2019-02-14 21:53] timtraversy commented on #378
The quickstart code determines camera1 vs camera2 like this: https://github.com/twilio/video-quickstart-android/blob/186a547eccf4a7d78f4f9624a9d68b8a821c3936/quickstartKotlin/src/main/java/com/twilio/video/quickstart/kotlin/CameraCapturerCompat.kt#L79-L81

I changed it to always return camera2, but that only seems to throw more errors:
[code]
And that still won't solve the fact that I can't suppor

[2019-02-14 22:31] zackm0571 commented on #378
Are you running the unmodified Kotlin Quickstart on a stock Galaxy S4? I ask because this might be something our team will need to get hardware to specifically reproduce. Thank you for your responsiveness and level of details by the way!

[2019-02-14 22:36] timtraversy commented on #378
No I haven't actually tried running the quickstart unmodified, I'll give that a go!

[2019-02-14 23:08] timtraversy commented on #378
Ok it looks like the unmodified Quickstart is actually failing as well.
![pic](https://user-images.githubusercontent.com/21370530/52823564-6c758180-3083-11e9-9a58-9e95c7a01f0b.jpg)
It's just a black screen and then fails to connect if I try to join a room. The error logs are pretty verbose I'll try to pick out important things.
(Sorry for the non-screenshot, this phone is too old to interact with

[2019-02-14 23:49] zackm0571 commented on #378
@timtraversy can you put the full log into a .txt file? I would be glad to take a look. :)

[2019-02-15 00:46] timtraversy commented on #378
[logcat.txt](https://github.com/twilio/video-quickstart-android/files/2867321/logcat.txt)
Thanks! This is Verbose from just before the app starts.

[2019-02-15 00:51] timtraversy commented on #378
[logcat2.txt](https://github.com/twilio/video-quickstart-android/files/2867332/logcat2.txt)
This is if you filter by the twilio package, more to the point.

[2019-02-15 18:02] timtraversy commented on #378
Weird, the quickstart is now running on my device 🤔

[2019-02-19 16:52] zackm0571 commented on #378
@timtraversy sorry for the delayed response. Are you still able to reproduce?

[2019-02-22 12:06] palimad opened #379 "null received in Camera2Capturer.Listener.onCameraSwitched"
Fatal Exception: java.lang.IllegalArgumentException
Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter newCameraId
xxx.CameraCaptureCompat$camera2Listener$1.onCameraSwitched (Unknown Source:2)

Some part of camera subsystem passed null reference to onCameraSwitched, listener was used only for Camera2Capturer initialization:

[2019-02-22 12:16] aaalaniz commented on #379
Hey @palimad

What version of the SDK are you using?

Thanks!

[2019-02-22 16:05] palimad commented on #379
Hello Aaalaniz, I use SDK version 3.2.1

[2019-02-22 16:10] aaalaniz commented on #379
Hey @palimad

Is this issue reproducible in the quickstart?

I can have a look. Thanks!

[2019-02-22 16:37] palimad commented on #379
I believe so,
I see crash reports from  Huawei ATU-L31 running 8.0.0 and Oneplus A6000 running  9

[2019-02-25 06:18] AnjuResmi commented on #274
I download quickstart and was trying to run on the Android Nokia devices. I generated test token from https://www.twilio.com/console/video/runtime/testing-tools separately for 2 phones and ran the application. When I try to connect to Room, it said Access token expired. But when i debug the token, it was not expired, it has more time to expire.what will i do?

[2019-02-25 09:18] testingflexsin opened #381 "Video Stretch on Samsung"
I have  run sample video call app. When I test on Samsung (On Nxt) then video stretch.

     <com.twilio.video.VideoView
        android:id="@+id/thumbnail_video_view"
        android:layout_width="96dp"
        android:layout_height="96dp"
        android:layout_alignParentEnd="true"
        android:layout_margin="16dp"
        android:visibility="gone"
        app:mirror="true"
        app:overl

[2019-02-26 01:13] muhammadsr opened #382 "Screen Capture in background"
Any ideas on how to Screen Capture in the background (outside the app)?

[2019-02-26 14:16] rajmori commented on #84
We have faced the same issue with Samsung galaxy note S9. the issue has raised from Samsung user mostly.

[2019-02-26 16:55] aaalaniz commented on #84
Hey @RDKApps

Can you provide any logs or additional information about this is audio issue? I also recommend reading our [Troubleshooting Audio guide](https://github.com/twilio/video-quickstart-android/#troubleshooting-audio).

Thanks!