[2016-06-17 17:50] luca992 opened #13 "Incorrect minSdkVersion"
In your read-me you mention:
"The minimum supported Android version is 4.0.3 for devices or Android emulators."
4.0.3 is API level 15.

But you have set
        minSdkVersion 16
in gradle.

[2016-06-21 18:19] mwajeeh opened #14 "CameraCapturer keeps reference to previewContainer even after stopPreview is called"
I don't know where to report this issue with twilio sdk. Point me in right direction if there is any forum where I can report issues with sdk.
We are supporting PIP overlay using twilio sdk, instead of just using sdk in activity and tying it to activity lifecycle. But (by using https://github.com/square/leakcanary) I noticed that `CameraCapturer` keeps reference to `previewContainer` even after `s

[2016-06-21 18:35] aaalaniz commented on #14
Hi @mwajeeh,

I'll be happy to answer any questions you have. For future reference, you can email help@twilio.com.

Have you tried calling `removeAllViews` on the ViewGroup passed into `startPreview` This could be a work around for the issue you are seeing. Also, if you are having trouble with PIP you might try using our latest addition to the `VideoViewRenderer` `applyZOrder(boolean overlaySurfac

[2016-06-21 18:42] aaalaniz commented on #13
Good find @luca992. The correct minSDKVersion is 16. Will update accordingly.

[2016-06-22 08:06] mwajeeh commented on #14
Thanks for replying:

TLDR; `CameraCapturer` doesn't set `previewContainer` to `null` in `stopPreview`, which it should because its no longer needed. I can't do anything to destroy that reference without setting conversation to `null`.

Let me explain again as these kind of memory leaks would limit usage of this library to only be used in `Activity` and not in `Service`.

Our activity starts a ser

[2016-06-22 14:40] aaalaniz commented on #14
@mwajeeh ...Thanks for the detailed explanation. I have corrected this and it will be shipped in the next release.

[2016-06-23 07:34] mwajeeh commented on #14
Thanks @aaalaniz , I would highly suggest to change `video-quickstart-android ` such that all code is moved into a `Service` and allow user to come back to ongoing conversation by tapping on ongoing call notification. This is really easy vs showing PIP and it will truly test this awesome sdk.

[2016-06-23 12:32] aaalaniz commented on #14
This is great feedback @mwajeeh. Our internal test application uses the SDK a little more extensively. This application is meant to just get users off the ground. You can expect in the future we will add separate applications to show how to use the SDK in other ways.

[2016-06-24 18:05] #13 closed

[2016-06-24 18:05] aaalaniz commented on #13
Resolved in #15

[2016-07-07 03:51] aaalaniz commented on #14
Closing should be resolved with 0.12.2 release

[2016-07-07 03:51] #14 closed

[2016-09-12 04:28] ernestojr opened #19 "Error TwilioConversations [Signaling]"
Hi all, I have a problem when call ends, and finish() to current actiity of conversation, app blows me, but does not show me any error, and often appears me this error:
`E/TwilioConversations: [Signaling]:RESIP::TRANSPORT: Got TLS read ret=0 error=6 error:00000006:invalid library (0):OPENSSL_internal:public key routines`
If someone could help me because I have a lot of time with this problem.

[2016-09-12 17:49] ykhodosh commented on #19
Hi,

I would like to ask you a few questions to better understand the problem:

1) What is the version of Twilio Conversations SDK for Android you are using?
2) If I understand correctly your application crashes at the end of the call. What are the exact circumstances when the crash happens? Can you describe the sequence of the calls you make? Does it happen when you end the call or when you termi

[2016-09-12 19:17] ernestojr commented on #19
Hello, the answers are in order:
1) Q: What is the version of Twilio Conversations SDK for Android you are using?
   A: com.twilio:conversations-android:0.12.2

2) Q: If I understand correctly your application crashes at the end of the call. What are the exact circumstances when the crash happens? Can you describe the sequence of the calls you make? Does it happen when you end the call or when you

[2016-09-12 21:13] ykhodosh commented on #19
I would like to further clarify the last transition you described -- `release() -> starts again`. Does it mean that right after you destroy `TwilioConversationsClient` you create a new one and bring it to the listening state?

As for the debug part, you can set log level of `TwilioConversationsClient` right after you create it (or even before for that matter) using `setLogLevel` method. It would l

[2016-09-13 14:27] ernestojr commented on #19
Hi!
Q: Does it mean that right after you destroy TwilioConversationsClient you create a new one and bring it to the listening state?
A: After destroying TwilioConversationsClient (release method), I proceed to request a new token to my web server,and then I create another AccessManager object and a TwilioConversationsClient that will wait for a new call.
Regarding the adb logcat case, I had this l

[2016-09-13 16:40] ykhodosh commented on #19
Ok, so with regard to the error you see in the log file I don't think it's a real problem. During its interactions with Twilio infrastructure Twilio Conversations SDK opens several connections and some of them do get closed after a while. This is what you observed in the log -- a transient connection being closed. Perhaps we should not report it as an error. However, this is not going to cause any

[2016-09-19 17:00] ernestojr commented on #19
Hello again, after a week of testing with your recommendation, I observed:
We have two devices D1 and D2 for the following cases outside the normal behavior of a call:

- Reply (D2) and hang (D2) quickly.
- Call (D1) and cancel (D1) quickly.
- Cancel (D1) and accept (D2) at "same time".
- End call, destroy and instantiate the Twilio SDK (D1 or D2).

These cases cause the application to break and s

[2016-09-29 17:03] donjerick opened #23 "Listen for IncomingInvite via IntentService"
Good day!

Would like to ask if there are any references or sample app that can help me work on listening for an incoming invite via an IntentService? I would like to notify the user that someone is trying to call him/her even when the app is not running. Is this possible?

[2016-10-05 16:41] idelgado commented on #23
@donjerick I encourage you to try our new library which is in developer preview. One of the shortcomings of the conversations library, is that it required inviting. Inviting on Android is challenging even with a Service because the OS is free to kill the Service whenever it deems necessary.

In this developer preview, we no longer invite. Users join using a name to a Room. You are free to signal t

[2016-10-05 16:47] idelgado commented on #19
@ernestojr I encourage you to try our developer preview https://github.com/twilio/video-quickstart-android/tree/rooms. Unlike the conversations library, this new library does not rely on invites to signal the start of a conversation. Instead users can join named rooms. And you can signal the name of the room using your own signaling channel(GCM, Firebase, etc.).

We will be deprecating conversatio

[2016-10-13 12:36] Skalaw opened #26 "Unnecessary invite in specific case"
I using: 'com.twilio:conversations-android:0.12.2'.

**Reprosteps:**
1. Call Client1 to Client2
2. Client2 accepted
3. Invite Client4
4. Client4 declined
5. Invite Client3
6. Client3 accepted (If Client3 declined - then everything is ok)
Now when Client3 accepted, automatically Client4 have once again invite.

**Acceptance Criteria**
Client4 not should have once again invite

**My findings:**
Inco

[2016-10-13 12:38] Skalaw opened #27 "Sometimes preview is not available in specific case"
I using: 'com.twilio:conversations-android:0.12.2'.

**Reprosteps:**
1. Call Client1 to Client2
2. Client2 accepted
3. Call Client1 to Client2
4. Client3 is accepted and Client2 is declined on the same time.
Sometimes i don't have preview in Client1, but Client3 have/don't have preview Client1

**Acceptance Criteria:**
Client1 should always have preview Client3.
Client3 should always have preview

[2016-10-13 12:39] Skalaw opened #28 "Wrong amount of active users when incomingInvite.getParticipants() is called."
I using: 'com.twilio:conversations-android:0.12.2'.

Sometimes i don't have correct user when TwilioConversationsClient.Listener onIncomingInvited is called, variable incomingInvite.getParticipants() returns the wrong amount of active users.

[2016-10-13 16:14] #19 closed

[2016-10-13 16:15] #23 closed

[2016-10-14 08:05] ycoupe opened #29 "Participant disconnected"
I using: 'com.twilio:conversations-android:0.12.2'.

Sometines (~2/3) a participant is disconnected. These event are called :
- Participant.onAudioTrackRemoved
- Participant.onVideoTrackRemoved
- Conversation.onParticipantDisconnected

If I look at the trace, this first event is called by this fonction in Conversation.class :
`public void onAudioTrackAdded(TrackInfo trackInfo, AudioTrack webRtcAud

[2016-10-14 13:33] aaalaniz commented on #28
Hi @Skalaw,

I encourage you to try our new library which is in developer preview. One of the shortcomings of the conversations library, is that it required inviting. In this developer preview, we no longer invite. Users join using a room name. You are free to signal the room name to other participants with whatever you prefer(GCM, Firebase, etc.). The developer preview is available here (https://

[2016-10-14 13:33] #28 closed

[2016-10-14 13:33] aaalaniz commented on #26
Hi @Skalaw,

I encourage you to try our new library which is in developer preview. One of the shortcomings of the conversations library, is that it required inviting. In this developer preview, we no longer invite. Users join using a room name. You are free to signal the room name to other participants with whatever you prefer(GCM, Firebase, etc.). The developer preview is available here (https://

[2016-10-14 13:33] #26 closed

[2016-10-14 15:12] aaalaniz commented on #27
Hi @Skalaw,

As I mentioned in my previous response, the Conversations SDK is being sunset. We are encouraging developers to migrate to your new developer preview of our Rooms API. You will find the latest quickstart [here](https://github.com/twilio/video-quickstart-android/tree/rooms). These invite race conditions are less of a problem in the Rooms API. The Rooms API will be going to be public be

[2016-10-14 15:12] #27 closed

[2016-10-14 20:36] idelgado opened #31 "Emulated web cam causes a crash in com.twilio:video-android:1.0.0-beta1"
Using the camera on an emulator will result in a native crash.

[code]

[2016-10-17 13:06] idelgado commented on #29
Hi @ycoupe

We are deprecating the `conversations` library moving forward in favor of this Room based video library. In this video library you no longer have to invite, you simply pre-define or share a room name with other participants using whatever signaling channel you prefer(GCM, Firebase, etc.).

I encourage you to try our new library which was just released in beta last Friday. We will GA th

[2016-10-17 13:07] #29 closed

[2016-10-22 12:46] vikram-gupta opened #35 "Integrating Google Speech API with Twilio Conversation?"
Hi Team,

I tried to integrate the Google Speech API (streaming) with the Twilio Conversation sample app so that i can do speech recognition along with video chat. Here is the [link](https://github.com/GoogleCloudPlatform/ios-docs-samples/blob/master/speech/Objective-C/Speech-gRPC-Streaming/README.md) to the Google Speech API sample app that I am integrated.

But I keep getting a continuous and we

[2016-10-23 17:13] idelgado commented on #35
@vikram-gupta Looks like you are asking about `AVAudioSession` which is part of the obj-c implementation. Please repost your issue here: https://github.com/twilio/video-quickstart-objc

[2016-10-23 17:13] #35 closed

[2016-10-23 19:05] vikram-gupta commented on #35
Thanks @idelgado !

[2016-10-26 20:46] #31 closed

[2016-10-28 07:44] umeshnagojiche opened #37 "Twilio ProgrammableVideoRoom issue"
Hi ,

I am not able to run twilio programmable video room otherthan marshmallow i.r android 6. It is not working lower version marshmallow and below. I ran this on android 5.1 MotoE second generation where I am getting below error,

If I run  min sdk as 23 I am getting below error,

pkg: /data/local/tmp/com.twilio.video.examples.customcapturer
Failure [INSTALL_FAILED_OLDER_SDK]

Again if run as mi

[2016-10-28 13:18] idelgado commented on #37
Can you provide your gradle file? Do the support libraries you are building with match the `compileSDKVersion`?

Looks like you may be encountering this issue:

http://stackoverflow.com/questions/32075498/error-retrieving-parent-for-item-no-resource-found-that-matches-the-given-name

[2016-10-30 18:26] idelgado commented on #37
Closing due to inactivity.

[2016-11-02 06:14] umeshnagojiche commented on #37
Hi ,

Please find my gradle files.
[build_module.txt](https://github.com/twilio/video-quickstart-android/files/565786/build_module.txt)
[build_project.txt](https://github.com/twilio/video-quickstart-android/files/565787/build_project.txt)

[2016-11-02 06:15] umeshnagojiche commented on #37
Hi ,

Please find attachec gradle files which will be helpful for understanding in more detail,

REgards
Umesh

[2016-11-02 15:21] idelgado commented on #37
@umeshnagojiche The first problem I see is that you are trying to use a `minSDKVersion` of 15. Our SDK only supports 16 and up. This is due to WebRTC only supporting 16 and up. You must set the `minSDKVersion` to 16

As for the other errors you are seeing, when you move the `compileSDKVersion` to 22 the themes generated by Android Studio for this project are implemented with respect to 24. If you

[2016-11-02 15:24] idelgado commented on #37
Not sure what the relationship between `build_project.txt` and `build_module.txt` but in your `build_module.txt` you are referencing both the `conversations` and `video` library. Remove the `conversations`. The libraries cannot run side-by-side.

[2016-11-02 15:38] idelgado commented on #37
I was able to run the app on a Nexus 5 x86_64 API 22 virtual device and did not see any build errors with the following settings:

[code]

[2016-11-03 05:45] umeshnagojiche commented on #37
Hi All,

Thank you very much for the solution.

Regards,

Umesh Nagojiche.

Db Com System Software Pvt. Ltd.

Belgaum, India.

Tel:0831-2467021/22,Extn: 512

From: Iñaqui [mailto:notifications@github.com]
Sent: 02 November 2016 20:51
To: twilio/video-quickstart-android
Cc: umeshnagojiche; Mention
Subject: Re: [twilio/video-quickstart-android] Twilio ProgrammableVideoRoom issue (#37)

@umeshnagojic

[2016-11-03 05:46] umeshnagojiche commented on #37
Hi All,

Sorry bimistake I have sent build.gradle files from different projects, and now that problem have been solved.

Once again thank you very much…

Regards,

Umesh Nagojiche.

Db Com System Software Pvt. Ltd.

Belgaum, India.

Tel:0831-2467021/22,Extn: 512

From: Iñaqui [mailto:notifications@github.com]
Sent: 02 November 2016 20:55
To: twilio/video-quickstart-android
Cc: umeshnagojiche; Ment

[2016-11-03 05:46] umeshnagojiche commented on #37
Hi All,

Thank you very much for the solution.

Regards,

Umesh Nagojiche.

Db Com System Software Pvt. Ltd.

Belgaum, India.

Tel:0831-2467021/22,Extn: 512

From: Iñaqui [mailto:notifications@github.com]
Sent: 02 November 2016 21:09
To: twilio/video-quickstart-android
Cc: umeshnagojiche; Mention
Subject: Re: [twilio/video-quickstart-android] Twilio ProgrammableVideoRoom issue (#37)

I was able to

[2016-11-03 12:55] idelgado commented on #37
No problem.

[2016-11-03 12:55] #37 closed

[2017-01-05 12:44] abhinay-w3bminds opened #46 "Error in twilio voice quickstart app"
stacktrace of my app

JNI DETECTED ERROR IN APPLICATION: use of deleted global reference 0x2008da

01-05 18:04:55.286 25034-25034/? I/art: Late-enabling -Xcheck:jni
01-05 18:04:55.359 25034-25034/com.twilio.voice.quickstart I/InstantRun: Instant Run Runtime started. Android package is com.twilio.voice.quickstart, real application class is null.
01-05 18:05:05.887 25034-25034/com.twilio.voice.quick

[2017-01-09 20:44] kbagchiGWC commented on #46
Hi @abhinay-w3bminds - this issue is wrongly filed under [video-quickstart-android](https://github.com/twilio/video-quickstart-android) but should be filed in [voice-quickstart-android](https://github.com/twilio/voice-quickstart-android). I will close this here and open one against the correct repo.

[2017-01-09 20:46] kbagchiGWC commented on #46
@abhinay-w3bminds FYI https://github.com/twilio/voice-quickstart-android/issues/12

[2017-01-09 20:46] #46 closed

[2017-01-15 20:26] aaalaniz opened #47 "Rotation causes black screen on remote video"
A rotation bug has been introduced with the enabling of decoding from a texture. When rotating a device, the remote video renderer will show black frames indefinitely because of a bug in our rendering pipeline. This issue only affects version `1.0.0-beta5`.

Below is a screenshot of the bug in the quickstart.
![device-2017-01-15-122406](https://cloud.githubusercontent.com/assets/1734140/21965892/b

[2017-01-16 21:05] AgentKnopf opened #48 "Failed to load library libjingle_peerconnection_so.so on a Sony Xperia S"
I am trying to run a basically (almost) unmodified version of the twilio video quickstart app on the following device:

Sony Xperia LT26i (also called Sony Xperia S)
Android Version 4.1.2
Build Number 6.2.B.1.96

The app successfully authenticates but crashes when trying to create the LocalMedia instance in VideoActivity#createLocalmedia:

`localMedia = LocalMedia.create(this);`

with the followin

[2017-01-17 12:18] AgentKnopf opened #49 "The second call causes double-overlayed Video Streams on the person's device that first joined the room"
Summary: When attempting to make a second call to a different room than before the user who first connects to the room has both streams rendered in his main window: local and remote

### How to reproduce

- This test uses two rooms: zebra and dolphin (you can name them whatever you want)
- Authenticate on both devices
- Have both users join the room "zebra"
- Once the second person joins both will

[2017-01-17 17:47] Aubtin commented on #47
Is there a timeline for the fix?

[2017-01-17 18:00] aaalaniz commented on #47
Hi Aubtin,

I apologize for the continued delays, but our timeline is this week.

[2017-01-17 18:10] aaalaniz commented on #48
Hi,

This crash appears to be device specific and related to [this issue](https://github.com/KeepSafe/ReLinker/issues/15). We build our native dependencies with NDK r12b, so it could be that this crash would be fixed when we update to the latest NDK. We do plan upgrading soon, but I do not believe there is anything that can be done to resolve this crash with the current version of the library.

[2017-01-17 18:10] #48 closed

[2017-01-17 18:21] aaalaniz commented on #47
As a workaround, can you try overriding [onConfigutationChanged()](https://developer.android.com/reference/android/app/Activity.html#onConfigurationChanged(android.content.res.Configuration) and removing and adding the renderer for the remote video when the orientation has changed. This is not ideal, but it should prevent permanent black frames being rendered.

[2017-01-17 19:14] aaalaniz commented on #49
Is this issue reproducible in the vanilla quick start application or in your own application? I will try to reproduce locally. I recommend making sure that you remove the primary renderer from your local video track. That would explain the double rendering.

[2017-01-17 20:56] AgentKnopf commented on #49
@aaalaniz I tried it with the same version that I posted in the Sony Xperia S bug report - it didn't have any modification, except how the token is obtained, so I'd think you should be able to reproduce it as well. The video unfortunately has been removed by youtube, but I had a comment on there from someone else who had the same issue on other devices (very likely has nothing to do with what devi

[2017-01-18 05:29] aaalaniz commented on #49
@AgentKnopf I have reproduced locally. Will have a fix soon. Thanks for the very details steps.

[2017-01-18 07:20] aaalaniz commented on #49
@AgentKnopf please try out #50 and see if this issue is resolved. I will merge once validated. Thanks!

[2017-01-18 08:25] AgentKnopf commented on #49
@aaalaniz will check it out once back home - in about 12 hours - thanks a ton for the quick fix :) !

[2017-01-18 08:44] matdennoigi opened #51 "Voice of call is quite"
Hi guys,

I use "quickstart" code for my app, but in call, the voice is quite

[2017-01-18 10:52] FranziscaZarrai commented on #51
@matdennoigi It works fine with all the devices I tried it on. Are you sure your devices are not muted or are you using an emulator?

[2017-01-18 11:46] Schwonsen commented on #49
@aaalaniz after your fix the bug is still there but now this double rendering issue already starts on the first entering of a room + the primaryVideoView of the second device which enters a room always shows his localVideoTrack.

[2017-01-18 18:07] AgentKnopf commented on #49
@aaalaniz I integrated your changes into my project and it works correctly now, I can no longer reproduce the issue. I connected to various room joining combinations in one session such as:

- Dolphin
- Zebra
- Dolphin
- Dolphin

In no combination the originally reported error occurred. To be fair though: I merged your Pull Request changes into my own repository, which however is identical to the

[2017-01-18 23:56] aaalaniz commented on #51
@matdennoigi Can you provide device information and are you using headset or speaker audio?

[2017-01-19 00:02] aaalaniz commented on #47
Hey @Aubtin

I appreciate your patience. We have released [1.0.0-beta6](https://bintray.com/twilio/releases/video-android/1.0.0-beta6). This release contains the fix.

[2017-01-19 02:34] #47 closed

[2017-01-19 02:41] #49 closed

[2017-01-19 16:55] aaalaniz opened #53 "Cannot load library if library failed to load previously"
On some older devices there appears to be a problem loading the native library. The issue appears to be related to [this bug](https://code.google.com/p/android/issues/detail?id=73725) and could be solved when we upgrade to NDK r13. We will maintain a table of known affected devices for reference. Please feel free to comment with affected devices and I will update the following table.

| Device | A

[2017-01-24 20:04] aaalaniz commented on #51
No response has been provided. Closing

[2017-01-24 20:04] #51 closed

[2017-01-24 20:22] aaalaniz opened #54 "Toggling Flash causes Camera Freeze"
Attempting to turn flash on via `CameraCapturer#updateCameraParameters` causes camera freeze. This bug appears to only be reproducible on some devices. Below is the table of currently affected devices. Please comment with any additional devices or findings.

**Affected Devices**

| Device | Android Version |
| ------- | ---------------- |
| Samsung Galaxy S5 | 6.0.1 |
| Oneplus 3T | 7.0 |

**Steps

[2017-01-24 20:29] idelgado commented on #54
@aaalaniz Assuming this is when you use the `updateCameraParameters` API?

[2017-01-24 20:30] aaalaniz commented on #54
@idelgado yes. It's reproducible with the advanced camera capture example

[2017-01-26 13:02] gtRfnkN commented on #54
This is also an issue on the Motorola Moto E 2nd Gen (this device does not have a flashlight)

[2017-01-26 14:16] aaalaniz commented on #54
@gtRfnkN Thanks for the info. I will only add devices to the table that **do** support flash mode and still cause a camera freeze.

[2017-01-27 03:36] wildstarzw commented on #53
Hi
I tested with virtual devices, and it seems only happen at the device which is under API 18.
Hope it helps.

[2017-01-27 22:23] idelgado commented on #53
This seems to be the specific issue we are encountering https://github.com/KeepSafe/ReLinker/issues/15

And it looks like there is a fix for this in the ndk project https://github.com/android-ndk/ndk/issues/113

[2017-01-31 15:59] gtRfnkN commented on #54
@aaalaniz Is there any way to detect the error or to catch it to prevent the freeze itself?

[2017-01-31 16:25] aaalaniz commented on #54
@gtRfnkN Currently, we are able to detect when the freeze happens. We are still investigating what is causing the issue.

[2017-02-02 00:56] TheChuckster commented on #53
Hi, I'm one of those persistent buggers from the other issues!

If it helps, it looks like the real fix is that you'll need to recompile libjingle_peerconnection_so.so against the latest NDK (while targeting a lower API level) -- of course, compiling WebRTC using Google's esoteric build system is about as fun as getting a root canal, but in the end, it worked fine for us.

[2017-02-02 12:17] idelgado commented on #53
@TheChuckster thanks for the info.

We believe we solved the issue by setting `-DANDROID_PLATFORM=android-16` instead of `-DANDROID_PLATFORM=android-21` in our gradle ndk build.

We should have a release with this fix very soon.

[2017-02-04 01:49] #53 closed

[2017-02-07 09:44] matdennoigi commented on #51
I'm so sorry for my late. I fixed it by set speaker on, but if 2 devices near together it make noise (feedback loop)

[2017-02-07 17:14] aaalaniz commented on #51
@matdennoigi glad you were able to resolve the volume issue. Echo cancellation is known to not work well when two devices are sitting side-by-side. Please open an issue if you are experiencing echo between devices that are not side-by-side.

Thanks

[2017-02-08 04:13] matdennoigi commented on #51
@FranziscaZarrai It's only appear when two devices are sitting side-by-side. Many thanks

[2017-02-08 04:16] aaalaniz commented on #54
@gtRfnkN We have a fix for this issue. We are running internal testing and should have a release out very soon. We appreciate your patience.

[2017-02-08 21:36] #54 closed

[2017-02-22 14:50] KarimAbdo opened #59 "onPause causes the app to crash with the first participant leaves the room"
I am using the beta7 and i did the following:
Setup: the call is started as soon as the activity starts and an invite is sent to join the room.

a- create a room
b- participant a joined
c- participant b joined
d- participant a left
e- pause the activity by going to any other activity or going to the the home page of the phone
d- app crashes

I will try to get the log and add it here later today

[2017-02-22 14:55] aaalaniz commented on #59
Hey @KarimAbdo

For which participant does the crash occur? Are you saying that after Participant A leaves and then Participant B pauses the activity there is a crash? If this is the case are you calling `Room#disconnect()` when you leave the activity?

[2017-02-22 15:03] KarimAbdo commented on #59
Lets call them differently
John starts a room from his android phone
Sarah joins the room
Monika joins the room

John tries to upload a picture or go outside the app and in again
Everything works fine

Monika now leaves the room

John tries again to upload a picture or go outside the app and in again
Everything works fine

Monika joins again
Sarah leaves

John tries again to upload a picture or go

[2017-02-22 15:09] aaalaniz commented on #59
Thanks for clarifying the scenario. I will try to reproduce these steps locally while you grab a log. Can you post snippets of any logic you are doing in `onPause` or `onStop` related to the Video library?

[2017-02-22 15:51] KarimAbdo commented on #59
I have the same ones in the quick start except 1 line in on destroy
I am still not able to get the crash report though :/

@Override
protected  void onResume() {
    super.onResume();
    /*
     * If the local video track was removed when the app was put in
the background, add it back.
     */
    if (localMedia != null && localVideoTrack == null) {
        localVideoTrack = localMedia.addVideoTr

[2017-02-22 16:17] KarimAbdo opened #60 "The app crashes with beta8/9"
<img width="1022" alt="screen shot 2017-02-22 at 5 15 51 pm" src="https://cloud.githubusercontent.com/assets/12425853/23220563/b028fbfe-f922-11e6-9b14-1791a4db6690.png">

I couldn't get any crash report on firebase or crashlytics, but in one of the tries the log kept there for a second

`02-22 17:18:59.957 D/MediaPlayer: setSubtitleAnchor in MediaPlayer
02-22 17:18:59.993 I/org.webrtc.Logging: Egl

[2017-02-22 16:28] KarimAbdo commented on #59
Check if this helps you in any way, i dont know why i cannot get crash report for this.

02-22 17:26:00.895 D/TwilioVideo: [Core]:
                                  Receiving incoming SIP message
                                  SIP/2.0 200 OK
                                  Via: SIP/2.0/TLS 192.168.223.47;branch=z9hG4bK-524287-1---8448fcaaec7a8f70;rport=36782;received=127.0.0.1

[2017-02-22 18:13] ckoessler opened #61 "Crash attempting to use a USB Camera"
Hello,
I am trying to run the sample on an Nvidia Shield with logitech USB camera. Android version 7.0.
The app crash with the following logs:

[code]

[2017-02-22 20:44] aaalaniz commented on #60
Does this crash occur in the quickstart for any of your devices?

[2017-02-22 21:05] aaalaniz commented on #61
Hey @ckoessler

Unfortunately we have not tested with the NVidia Shield or with USB cameras on Android. Does the standard Camera application work on the device? The log says the Camera service is unavailable. I will begin testing with USB cameras in the mean time and make sure we offer support for this.

[2017-02-22 21:18] ckoessler commented on #61
I haven't tried the camera application yet (need to be sideloaded). I tried webex, hangout, tellybean. All of them are able to pick up the camera. I understand it's not a standard case. Thanks!

[2017-02-22 21:33] aaalaniz commented on #61
Can you provide the USB camera you are using?

[2017-02-22 22:17] ckoessler commented on #61
I'm using a Logitech HD Pro Webcam C920.

[2017-02-23 03:41] phongnx opened #62 "Record Audio when conversation running"
Dear,
I have an issue when conversation running, I can't record audio because I can't set AudioSource - Mic: mMediaRecorder.setAudioSource(MediaRecorder.AudioSource.MIC)
maybe it was conflicted with Twilio.
Can you give me about a your solution for my problem?
Thanks!

[2017-02-23 13:08] KarimAbdo commented on #60
Hello,
I think i found the problem.
I tried the quickstart and it works and then return to my code and it didn't. then to cut some testing time i hard coded the twilio token which is generated from the online generator and suddenly, IT WORKS!

I think for some reason there is some inconsistency between android and other clients on parsing the access token.

Our backend generates the access token w

[2017-02-23 13:19] aaalaniz commented on #60
Hey @KarimAbdo

Glad you were able figure out the issue. Can you see if you are able to reproduce #59 with 1.0.0-beta9? We introduced some bug fixes for the scenario that you described in 1.0.0-beta8. I will investigate token generation with both a conversation and video grant. This should be pretty easy to reproduce locally.

Thanks

[2017-02-23 13:20] KarimAbdo commented on #60
That was on beta9, sorry for not mentioning that detail

[2017-02-23 13:51] KarimAbdo commented on #59
Fixed on beta9

[2017-02-23 13:51] #59 closed

[2017-02-23 16:03] aaalaniz commented on #60
@KarimAbdo I investigated the token you sent me and you appeared to have encountered a known issue when a token contains a number for an identity. We have fixed this issue already, but have not released a version with the fix. We should have a release out soon. As a workaround, you can convert your identity to a `String`.

[2017-02-23 16:06] idelgado opened #63 "Microphone audio inaudible after enabling their speakerphone on an Android 7.0 device"
A customer reported this problem via Zendesk using a Sony Xperia Z5 with Android 7.0:

I have encountered a problem while using the programmable video service on Android 7.0 (the problem seems to vanish on earlier versions).

While using the Android Video Quickstart example code, I added a button to activate the speaker of the phone. This was done by replacing the the code in the muteClickListener

[2017-02-23 16:15] aaalaniz opened #64 "Tokens with purely numeric identities results in a crash"
A regression was introduced in 1.0.0-beta8 which causes a crash when access tokens are created with numeric identities. The issue currently affects 1.0.0-beta9 and will be resolved with 1.0.0-beta10 release. First reported and identified in #60

[2017-02-23 16:48] aaalaniz opened #65 "Echo on Nexus 6P"
There is a lot of echo for calls that are performed with Nexus 6P. We appear to have encountered the following known WebRTC issue.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/discuss-webrtc/jqTiOixXqJs/UMb_qEjlBwAJ

[2017-02-23 17:19] aaalaniz commented on #62
Hey @phongnx

When a `LocalAudioTrack` is added to `LocalMedia` an [AudioTrack](https://developer.android.com/reference/android/media/AudioTrack.html) is created. This audio track streams audio from the microphone and is causing your conflict because the microphone resource can only be acquired once. If you would like to record audio while connected to a `Room` you will have to call `LocalMedia#re

[2017-02-23 17:25] aaalaniz commented on #62
Let me add some more explanation for how the recording feature is being developed.

The recording feature will be implemented server side and will allow developers to obtain video and audio tracks via a REST API.

[2017-02-23 17:44] ckoessler commented on #61
Quick update. I tried to get a preview from the camera using the google sample for the camera2 API and it works as well. [Link to the sample](https://github.com/googlesamples/android-Camera2Basic).

[2017-02-23 18:07] aaalaniz commented on #61
Thanks @ckoessler

We need to discuss how we are going to handle devices outside the traditional front/back camera setup. Currently, our `CameraCapturer` is catered towards devices like these and lacks the nuance needed for the different types of devices and camera configurations that are available in the Android ecosystem. As a temporary workaround we could label any available cameras as front or

[2017-02-23 18:09] ckoessler commented on #61
Thanks, I'll keep an eye on this.

[2017-02-24 01:59] phongnx commented on #62
Dear,
Thanks for your answers, I hope this feature will available sooner. :)

[2017-02-24 18:46] aaalaniz commented on #60
@KarimAbdo We released `1.0.0-beta6` which should fix the token issues you have reported. Please confirm and close the ticket if you can.

Thanks!

[2017-02-24 18:46] #64 closed

[2017-02-24 23:22] dreamerns opened #68 "Fallback to closest possible constraint when default for camera cannot be met"
Currently, if the default constraints are not met(640x480@30fps) or if the developer provides custom constraints that cannot be met for the camera the call to `LocalVideoTrack.addVideoTrack(...)` returns null.

Rather than returning null we will attempt to choose a configuration that is close to this default and provide a warning in the log specifying which configuration we selected.

[2017-02-24 23:22] dreamerns commented on #68
I think we should also fallback to default constraint if custom one can't be met ?

[2017-02-25 00:00] erito commented on #68
This is great, we were talking about building this out ourselves by inspecting the devices capabilities while compiling the constraints into the builder.  At the very least it should check to see if its capable of meeting the constraints, and falling back to the default `VideoConstraint` if this isn't possible.

[2017-02-25 00:06] idelgado commented on #68
@erito I like that suggestion as well. We'll discuss this internally and provide a more detailed description of our proposal to ensure it solves the problem in the least surprising way for you and other developers.

[2017-02-28 08:16] tungns2408 commented on #62
@aaalaniz
May you help me clear more about current status of recording feature.

=> You mean currently I can get the audio record from REST API right?

[2017-02-28 15:10] aaalaniz commented on #62
Hey @tungns2408

The Video recording feature is not available to developers right now so you cannot access tracks via the REST API.

Let me clarify the status of the recording feature. We are currently working on a server-side implementation of recording. Developers will be able to record the media being shared to a `Room` and access the recorded audio and video tracks via a REST API. This feature

[2017-03-02 16:28] #60 closed

[2017-03-03 23:16] aaalaniz commented on #63
I am unable to reproduce this issue with the following 7.0 devices:

- Samsung Edge S7 - 7.0.0
- Nexus 9 - 7.1.1
- Nexus 6 - 7.0.0

I have been using a Samsung Galaxy S5 as my 6.0.1 device.

I would like to investigate the issue with the actual Sony device. I will put in a request to get this sent to me.

In the mean time, it might be worth trying to tweek the `LocalAudioTrack` via `AudioOptions`

[2017-03-06 23:22] aaalaniz opened #71 "Support codec preferences"
The Video Android SDK currently only supports the VP8 video codec. The library will enable hardware acceleration if a device is compatible or will fallback to a software implementation. We are working on adding an API to allow developers to set their preferred video codec (VP8, H.264, or VP9). We will update this issue with any progress on this feature.

[2017-03-06 23:27] aaalaniz opened #72 "Network handoff to/from a NAT'd IPv6 network"
This is an enhancement we are making to our network handoff capabilities in preparation for our first General Availability release.

**Problem Description**

`Alice` connects to a Room from a NAT'd IPv6 network. The connection succeeds and at a later time `Alice` switches to another network. The handoff to the new network fails, and eventually a `Room.Listener#onDisconnected` callback is invoked.

[2017-03-07 16:52] FranziscaZarrai opened #73 "Using Twilio Android SDK from an Android Service"
We're experiencing some troubles with the Twilio Video-SDK when using it based on a Service. The use-case is as follows:

The user gets authenticated with Twilio (JWT token is provided by our authentication server - links to it's source code at the end of this post), joins his own room (each user has one room based on his username and some other identifiers) then moves the App into the background.

[2017-03-07 16:58] aaalaniz commented on #73
Thanks for writing in. Allow me to look through the application source provided and see what I can find. Thanks for the detailed breakdown of the issues you are seeing. I'lll provide an update soon.

[2017-03-07 21:24] aaalaniz commented on #73
**Duplicate Participant Issue**
When you see duplicate `Participant` s do they have matching SIDs and identities? You can invoke `Participant#getSid()` and `Participant#getIdentity()` to check. This could be an issue of "ghost" participants that we sometimes see due to some backend implementation details. I will see if this could be a client side issue.

**Absent Participant**
When you say a parti

[2017-03-08 07:58] FranziscaZarrai commented on #73
@aaalaniz thank you for checking this out, i'll respond to your questions asap.

[2017-03-08 10:14] ananth10 opened #74 "How to make oneToOne video call ?"
I have just run Quickstart app. when i click call button . it asks me to enter room name. so whats room name? and actually i am developing android app. on that app one user can make a call to other user. so how to do it? should i register every user programmatic ally ?  can i connect to other user based one registered user name?

[2017-03-08 10:25] FranziscaZarrai commented on #74
@ananth10 the room name you input can basically be anything such as "Hello" or "timmi" etc - it'll be the room people join to have a conversation.

As for your usecase: Seems we have the same or at least a similar use case. You can checkout the projects i linked in this bug report:

https://github.com/twilio/video-quickstart-android/issues/73

I link the server and the mobile part there. Basically

[2017-03-08 10:34] ananth10 commented on #74
@FranziscaZarrai Thank you for the response. actually i saw some code to generate token pro grammatically

public class Main {

	// Substitute your Twilio AccountSid and ApiKey details
	public static final String ACCOUNT_SID = "ACCOUNT_SID";
	public static final String API_KEY_SID = "API_KEY_SID";
	public static final String API_KEY_SECRET = "API_KEY_SECRET";

	public static void main(String[] arg

[2017-03-08 13:00] ananth10 commented on #74
@FranziscaZarrai  i have imported Twilio Android Project into android studio . but why we need that spark ?

[2017-03-08 13:31] FranziscaZarrai commented on #74
@ananth10 Hey there, we use Sparky to authenticate towards twilio. You do not have to use Spark - you can do your own thing, but just beware that you'll have to edit the Android project if the JSON returned by your server is not the same as ours.

[2017-03-08 21:41] aaalaniz commented on #68
Hey @erito,

We currently have an internal PR where I've attempted to address some of the `VideoConstraints` issues. Would love to hear your thoughts on our approach. Below are the two scenarios I've tried to address.

**No Constraints are Provided**
This is the primarily the most common use case for adding a `LocalVideoTrack`. Previously we would rely on default constraints of 640x480@30 FPS and

[2017-03-09 06:12] ananth10 commented on #74
@FranziscaZarrai   what should i do for this "R.string.sparkyUrl" . where can i get sparkyUrl? .. please bare with me . i am little confused.

[2017-03-09 07:25] ananth10 opened #75 "how to Generate token and identity programmatically ?"
I need to generate AccessToken programmatically and like to set user-email as Identity .  Can any one tell me how to do it?

[2017-03-09 08:25] FranziscaZarrai commented on #74
@ananth10 I think that question should be posted on this project: https://github.com/coresystemsFSM/android-twilio-video-with-service (it's also explained there int he README file what you need to do with the sparkyUrl) - if after the README it's still nto clear, please open an issue on the afore mentioned project.

[2017-03-09 08:35] FranziscaZarrai commented on #75
@ananth10  here is an example:

[code]

The above uses the email and your twilio credentials (account sid, api key and api secret as well as the video configuration sid - those are all available/can be generated in your twilio account) to generate a token. The above code uses the twilio SDK on the server-side (Java). Please checkout the docs for additional details: https://www.twilio.com/docs/api/

[2017-03-09 09:02] ananth10 commented on #74
@FranziscaZarrai  . Okay . thank you.

[2017-03-09 09:11] ananth10 commented on #75
@FranziscaZarrai . Thank you for the answer . by the way  where did you get above code?  and is it possible to connect from one useremaid(e.g  Identity A) to other useremailId(e.g Identity B) directly without entering into room concept?

[2017-03-09 09:20] FranziscaZarrai commented on #75
@ananth10 the code was taken from our own project and slightly modified for simplicity's sake. What you can do (and that's pretty much what we do) is equate a room name to a user identity, i.e. if a user has an email john.doe@gmail.com then once the app starts, have him auto-join that room. Provide a list of all online users (you'll need to keep a reference to their emails as well) and have the ca

[2017-03-09 13:35] KarimAbdo opened #76 "Automatic detection of connecting/disconnecting a headset"
This only worked on the nexus devices.
One HTC, Sony and samsung it kept using the loudspeaker.

i solved it by adding a BroadcastReceiver that detects if the headphones get connected/disconnected

[code]

[2017-03-09 21:06] erito commented on #68
That sounds preferable to the current implementation for sure, also sounds like the logic for closest supported Video Capture format gets reused as the fallback for the Custom Constraints implementation, which is great.

One additional enhancement that might be particularly useful is an equals()/hashcode() implementation for `VideoConstraints` to help verify the desired constraints were added.  I

[2017-03-09 21:23] aaalaniz commented on #68
@erito Thanks for your feedback.

In the current solution if constraints cannot be applied then we fallback to the closest to 640x480@30 FPS and **NOT** the closest to the custom constraints. I started down the path of the closest to custom constraints approach and was worried about the growing logic to accommodate something like 1280x720 - 1920x1080 16:9 for a `VideoCapturer` that has no 16:9 or

[2017-03-10 05:18] ananth10 opened #77 "Getting Error When i try to get JwtToken"
I have added  twilio 7.6.0 jar to my project to get jwtToken . but i am getting below error

 **```
FATAL EXCEPTION: main
                                                                           Process: com.twilio.video.quickstart, PID: 9363
                                                                           java.lang.NoClassDefFoundError: Failed resolution of: Lio/jsonwebtoken/Signature

[2017-03-10 12:49] ananth10 opened #78 "Getting Invalid Access Token signature"
I have setup my local server . i could not connect with room  got **invalid Access Token signature**. but i got accessToken.  can anyone help me?

[code]

[2017-03-10 15:36] aaalaniz commented on #61
Just a quick update @ckoessler

We are designing changes to `CameraCapturer` this week and will begin implementing next week.

[2017-03-10 15:39] aaalaniz commented on #65
Fix has been applied and and validated. Issue will be resolved in `1.0.0-beta12`

[2017-03-10 16:11] aaalaniz commented on #74
Hey @ananth10

A `Room` represents a media session between participants and as @FranziscaZarrai pointed out the name of the room can be anything ("Daily Standup", "Customer Rundown", or a UUID). The Video SDK does not provide a mechanism to "call" users. We leave this to the developer. We are encouraging developers to use a separate service for calling. Some good candidates for performing this:

[

[2017-03-10 16:20] aaalaniz commented on #75
Thanks @FranziscaZarrai for answering the original question! I will close this ticket and any additional questions about 1:1 Video Calling can continue in #74

[2017-03-10 16:20] #75 closed

[2017-03-10 16:25] aaalaniz commented on #75
@ananth10 One additional comment. Here is a slightly updated snippet that shows adding a `VideoGrant` instead of `ConversationsGrant`. For more information, see our complete guide [User Identity and Access Tokens](https://www.twilio.com/docs/api/video/identity)

[code]

[2017-03-10 16:32] aaalaniz commented on #76
Thanks @KarimAbdo

Do you find that there is a need for an `AudioManager` utility that handles common events such as bluetooth connection, headset connect/disconnect or proximity sensor detection? If so, we can discuss in our next planning meeting.

[2017-03-10 16:47] FranziscaZarrai commented on #73
@aaalaniz i'll get to responding to the open questions this weekend. That aside I saw you mentioned an alternative way of handling one-to-one-calls here: https://github.com/twilio/video-quickstart-android/issues/74#issuecomment-285710297 by using google cloud messaging. Using a background running service (as we do) seems a little easier, since it does not involve yet another endpoint (google cloud

[2017-03-10 16:53] aaalaniz commented on #77
Hey @ananth10

It appears you are missing the [Java JWT](https://github.com/jwtk/jjwt) library from the Twilio Java jar. If you want to use the Twilio Java Library jar directly then you will need the [jar-with-dependencies](http://search.maven.org/remotecontent?filepath=com/twilio/sdk/twilio-java-sdk/6.3.0/twilio-java-sdk-6.3.0-jar-with-dependencies.jar). However, I recommend using Gradle to pull

[2017-03-10 16:53] #77 closed

[2017-03-10 17:16] aaalaniz commented on #73
Hey @FranziscaZarrai

I do not recommend being permanently connected to a `Room` for two reasons:

1. Holding a long standing connection will cause unnecessary battery drain.
2. We have a 4 hour cap on how long a `Participant` can be connected to a `Room`. Even if we lifted this cap, I still do not suggest doing this because of reason one.

[2017-03-10 17:24] aaalaniz commented on #78
Hey @ananth10

Make sure you are using a `VideoGrant` when generating the token. You can also reference our guide for [generating Video Access tokens](https://www.twilio.com/docs/api/video/identity#server-create-an-access-token).

Thanks!

[2017-03-11 03:52] ananth10 commented on #78
@aaalaniz  .Okay . i will do it. Thanks

[2017-03-11 04:01] ananth10 commented on #77
@aaalaniz . Thank you.

[2017-03-11 04:05] ananth10 commented on #74
@aaalaniz  Thank you for the quick response. i will follow the above flow.

[2017-03-11 04:06] ananth10 commented on #75
@aaalaniz . Thank you for the info.

[2017-03-11 04:14] ananth10 commented on #78
@aaalaniz Actually i am using VideoGrant only .

[code]

I have got above code from this link

**https://github.com/TwilioDevEd/video-quickstart-php/blob/master/token.php**

So Can you guess and tell me . What am i missing?

[2017-03-11 04:20] ananth10 commented on #77
@aaalaniz i have tried to use this   **compile 'com.twilio.sdk:twilio-java-sdk:6.3.0'** version. but in this library i could not fine VideoGrant class.  so can you tell me in  which version you have implemented **"VideoGrant**" api ?

[2017-03-11 04:25] #74 closed

[2017-03-11 04:33] ananth10 commented on #78
@aaalaniz For info . i have setup my local server based on the info provided by this link
**https://github.com/twilio/video-quickstart-android#setup-an-access-token-server**

[2017-03-11 12:41] FranziscaZarrai commented on #73
@aaalaniz Ok so regarding the question *Duplicate Participant Issue*.

Say one phone with the Identitiy *test-accountFiigp* (we use roomnames == user identity) connects to a room of the *same name* (without being on the call screen), then a phone with Identitiy *test-accountLkqoa* connects to that same room. Now if i list the participants on the phone with Identitiy *test-accountLkqoa* after succe

[2017-03-11 19:42] KarimAbdo commented on #76
I think it will be very helpful.

Also i would think maybe an integrated speed test would be very helpful, if you could integrate it within the call.
so for example if the internet got weak you can either send lower quality instead of the slow motion one that is already there, or if it is too weak maybe freeze the video with a message, or an event.

[2017-03-13 16:28] patrikwlund opened #79 "Pre-call connectivity/bandwidth test"
I believe a connectivity/bandwidth test would be a great addition. Perhaps similar to https://networktest.twilio.com. The test should be able to run before any room is created so it can be part of pre-call procedures, such as notifying the user that their connection is shaky before entering a room.

[2017-03-14 07:52] matdennoigi opened #80 "Participant disconnect event is fired too late"
Hi guys,

We developed a video call app with Twilio. In a call, assume has 2 participants A & B. When device of A be crashed or lost network, after 1 minutes and 13 seconds later, Twilio (on A device) threw "B disconnect" event. How can I make it faster, because our service charge over call duration?

[2017-03-14 09:43] #78 closed

[2017-03-14 14:32] aaalaniz commented on #73
Hey @FranziscaZarrai

Thanks for investigating this a bit further. I'm pretty sure this is a bug. I'm going to test with our video application and see if I can reproduce and root cause the problem. I'll update this issue for any new findings.

Thanks again!

[2017-03-14 16:25] idelgado commented on #80
@matdennoigi We have an issue in our backend infrastructure at the moment, where a timer, that can last up to 120 seconds retains the instance of the participant. We are working through possible solutions to detect and reap participants on abrupt disconnections(crashes, lost network).

I'll update this ticket with the proposal we land on and with an ETA for a fix.

[2017-03-14 21:34] dreamerns commented on #63
Unfortunately, I wasn't able to reproduce it with Sony Xperia Z5 (E6603) with Android 7.0 either.

[2017-03-15 01:38] aaalaniz commented on #63
Closing this issue because we are having trouble reproducing with the Sony Xperia Z5. Feel free to reopen the issue if there is anything new to report.

[2017-03-15 01:38] #63 closed

[2017-03-15 02:07] #65 closed

[2017-03-15 02:07] #68 closed

[2017-03-15 02:21] aaalaniz commented on #68
Hey @erito,

The 1.0.0-beta12 release contains the constraints work. Let us know what you think!

[2017-03-15 02:45] matdennoigi commented on #80
Thank so much! Hope it soon

[2017-03-16 11:07] KarimAbdo opened #82 "AdvancedCameraCapturer crashes on Note 10.1"
I tried to run the exampleAdvancedCameraCapturer on Samsung Note 10.1 with lollipop it stops.
**Here is my log:**

[code]

[2017-03-17 23:36] idelgado commented on #82
@KarimAbdo Hey, we're upgrading our CameraCapturer pipeline with an upgrade to WebRTC 57 fairly soon. My hope is this issue will be resolved with this upgrade. We'll keep you posted, we're starting this work next week.

Unfortunately, I don't have a lot of insight or recommendations for a workaround for the time being. Assuming this is device specific.

[2017-03-18 01:30] dvrodriguez opened #83 "quickstart: video fails in android client when other person exits + re-enters the room."
(1) One person, using the quickstart android app, enters a room
(2) Another person, using the javascript library, enters the same room. Everything works as expected.
(3) The javascript person leaves the room, waits a bit, then re-enters the room.

At this point, the video in the android app of the other person no longer works.

But it's clear both are in the room. That is,
-- The Android person ca

[2017-03-18 19:54] idelgado commented on #83
Thanks for the detailed description. I believe we recently may have found this bug in some of our testing. I'll write a test case and follow up with an ETA on the fix Monday.

[2017-03-20 15:59] aaalaniz commented on #83
Hey @dvrodriguez

This appears to be a bug in our quickstart application. I was able to reproduce the issue between two Android quickstart clients by following the steps you provided. Thanks for the detailed steps. I'll have a fix soon.

[2017-03-20 20:28] aaalaniz opened #84 "No Audio Heard from Galaxy Note 5"
Customer reported issue about no audio being heard from a Galaxy Note 5.

[2017-03-21 15:42] joao-amaro-bold opened #85 "No video and no audio on calls for other countries"
We're using Android Twilio Programmable video SDK (1.0.0-beta12) and everything is working in video calls to the same country (User A and User B are in the same country, join the same room and get local and remote video and audio tracks).
However, when we try to call a user that is in a different country, after user B joins the room (onConnected() callback for user B and onParticipantConnected() f

[2017-03-21 15:52] idelgado commented on #85
@joao-amaro-bold Thanks for reporting this issue. I'm not aware of any limitations as it relates to specific countries.

Can you provide me with the Room SID via `room.getSid();`? And post a full log with `VideoClient.setLogLevel(LogLevel.ALL);` set when connecting to the Room?

[2017-03-21 16:07] aaalaniz commented on #83
Hey @dvrodriguez

After further investigation this issue does appear to be a SDK regression introduced in 1.0.0-beta12. I've validated that the issue no longer occurs with the latest internal release of the SDK. We should be releasing 1.0.0-beta13 very soon. I'll provide another update after the release.

[2017-03-21 17:23] joao-amaro-bold commented on #85
@idelgado Thanks for fast reply.

Here it goes. Files with logs from callee (User B, answering call) prior and after joining room and caller after joining room (with 0 participants).

Thank you
[callee - after.txt](https://github.com/twilio/video-quickstart-android/files/859074/callee.-.after.txt)
[callee - prior.txt](https://github.com/twilio/video-quickstart-android/files/859075/callee.-.prior.t

[2017-03-21 17:49] aaalaniz commented on #85
Hey @joao-amaro-bold

Thanks for the logs. I noticed that our SDK is only using STUN servers to establish a PeerConnection.

[code]

Can you check that the Video Configuration Profile you are using to generate a token has Network Traversal enabled? Here are the steps.

1. Navigate to your [Video Configuration Profiles](https://www.twilio.com/console/video/profiles)
2. Validate the Network Traversa

[2017-03-21 18:11] joao-amaro-bold commented on #85
Hey @aaalaniz
Thanks for response. It's solved now. It was NTS that was disabled.

Thanks a lot

João Amaro

[2017-03-21 18:12] aaalaniz commented on #85
Awesome!

[2017-03-21 18:12] #85 closed

[2017-03-22 22:24] aaalaniz commented on #83
Hey @dvrodriguez

This regression should be resolved in `1.0.0-beta13`. I validated the fix in the quickstart. Please re-open the issue if the problem persists.

Thanks!

[2017-03-22 22:24] #83 closed

[2017-03-22 22:26] aaalaniz commented on #73
Hi @FranziscaZarrai

Can you try the `1.0.0-beta13` release and see if you are still encountering duplicate participants? We made a lot of changes in our core library and I'm wondering if some of these issues may have been resolved.

Thanks!

[2017-03-23 07:04] FranziscaZarrai commented on #73
@aaalaniz Thank you very much for the update! Will verify it asap and get back to you.

[2017-03-26 10:23] sopnonill87 opened #87 "How to invite a participant in programmable video"
I am making a video chat application using twilio programmable chat. I m facing some problems. Can't find anywhere how to invite a new participant when i am trying to call him. Can anybody help me with this?

[2017-03-27 06:26] FranziscaZarrai commented on #87
@sopnonill87 If you have a one-to-one call use-case, checkout this thread where the subject was discussed and a possible solution was proposed by @aaalaniz at the end of the thread:

https://github.com/twilio/video-quickstart-android/issues/74

[2017-03-28 11:19] ananth10 opened #89 "How to capture camera frame?"
I need to capture the camera frame and  have to do image processing? is there any api to capture camera frame?

[2017-03-28 15:35] aaalaniz commented on #89
Hey @ananth10

We have an API on `CameraCapturer` to capture an image. I recommend exploring our [advanced camera capturer module](https://github.com/twilio/video-quickstart-android/tree/master/exampleAdvancedCameraCapturer) which shows an example of how to take a picture while the camera capturer is running.

[2017-03-29 03:42] ananth10 commented on #89
@aaalaniz . Thank you much. i will try it.

[2017-03-29 03:52] ananth10 commented on #89
@aaalaniz i need to capture camera frame during 1:1 video call. is it possible using [advanced camera capturer module](url) ?

[2017-03-29 16:10] aaalaniz commented on #89
Hey @ananth10

The advanced camera capturer module only demonstrates how to set custom `CameraParameters` or capture an image with the `CameraCapturer`. Unfortunately, the module does not demonstrate capturing every frame.

Are you interested in recording or doing some additional processing for each frame?

If you are more interested in recording, we are currently working on a media recording feat

[2017-03-29 18:45] dreamerns commented on #73
@FranziscaZarrai I've looked into this ticket and the only way I was able to reproduce it is if one of the participants (test-accountLkqoa in you example) abruptly left the room and came back. We do have a timeout on our backend (https://github.com/twilio/video-quickstart-android/issues/80) that can take up to 120 seconds to detect that participant has left the room. During that time participant a

[2017-03-30 05:50] kvikrama commented on #89
@aaalaniz we want to process every frame because the frames will need correction before we can send it to remote side. OR Alternately we can do the correction on the receive side as well.

Please guide us on steps to do the same. This need not necessarily be in your SDK. We are using opencv. Hence we just need the frames so that we can process them.

[2017-03-30 14:46] aaalaniz commented on #89
Hey @kvikrama

I would suggest exploring the [custom renderer module](https://github.com/twilio/video-quickstart-android/tree/master/exampleCustomVideoRenderer). In the example, we demonstrate implementing a custom renderer that captures the latest rendered frame into a `Bitmap`. Even though we display one image, the custom renderer processes each I420 frame. These I420 frames could be piped into

[2017-03-30 22:45] aaalaniz opened #90 "Missing media when adding audio/video tracks quickly while connected to room"
While connected to a `Room` there is a bug in our negotiation of media when adding audio and/or video tracks quickly. In some cases video is not flowing to participants.

*Steps to Reproduce*
1 . Alice connect to Room B with no media
2. Bob connect to Room B with no media
3. Bob adds two `LocalVideoTrack`s with `ScreenCapturer` and `CameraCapturer` one right after the other.

*Expected Result*
Bot

[2017-03-31 13:46] ananth10 commented on #89
We are processed bitmap using opencv now. but how this frame going to  reflect on videoview? .Should i convert bitmap to i420Frame? or how do i pass i420Frame back to render ?

**localMedia = LocalMedia.create(this);
localAudioTrack = localMedia.addAudioTrack(true);
cameraCapturer = new CameraCapturer(this, CameraSource.FRONT_CAMERA);
localVideoTrack = localMedia.addVideoTrack(true, cameraCapturer

[2017-03-31 16:39] aaalaniz commented on #89
Hey @ananth10

I suggest creating an OpenCvRenderer that contains a `VideoView`. When `renderFrame` is called you can process the frame and convert it back to `I420Frame` and then forward the processed frame to our `VideoView`. The class below provides a decent starting point for implementing this.

[code]

[2017-03-31 22:15] FranziscaZarrai commented on #73
@dreamerns Thank you for the additional input! I'll check this out as well and see if this is what's going on with our service.

[2017-03-31 22:42] dreamerns commented on #73
That is also possible scenario. If one of participant looses connection, it would remain in room as "ghost" for next 2 minutes. Unfortunately, we don't have good solution right now for this problem, but our backend team is working on it and hopefully there will be a fix soon. As workaround you could put some additional timeout on client side that would cut down time. Something like a client ping.

[2017-03-31 23:16] FranziscaZarrai opened #92 "Twilio SDK 1.0.0-beta15: Exception when trying to start quickstart app in Emulator"
When trying to start the most recent version of the quickstart app in an emulator (it uses the twilio SDK version com.twilio:video-android:1.0.0-beta15)  it fails with an exception. The emulator specification is as follows:

Name: Nexus_5_API_25
CPU/ABI: Google APIs Intel Atom (x86_64)
Target: google_apis [Google APIs] (API level 25)
Skin: nexus_5
SD Card: 100M
hw.dPad: no
runtime.network.speed: f

[2017-03-31 23:41] trentramseyer commented on #84
I recently put it on a Galaxy S7 and the volume is low and can't seem to get it high enough to have conversation.  On a Note 4, it is working fine.  All volume settings are at max on S7.

[2017-04-01 00:12] FranziscaZarrai commented on #73
@dreamerns @aaalaniz

I gradually updated - starting with 1.0.0-beta11, then 1.0.0-beta13 and then 1.0.0-beta15. The relevant ones being the latter two:

1.0.0-beta13 - works great
1.0.0-beta15 - works sometimes, crashes on same occasions and sometimes doesn't add the video stream

Here is one of the crashes from beta15 (Sony Xperia Z5 Compact calls Google Pixel - the crash occurs on the Pixel - b

[2017-04-01 00:40] aaalaniz commented on #92
Hey @FranziscaZarrai

Thanks for reporting this. I will root cause this asap.

[2017-04-02 09:18] ra992 commented on #73
Hi,

I have downloaded the application "Twilio Android Project, Spark based authentication server" from links mentioned above. But its not working as expected:

1. The list of participants are not displayed on the web page
2. List of participants are displayed on mobile, but when call to any selected participant, call dialog opens, but the Callee didn't get any call.

So, is there anything which I

[2017-04-02 18:44] FranziscaZarrai commented on #73
@ra992 This is not the place for that question :) if you have questions regarding that project, please open an issue on the corresponding project and we'll take a look. We'll need more details though and log outputs documenting your issue. However I will answer your questions - but for further inquiries, please open an issue on the corresponding project:

1. There is no webpage to display particip

[2017-04-03 11:19] ananth10 opened #93 "Getting Null Array In Samsung S6 mobile"
I have called From Client A to Client B . in both side i am using CustomVideoRenderer. when other participant joined in same room. got error in this line **i420Frame.yuvStrides[0]** . but i have added customvideorenderer inside **"addParticipantVideo"** like below

[code]
**Error logs**

[code]

**CustomVideoRenderer.Java**

[code]

and its working fine in moto g and lava mobiles. but not working

[2017-04-03 13:18] ananth10 opened #94 "How to convert Bitmap to i420 Frame?"
@aaalaniz Can you please tell  how to do it?

This is my CustomVideoRenderer , now just binding bitmap to imageview . actually i need to convert it back to i420 frame. and i should pass it to videoview.

[code]

[2017-04-03 21:19] aaalaniz commented on #92
Hey @FranziscaZarrai

I am unable to reproduce this crash. After investigating your log further, there appears to be an error connecting to the emulator CameraService.

[code]

I've attached the [Nexus 5 Emulator setup](https://github.com/twilio/video-quickstart-android/files/891445/my-n5-emu.txt) I used to try and recreate this crash. The only property I was not able to match from your emulator c

[2017-04-03 21:59] dreamerns commented on #84
Hi @trentramseyer,
I couldn't reproduce this with Galaxy S7 Edge, but I remember seeing this issue on some of S7 devices in case where audio focus is not set to STREAM_VOICE_CALL during call. We do that in our quickstart app before connecting to the room https://github.com/twilio/video-quickstart-android/blob/master/quickstart/src/main/java/com/twilio/video/quickstart/activity/VideoActivity.java#L

[2017-04-04 05:47] kvikrama commented on #93
@aaalaniz  the SDK behaviour differs with different phones.
Can you please quickly revert to us if we are not handling something or if this is a bug in your SDK.

[2017-04-04 06:42] FranziscaZarrai commented on #92
@aaalaniz Thank you for investigating, i'll try it with a different emulator setup as you suggested and will update this ticket accordingly.

[2017-04-04 15:18] aaalaniz commented on #94
Hey @ananth10

Can you try the solution posted on this [stack overflow post](http://stackoverflow.com/questions/5960247/convert-bitmap-array-to-yuv-ycbcr-nv21)? Unfortunately I am not very familiar with OpenCV.

Thanks

[2017-04-04 15:24] aaalaniz commented on #93
Hi @ananth10 and @kvikrama

When you encounter the error does every frame you receive in `renderFrame` callback contain a `null` array for `yuvStrides`?

[2017-04-04 15:35] kvikrama commented on #93
When we encounter the error (first frame we get crash), yuvStrides is NULL.

[2017-04-04 15:38] aaalaniz commented on #93
@kvikrama does `null` continue to be the value for subsequent calls to `renderFrame`?

Can you add a `null` check on `yuvStrides` in the `renderFrame` callback? I would like to know if the problem is just for the first frame, every frame, or random frames.

Thanks

[2017-04-04 15:47] kvikrama commented on #93
@aaalaniz this is happening on every frame. If it works on a phone it works. If it doesnt work on a phone, every frame has NULL.

[2017-04-04 15:55] aaalaniz commented on #93
@kvikrama

Which version of the SDK are you using? (latest is [1.0.0-beta15](https://bintray.com/twilio/releases/video-android/1.0.0-beta15))

Can you add the the following lines to your application? (Make sure these lines are executed before any interaction with the SDK)

_For 1.0.0-beta15_
[code]

_Before 1.0.0-beta15_
[code]

Please post a complete log for the Galaxy S6. Thanks.

[2017-04-04 16:02] ananth10 commented on #94
@Aaron . you guys converted i420 frame to yuvImage and yuvImage to bitmap in Custom Video Renderer example . I just wanted to do it in reverse. But anyway i will try tat stack solution.

[2017-04-04 16:16] kvikrama commented on #93
@aaalaniz we will give you the log files in a while.
We have faced the issues in vast majority of phone. Only on few phones we got the render API working. Can you please internally check with developers if this is a BUG or a configuration issues that either your example or our application missed out.

[2017-04-04 16:29] aaalaniz commented on #93
@kvikrama I need more information to root cause the issue. Can you please answer the following questions?

Which version of the SDK are you using? (latest is [1.0.0-beta15](https://bintray.com/twilio/releases/video-android/1.0.0-beta15))

Does the exampleCustomVideoRenderer (without any of your changes) work on the devices you are experiencing issues with?

[2017-04-04 17:04] ananth10 commented on #93
we are using 1.0.0-beta11 ..yes example working on all mobiles . But for you information if i add custom Video Renderer for localVideoTrack means there is no issue ..Only on participant track . I mean incoming videoTrack

[2017-04-04 17:13] kvikrama commented on #93
@aaalaniz as @ananth10 mentioned the exampleCustomVideoRenderer works on all phones we tested. But in exampleCustomVideoRenderer example you are rendering only localVideo.

When we use it on remote video, we face the issue. We are creating log on 1.0.0-beta15 to share with you.

[2017-04-04 17:15] aaalaniz commented on #93
Thanks @ananth10 and @kvikrama

I have a better understanding of the issue now and will try to root cause the problem. Thanks!

[2017-04-04 17:31] ananth10 commented on #93
@aaalainz , Thank you much .. we would really appreciate you for quick fix .

[2017-04-05 05:11] ananth10 commented on #93
@aaalaniz . You can see log cat message below

[code]

[2017-04-05 18:11] kvikrama commented on #93
@aaalaniz is there a likely date when we can get a fix ?
This is a critical feature for us. Request to give some trend date.

[2017-04-06 13:30] ananth10 commented on #94
@aaalaniz I could not create new I420 frame object using twilio sdk.because i could not extend i420 class or there is no way to access i420Frame. so can you tell me  how can i create new i420 frame from bitmap or yuvImage?

[2017-04-06 17:24] aaalaniz commented on #93
I am able to reproduce the issue locally. Please allow me to diagnose the problem. I appreciate your patience.

[2017-04-06 20:38] aaalaniz commented on #93
Hey @ananth10 @kvikrama

I have identified the problem and will have a fix in the `1.0.0-beta16` release.

Thanks for your patience.

[2017-04-06 22:31] aaalaniz commented on #94
Hey @ananth10

I need to do more investigating of `I420Frame` before I expose a constructor for the object. As a workaround can you try modifying the `yuvPlanes` data directly after your processing? Manipulating the pixel data directly will remove the need to create a new `I420Frame` instance.

[2017-04-06 22:57] aaalaniz commented on #92
Hey @FranziscaZarrai

Were you able to use the Nexus 5 emulator with my suggestions?

Thanks!

[2017-04-07 00:23] ananth10 commented on #94
@aaalaniz . Is it possible to directly pass pixel data to videoView . means videoView.renderFrame(pixeldata) instead of videoView.renderFrame(i420Frame) ?

[2017-04-07 00:24] aaalaniz commented on #94
@ananth10 The `VideoView` only supports rendering `I420Frame` at this time.

[2017-04-07 00:27] ananth10 commented on #93
@aaalaniz Sounds good ..We are really looking forward to release of -beta16 .

[2017-04-07 01:08] ananth10 commented on #94
@aaalaniz okay then how can i do it ?

[2017-04-07 01:30] kvikrama commented on #93
When are we planning for the release ?

On 7 Apr 2017 2:08 a.m., "Aaron Alaniz" <notifications@github.com> wrote:

[2017-04-07 01:49] aaalaniz commented on #93
We have a release candidate being tested. I will provide an update once we get test results.

[2017-04-07 08:33] FranziscaZarrai commented on #92
@aaalaniz Apologies for the delay - I'll give this a try today

[2017-04-07 14:05] #92 closed

[2017-04-10 14:00] aaalaniz commented on #93
@kvikrama @ananth10 I received the test report and I'm investigating one small issue. My hope is to have the release out soon.

[2017-04-10 14:17] aaalaniz commented on #94
Hey @ananth10

Once you have completed your frame manipulation you can use one of the [ByteBuffer](https://docs.oracle.com/javase/7/docs/api/java/nio/ByteBuffer.html) put methods to insert your new data into the original I420Frame `yuvPlanes` object.

The `yuvPlanes` field in `I420Frame` is an array of `ByteBuffers` that represents the pixel data as follows.
[code]

[2017-04-10 17:07] ananth10 commented on #94
@aaalaniz. okay. but how can i give yuvPlanes as input to videoview ? can you provide me sample code ?

[2017-04-10 18:25] aaalaniz commented on #94
@ananth10 Modify the `yuvPlanes` data of the `I420Frame` you want to render. Once the modification is done pass the `I420Frame` with the modified `yuvPlanes` data to `VideoView`. You should not have to instantiate a new `I420Frame` to modify the under lying `yuvPlanes` field.

[code]

[2017-04-10 19:08] aaalaniz opened #95 "Intermittent high decode time results in delayed video"
In 1.0.0-beta16 we fixed regression #93 by disabling decoding from a `SurfaceTexture` for remote video. Disabling decoding from a texture re-introduces an intermittent issue we observed decoding remote video on a Nexus 9 where high decode times resulted in delayed video. The goal is to resolve this bug in 1.0.0-beta17 without breaking our `VideoRenderer` API.

[2017-04-10 19:47] aaalaniz commented on #93
@kvikrama @ananth10 1.0.0-beta16 has been release. Can you please validate that you are no longer  experiencing this issue?

Thanks

[2017-04-11 10:02] ananth10 opened #97 "How to enable video and audio recording for video session?"
I need to record video call session between two users. How to do it using "com.twilio:video-android:1.0.0-beta16" library?  but i saw doc there they used JS to create a room
[code]
but i have been passing desired roomName to  ConnectionOption like below

[code]

Now question is how to enable recording using SDK? . Is there any option like **"RecordParticipantOnConnect=true"** to enable recording?

[2017-04-11 16:37] ktoraskartwilio commented on #97
Hi @ananth10

I work on the Product team at Twilio.
Recordings is currently in a limited developer preview. We will be opening a public beta in the coming weeks. Can you please send me a note directly (ktoraskar@twilio.com) with your account SID, a description of your use case and how you intend to use recordings.

Thanks,
Kedar

[2017-04-12 13:55] aaalaniz commented on #93
Confirmed via email the issue has been resolved.

[2017-04-12 13:55] #93 closed

[2017-04-12 17:13] ananth10 opened #98 "User audio not mirroring on tv when user having video call ."
We are doing tv mirror using google cast sdk. so when video session started user can enable

cast button then they can see video UI on TV. i can successfully displaying VideoView UI on TV .

But I audio not mirroring on TV's speaker. as per the google cast SDK . when cast enabled it will automatically capture audio and mirror to TV's speaker.

 i just created sample activity and just played one au

[2017-04-12 21:15] dreamerns commented on #98
Hi ananth10,

First thing that comes to mind is that you might need to change audio mode and focus in order for MediaRouter to pick it up. In our quickstart app we are setting mode to MODE_IN_COMMUNICATION and audio focus to STREAM_VOICE_CALL in [VideoActivity](https://github.com/twilio/video-quickstart-android/blob/master/quickstart/src/main/java/com/twilio/video/quickstart/activity/VideoActivity

[2017-04-13 13:55] ananth10 commented on #98
@dreamerns  i have tried both things  1. i have changed  MODE_IN_COMMUNICATION  to MODE_NORMAL and  STREAM_VOICE_CALL to STREAM_MUSIC
2. Changed MediaRouteSelector control to CATEGORY_LIVE_VIDEO. but still audio not mirroring on TV's speaker.

[2017-04-13 23:30] dreamerns commented on #98
@ananth10
Unfortunately, I haven't tried casting myself, so I'm not sure what can be a problem. I need to investigate more.
In meantime,  I do have another idea that you might want to try. Instead of mirroring room from your device to tv, maybe you can create receiver app with Video JS SDK that could act as another participant in the room? That way you could only notify receiver app from your devi

[2017-04-14 04:28] ktoraskartwilio commented on #62
Hi @phongnx @tungns2408

Twilio Video Recordings is now available in a Developer Preview along with Group Rooms (multi-party video sessions). Please reach out to me at (ktoraskar@twilio.com) with your account SID and a short description of your use case. Would be happy to enable Recordings on your account.

Thanks,

[2017-04-14 05:01] Samcotech commented on #61
Do you have any update on this ?

We want to use USB Camera in Android,  please post update here.  there is no update after March 10.

[2017-04-14 13:33] aaalaniz commented on #61
Hey @Samcotech

Apologies for the delay. We are in the process of updating our camera capturer pipeline to support USB cameras. The effort has taken longer than expected.

Can you provide details on the setup you want accommodated?

1. Android device or devices
2. Android API levels
3. The USB camera you plan on using

Thanks

[2017-04-14 13:46] Samcotech commented on #61
Hi

Thanks for your prompt reply.

We are developing Video call application on Android device.  We have to use external any USB camera get video stream from that.  We can use any plug and play USB camera which support Android device.  Can you please help us, how we can change that.

Best Regards,

Ketan

[2017-04-14 15:17] csemrm commented on #93
same problem for Video call also.

[2017-04-17 08:48] iorikingdom opened #99 "Inconsistencies of audio input level and quality when changing audio output"
When turn the speaker on at android 7.0 devices such as xperia sony ,
the speaker volume would be turn down automatically.
Twilio-video is android 7.0 supported?

[2017-04-17 14:30] aaalaniz commented on #99
Hi @iorikingdom

The Video Android SDK does support Android 7.0+. Are you saying that when you turn speaker on while connected to a `Room` on Sony Xperia the audio received by other participants is quieter? Can you try adding a `LocalAudioTrack` with echo cancellation disabled to see if that affects the audio. Snippet below for reference.

[code]

[2017-04-19 07:01] ananth10 opened #101 "Can anyone convert below curl to equivalent java code?"
I need to create a room in android platform. i am using twilio sdk. i am using Retrofit for API calling. i have set everything to call room api. but i dont know what to do with  **"{YourSigningKeySID}:{YourSigningKeySecret}"** i have both api key and secret. how can i pass these to api . should i pass these in the header or data?

curl -XPOST "https://video.twilio.com/v1/Rooms" \

-u "{YourSigning

[2017-04-19 08:30] sashjakk commented on #101
You should take a look at Retrofit Interceptors and Basic Auth. You can try [this link](http://lgvalle.xyz/2015/07/27/okhttp-authentication/) as example.

[2017-04-19 09:08] ananth10 commented on #101
@sashjakk Thanks.  "-u {YourSigningKeySID}:{YourSigningKeySecret}" is Header or Paramater? dont consider Retrofit now becaues i am checking this api in postman client
![postman](https://cloud.githubusercontent.com/assets/13381242/25172194/dc76fa28-250d-11e7-894b-9db4543d77b4.png)

[2017-04-19 09:38] ananth10 commented on #101
@sashjakk  Thanks , its working now in postman.   is there sperate  "Authorization" header in retrofit like postman?  i am doing  like below . is it ok?

 OkHttpClient defaultHttpClient = new OkHttpClient.Builder()
                .addInterceptor(
                        new Interceptor() {
                            @Override
                            public Response intercept(Chain chain) thr

[2017-04-19 09:43] sashjakk commented on #101
I've been doing authorization like this:

[code]

[2017-04-19 09:53] ananth10 commented on #101
@sashjakk Thanks :+1:

[2017-04-19 12:56] aaalaniz commented on #101
Closing this issue. Thanks @sashjakk !

[2017-04-19 12:56] #101 closed

[2017-04-20 03:23] iorikingdom commented on #99
HI @aaalaniz

Thanks for your reply.
I have tried this snippet but it seem not working.
It is any other way to find out this problem?

[code]

[2017-04-20 14:01] aaalaniz commented on #99
Hi @iorikingdom

Thanks for trying my suggestion. We are able to reproduce a similar audio issue on some of our devices. We are currently working on a solution. I or @dreamerns will update this issue when we have any updates.

Thanks

[2017-04-24 18:54] kbagchiGWC opened #102 "Crash on Call initialize"
@devganiyahitesh1 filed the following issue :

Facing the issue with Nexus5 (armabi-v7) and latest sdk ( com.twilio:video-android:1.0.0-beta16 ).
It is working fine if i run application for particular architecture.But crash when i release app in play store.
added Video.setLogLevel(LogLevel.DEBUG);

`04-24 10:43:26.385 32736-32736/? I/org.webrtc.Logging: MediaCodecVideoDecoder: Trying to find HW de

[2017-04-25 13:34] ananth10 opened #103 "How to get default video configuration?"
I need to know default video call configuration. things like , **Frame Size, FPS & color configuration.**. and also how to customise those things?

[2017-04-25 14:03] aaalaniz opened #104 "VideoTrack isEnabled returning wrong state"
A customer reported that when they add a disabled video track to `LocalMedia` the isEnabled method of `VideoTrack` returns true when surfaced to another participant in the `Room`.

Original report

[2017-04-25 14:24] aaalaniz commented on #102
Hey @devganiyahitesh1

We are aware of this bug and are working on a resolution. This issue will be fixed in the next release.

[2017-04-25 17:12] aaalaniz opened #105 "VideoView crashes when rendering frames before initialized"
A customer reported a crash when attempting to add a `VideoView` as a `VideoTrack` renderer before the `VideoView` has been added to the view hierarchy.

**Log**

[code]

**Workaround**

Ensure that `VideoView` is added to view hierarchy before adding as a `VideoTrack` renderer.

[2017-04-26 10:54] iorikingdom opened #106 "Can not connecting to the room"
Since this Tuesday the twilio video server become unstably . Such as  can not connecting to the room without any error message.

Sorry for my poor English.

[2017-04-26 13:17] aaalaniz commented on #106
Hi @iorikingdom

Can you describe the instability more? Do you find that you have to attempt multiple times before successfully connecting to `Room`? Are you being randomly disconnected from a `Room`?

Please also provide the following.

- Video Android SDK Version
- Any logcat output when the instability occurs
- Room SIDs for which you see instability

[2017-04-27 03:50] ananth10 commented on #103
@aaalaniz can you answer above question ASAP?

[2017-04-27 04:09] #104 closed

[2017-04-27 04:10] #102 closed

[2017-04-27 04:10] #95 closed

[2017-04-27 04:11] #94 closed

[2017-04-27 04:12] aaalaniz commented on #106
Hey @iorikingdom

Can you try the 1.0.0 release and see if you are still experiencing problems?

Thanks!

[2017-04-27 04:22] aaalaniz commented on #103
Hi @ananth10

You can use `Room#getStats` API to query the statistics for audio and video tracks being shared to a `Room`. In terms of customization, we allow specifying `VideoConstraints` when creating a `LocalVideoTrack`. The snippet below demonstrates how to create a `LocalVideoTrack` that captures at only 720p.

[code]

[2017-04-27 04:32] ananth10 commented on #103
@aaalaniz  Thanks.
1. Should i use Room#getStats api or is not there any default method in SDK to know about the FrameRate and FrameSize?.

2. Is it possible to modify FrameSize and FPS ?. if it is then how can i do it?

[2017-04-27 04:39] aaalaniz commented on #103
Frame size directly corresponds to the resolution at which you capture frames. We also support specifying a minimum or maximum FPS.

Here is an example of a camera capturer that captures at 352x288 between 5 and 15 FPS.

[code]

[2017-04-27 04:44] ananth10 commented on #103
@aaalaniz  Thanks. So different mobile has different resolution. so i will get different framesize and FPS.

can i set it optimal ? like common frame size and FPS for All the mobiles .

[2017-04-27 04:51] aaalaniz commented on #103
The default capturing resolution for CameraCapturer on all devices in SDK is 640x480@30 FPS. We find that this resolution and framerate covers the majority of use cases. If the device's camera does not support this resolution the SDK will capture at the closest format to 640x480@30 FPS.

[2017-04-27 04:54] ananth10 commented on #103
@aaalaniz  Thanks . i will try with VideoConstraints. if i have any doubts then i will come back here.

[2017-04-27 05:08] bubomancer commented on #106
I was having the same problem yesterday, will try with the new libraries.  On a related note, what is the proper way to migrate from Configuration Profile SID to Room Setting usage @aaalaniz ?

[2017-04-27 07:23] iorikingdom commented on #106
Hi @aaalaniz

I try the 1.0.0 release version. But the problem is not solved yet.
The problem is same

1.0.0 release

We try to find out the error logs from logcat.
Just one error log about twilio video library.

04-27 15:34:11.546 27299-27377/com.comsty.talker.tablet E/chromium: [ERROR:child_thread_impl.cc(762)] Request for unknown Channel-associated interface: ui::mojom::GpuMain

The UNIQUE NAME

[2017-04-27 14:02] aaalaniz commented on #103
Thanks @ananth10

I'm closing ticket. Please reopen if you have further questions.

[2017-04-27 14:02] #103 closed

[2017-04-27 14:17] aaalaniz commented on #106
Hey @bubomancer

Can you file a separate issue? It makes things easier to track. Thanks!

[2017-04-27 15:16] aaalaniz commented on #106
Thanks @iorikingdom

I will take a look at these Room SIDs. Can you describe what is happening? Are you being disconnected from Rooms?

We did deploy a backend update Tuesday (4/25/2017) that enforces "single point of presence" for participants. This means that if you connect to a `Room` with the same identity on two different devices you will be disconnected from one device when you connect on th

[2017-04-27 15:19] jojape opened #109 "When the 2nd user connect to a room the 1st is disconnected"
Hello,

I am testing the VideoCalls and since 2 days ago I can't establish connection between two users. I've tried with the quickstart too and I have the same issue.

1. User grant connection to TEST room (successful)
2. User2 grant connection to TEST room (successful)
2.1 User is disconnected
2.2 User2 is still connected (until I press "Hang up" button)

I can see the logs in the dashboard (with

[2017-04-27 15:23] aaalaniz commented on #109
Hey @jojape

We deployed a backend update Tuesday (4/25/2017) that enforces "single point of presence" for participants. This means that if you connect to a Room with the same identity on two different devices you will be disconnected from one device when you connect on the other. We have had some customers who were reusing the same identity for participants report being disconnected. Please be su

[2017-04-27 17:26] idelgado commented on #97
Please open a new issue if you have additional comments regarding this topic.

[2017-04-27 17:26] #97 closed

[2017-04-27 17:36] idelgado commented on #62
Please let us know if you have additional questions about recordings.

[2017-04-27 17:36] #62 closed

[2017-04-28 01:52] vnext-tungns commented on #62
@idelgado Thank you a lot, let us try it.

[2017-04-28 07:56] ananth10 commented on #103
@aaalaniz Can you give me some more information?
1. What is the current color format ?
2. What is the current color depth?

Actually we need to set  4:2:0 color format. and we need to set 10 as color depth. so how can i change color format and color depth?

[2017-04-28 09:47] ananth10 opened #110 "What is the current color format of Video Frame?"
@aaalaniz #103 continue here.

1. What is the current color format ?
2. What is the current color depth?

Actually we need to set 4:2:0 color format. and we need to set 10 as color depth. so how can i change color format and color depth?

[2017-04-28 12:28] ananth10 opened #111 "Recording was not found"
I have created room using **https://video.twilio.com/v1/Rooms** API

**Input params :**

type : "group"

UniqueName : "113975523469712233660_102849168379394405305"

RecordParticipantOnConnect : True

**Output Response**

[code]
Then i tried to get recording list using SID(above response) . like this
https://video.twilio.com/v1/Rooms/RMa91dfc8a5e036aa0562fbd0d9570b954/Recordings

but got below resp

[2017-04-28 14:23] aaalaniz commented on #73
Hey @FranziscaZarrai

Can you try updating to our 1.0.0 release? Please let us know if you are still experiencing crashes in the latest release and we will diagnose.

Thanks

[2017-04-28 14:51] aaalaniz commented on #111
I've reported this problem to our team and @kedartoraskar will help you through this issue.

Thanks

[2017-04-28 15:19] aaalaniz commented on #110
Hey @ananth10

The `CameraCapturer` captures frames in [NV21 format](https://developer.android.com/reference/android/graphics/ImageFormat.html#NV21). YUV 4:2:0 planar image, with 8 bit Y samples, followed by interleaved V/U plane with 8bit 2x2 subsampled chroma samples.

We do not support changing the capture format of `CameraCapturer`. You can implement a custom `VideoCapturer` where you specify

[2017-05-01 02:39] bubomancer opened #112 "App crashes upon startup before accepting permissions"
With the recent update to the quickstart app, the following error occurs for first time installs:

FATAL EXCEPTION: main
                                                                             Process: com.twilio.video.quickstart, PID: 12481
                                                                             java.lang.RuntimeException: Unable to resume activity {com.twilio.video.quic

[2017-05-01 09:51] iorikingdom commented on #106
This is the point ,I fix the code at server side ,It became working
Thank a lot.

[2017-05-01 09:51] #106 closed

[2017-05-01 14:31] aaalaniz commented on #110
@ananth10 closing this issue. Open a new ticket if you have any more questions about frame format.

[2017-05-01 14:31] #110 closed

[2017-05-01 14:31] aaalaniz commented on #109
Hey @jojape

Were you able to resolve this issue? Let me know if I can provide any assistance diagnosing the problem.

[2017-05-01 14:57] aaalaniz commented on #112
Hey @bubomancer

Thanks for reporting this issue. I submitted a PR that should resolve this problem.

[2017-05-01 18:09] jojape commented on #109
Yes @aaalaniz :)

Thx so much!

[2017-05-01 18:09] #109 closed

[2017-05-02 03:53] ktoraskartwilio commented on #111
Hi @ananth10

Recordings is in Developer Preview. As we notified earlier, 'any data captured by Twilio during the Developer Preview may be deleted (this includes recorded media files)'.

I apologize for the inconvenience. We have been testing our services and getting them ready for our upcoming public beta which is just round the corner.

Thanks,

[2017-05-02 15:05] Sunilkumarr opened #114 "Is there any way to audio routing to speaker or headset"
Before i was using sdk`  compile "com.twilio:video-android:1.0.0-beta10"` then i migrated to new version `compile "com.twilio:video-android:1.0.0"`  i cant see this option  in latest
 videoClient.setAudioOutput(on ? AudioOutput.SPEAKERPHONE : AudioOutput.HEADSET);

Before i was using this below code :

[code]

    private void setSpeakerphoneOn(boolean on) {
        if (room == null) {

[2017-05-02 15:30] #112 closed

[2017-05-02 15:41] aaalaniz commented on #105
@dreamerns investigated this issue and I believe we fixed this bug in 1.0.0-beta16. Waiting on confirmation from developer who originally reported issue.

[2017-05-02 21:18] aaalaniz commented on #114
Hey @Sunilkumarr

We removed this functionality from the SDK so developers can manage their own audio output. We have a [guide for configuring audio output](https://www.twilio.com/docs/api/video/configuring-audio-video-inputs-and-outputs#selecting-a-specific-audio-output).

Here is a snippet that changes the audio output

[code]

[2017-05-02 21:18] #114 closed

[2017-05-02 22:31] xhuatli opened #115 "How to reduce the resulting binary size due to using twilio video library?"
Hello,

After adding twilio video library and built a simple video chat experience (following the example), I noticed my app's binary size got about 40MB increase, which is very large. Is there anyway to shrink it down? Notice the size issue will affect pretty much all developers who are using this library.

Thanks,
Xin

[2017-05-02 22:34] idelgado commented on #115
See https://github.com/twilio/video-quickstart-android/blob/master/README.md#reducing-apk-size

[2017-05-03 09:39] Sunilkumarr commented on #114
@aaalaniz Thanks its working

[2017-05-04 06:35] kvikrama commented on #111
@ktoraskartwilio how do we test our API's that are used to fetch the video's ?

[2017-05-05 10:50] gtRfnkN commented on #79
This would also be great during the call to show changing connection speed to the user.

[2017-05-05 21:44] ktoraskartwilio commented on #111
Hi @kvikrama

The REST resource to fetch the video recordings will be available soon. I am hoping we can land it by the end of next week. Kindly bear with us during this preview period.

Thanks,

[2017-05-10 16:46] #115 closed

[2017-05-10 16:58] aaalaniz opened #116 "Disconnecting from a Room that is not connected sometimes results in crash"
We are sometimes seeing crashes when disconnecting from a Room that has not reached the connected state.

**Stacktrace**

[code]

**Workaround**

The SDK should allow disconnecting from a Room before being connected, but if you are experiencing this issue we recommend waiting for the `onConnected` callback before calling disconnect.

[2017-05-10 17:02] aaalaniz commented on #73
I'm going to close this issue. @FranziscaZarrai Please open a new issue if you encounter any new problems.

Thanks!

[2017-05-10 17:02] #73 closed

[2017-05-10 17:04] #105 closed

[2017-05-12 06:00] kvikrama commented on #111
Hi @ktoraskartwilio and team,

  Any progress on this ??

[2017-05-12 17:41] kvikrama commented on #98
@dreamerns , Twilio Team.

   This feature is required in our product. We are mirroring screen to TV and we need audio to be mirrored as well. Request you to prioritise the ticket and address the issue.

[2017-05-12 19:02] idelgado commented on #98
As far as I can tell, with my fairly limited knowledge of the google cast sdk it relies on the Android `android.media.MediaPlayer` to broadcast the audio to the google chromecast. Unfortunately webrtc does not use `android.media.MediaPlayer` to output media.

There might be a way to capture the webrtc AudioTrack audio and provide it to the MediaPlayer but this is outside the scope of what we curre

[2017-05-12 19:21] idelgado commented on #98
I see you've posted this https://github.com/googlecast/CastRemoteDisplay-android/issues/25. This would have been useful information to share in your comment.

We'll take another look with this new information and see if we can route the audio in that mode.

[2017-05-13 07:41] kvikrama commented on #98
Thanks @idelgado

[2017-05-17 02:46] rfbrazier commented on #111
@kvikrama As @ktoraskartwilio, that URL isn't available yet, but here's an easier way to get the Recordings you need:

[code]

You can also use a Track SID or a Participant SID in the query, for example:

[code]

or

[code]

Let us know if you have any questions on this. Thanks!

[2017-05-17 17:41] desaivishal11 commented on #78
I am having the same issue. Getting below error.

[2017-05-19 13:19] kvikrama commented on #98
@idelgado , team, Any update on this item ?

[2017-05-19 16:05] kvikrama opened #119 "noise when using speaker mode"
Hi,

   We are using speaker mode for communication. Often we get noise because of feedback between mic and speaker.
Please get this fixed ASAP. Using speaker is the regular mode of operation for us.

[2017-05-19 16:15] aaalaniz commented on #119
Hi @kvikrama

Does the feedback occur on certain devices? We are actively investigating audio inconsistencies in our own internal application as well. Can you share a snippet of how you are configuring the `AudioManager`?

Thanks

[2017-05-19 16:32] kvikrama commented on #119
@ananth10 please give the code snippet to Aaron.
@aaalaniz we started the code from https://github.com/twilio/video-quickstart-android/tree/master/exampleCustomVideoRenderer. Should be same as what we see there.

[2017-05-20 13:45] #90 closed

[2017-05-22 04:26] ananth10 commented on #119
@aaalaniz  i have enabled the speaker using AudioManager . see below code

[code]

[2017-05-22 04:40] dreamerns commented on #98
@kvikrama I integrated google cast in our demo app using remote display api (https://developers.google.com/cast/docs/remote) and hit the same roadblock. Video is displaying, but audio is not mirroring to cast device. My initial thought was that OpenSL ES might play audio differently and prevent REMOTE_SUBMIX to pick it up, so I tried forcing WebRTC to always use Java AudioTrack. I also tried chang

[2017-05-22 05:09] kvikrama commented on #98
@dreamerns Thanks for the info.
Is Twilio team planning to change this in SDK ??

[2017-05-22 10:07] aaalaniz commented on #98
Hey @kvikrama and @ananth10

As @idelgado previously mentioned, playing audio through `MediaPlayer` is outside the scope of our current road map, so we will not be making this change in the SDK anytime soon. I recommend following up with Google Cast team for help publishing audio without using `MediaPlayer`.

[2017-05-22 10:13] aaalaniz commented on #119
Thanks for the snippet @ananth10

In terms of turning speakerphone on, the snippet looks correct. However, please be sure you are configuring the `AudioManager` the same way we [demonstrate in the quickstart module](https://github.com/twilio/video-quickstart-android/blob/master/quickstart/src/main/java/com/twilio/video/quickstart/activity/VideoActivity.java#L650). Let me know if you still experien

[2017-05-22 15:17] jojape opened #120 "When the 2nd user connect to a room the 1st is disconnected (automatically)"
Hello,

I have the same issue than some weeks ago (https://github.com/twilio/video-quickstart-android/issues/109#issuecomment-297747645). But now I am generating the access tokens using the API.

Process:
1. User grant connection to TEST room (successful)
2. User2 grant connection to TEST room (successful)
2.1 User is disconnected
2.2 User2 is still connected (until I press "Hang up" button)

- Bo

[2017-05-22 16:13] aaalaniz commented on #120
Hey @jojape

Can you validate that you are using unique identities for each token? Below are two examples of tokens with unique identities.

[code]

[2017-05-22 19:55] jojape commented on #120
I didn't use unique identities.
Thx so much again :)

--
Jorge Jaramillo

On 22 May 2017 at 18:13:55, Aaron Alaniz (notifications@github.com) wrote:

[2017-05-22 20:30] aaalaniz commented on #120
Glad to help!

[2017-05-22 20:30] #120 closed

[2017-05-30 05:28] sdharmarajah opened #121 "Reconnecting to a room - Video freezes if user minimizes then restores app"
We have noticed that if a user **minimizes, then restores** the app when a video channel is in progress, the video freezes

Is there some _"channel resume feature"_ we need to implement, to prevent this from happening?

Thank you

[2017-05-30 17:35] aaalaniz commented on #121
Hey @sdharmarajah

Are you seeing this issue in the quickstart or your own application?

Thanks!

[2017-06-01 23:10] aaalaniz commented on #119
Hey @ananth10 and @kvikrama

Did configuring `AudioManager` correctly resolve your issues?

[2017-06-01 23:11] aaalaniz commented on #111
Hey @ananth10

We were you able to resolve your issue using @rfbrazier 's suggestion?

[2017-06-01 23:12] aaalaniz commented on #121
Hey @sdharmarajah

Were you able to resolve this issue on your own? If so can you share your solution?

Thanks!

[2017-06-02 04:27] sdharmarajah commented on #121
Sorry for the late reply -

You were right - this only happens in OUR app - not the demo app

Thanks again for the stellar service Twilio !

[2017-06-02 04:27] #121 closed

[2017-06-04 15:26] kvikrama opened #122 "possible conflict with openGL in twilio video SDK"
Hi All,

  We have a code using openGL shaders and it's working fine standalone.
When we integrate it with the application where we are using twilio SDK we are seeing black screen.
Just found that twilio SDK also uses openGL.

Is there any bugs or some items we need to factor in when we use openGL with twilio SDK ?

[2017-06-05 15:19] aaalaniz commented on #122
Hey @kvikrama

There is currently no way to apply your own custom OpenGL shader to our `VideoView`. We have a task in our backlog to support this. Can you share any relevant snippets that demonstrate what you are trying to achieve? Also, please post any logs when you see the black screen. Thanks!

[2017-06-12 09:27] Tanktiger commented on #78
@ananth10 How did you solved this Problem?

[2017-06-13 04:36] ananth10 commented on #78
@Tanktiger You need to setup your own server. and configure TWILIO_ACCOUNT_SID,
    TWILIO_API_KEY,
    TWILIO_API_SECRET
in Token.php file.

[2017-06-13 05:31] Tanktiger commented on #78
I had setup my own Server and did the setup which is provided in the link you have posted

[2017-06-20 21:20] antross opened #125 "onVideoTrackRemoved not called onParticipantDisconnected"
Using Twilio Video SDK 1.0.2 for Android.

I have UI elements I need to dispose of when a video track is removed. However when `onParticipantDisconnected` fires, the `participant.getVideoTracks()` collection is already empty, yet I never received any calls to `onVideoTrackRemoved`.

The effect on my UI is very similar to #83, though that was resolved well before this build and may have a different

[2017-06-20 22:35] aaalaniz commented on #125
Hey @antross

Thanks for writing in. This is a bug in our SDK and I will begin working on a fix. The expected behavior should be that the audio and video tracks are available on the `Participant` even after the disconnect event is fired. This will allow you to clean up your UI elements accordingly. As a workaround, you can maintain a set of video tracks for each participant and clean up the UI ele

[2017-06-20 22:40] aaalaniz commented on #125
Correction. We have a `1.1.0` release pending. Expect the fix for this bug to be in `1.1.1`

Thanks!

[2017-06-20 22:44] antross commented on #125
Great, thanks for the quick response!

I'll move forward with the workaround and look forward to deleting some code once the fix is available. :)

[2017-06-22 06:47] samneolab opened #126 "A VideoCapturer must provide at least one supported VideoFormat"
Hi, sometimes I faced this exception and it caused crash. Could you help me to solve this one. Thanks a lot
`Caused by java.lang.IllegalStateException: A VideoCapturer must provide at least one supported VideoFormat
       at com.twilio.video.Preconditions.checkState(Preconditions.java:453)
       at com.twilio.video.LocalVideoTrack.create(LocalVideoTrack.java:70)
       at com.twilio.video.LocalV

[2017-06-22 14:52] aaalaniz commented on #126
Hey @samneolab

Unfortunately this stack trace is misleading. We typically see this stack trace when connection to the Camera fails. Do you only see this issue on certain devices? Are you interacting with the Camera API anytime before creating a LocalVideoTrack?

Thanks!

[2017-06-26 09:37] flamaniac opened #127 "VideoConstraints does not work."
VideoConstraints doesn't work. I try many configuration. Always recive sharp and smooth(fps) video in  participant app.
[code]

[2017-06-26 14:20] aaalaniz commented on #127
Hey @flamaniac

I will investigate these issues with the constraints provided. I have a couple follow-up questions.

- What version of the SDK are you using?
- What FPS and resolution are you observing with these constraints?

[2017-06-26 17:56] aaalaniz commented on #125
Hey @antross

We rolled this bug fix into our `1.1.0` release. We are doing final tests on this release tonight. I will notify you when it is available.

Thanks for your patience.

[2017-06-27 15:00] flamaniac commented on #127
I am usign1.0.2.
I don't know how to check Participants video details, but i clearly see that when I set 5 or 15 fps for user "A" , user "B" is getting from him video stream at least at 30 fps.

[2017-06-27 16:11] aaalaniz commented on #61
Hey @ckoessler

Apologies for the massive delay. We have shipped support for the Camera2 APIs in the `1.1.0` release. Can you try using our `Camera2Capturer` to with the Nvidia Shield?

Thanks!

[2017-06-27 16:29] aaalaniz commented on #127
Hey @flamaniac

I'm seeing some inconsistent behavior in our video constraints as well. I'll provide updates on this ticket.

Thanks!

[2017-06-27 18:05] aaalaniz commented on #125
Hey @antross ,

This bug has been fixed in `1.1.0`.

Thanks for reporting it!

[2017-06-27 18:05] #125 closed

[2017-06-28 04:52] namhv commented on #127
How to use max camera setting?

[2017-06-28 13:20] aaalaniz commented on #127
Hey @namhv

Please file a separate issue.

Thanks!

[2017-06-28 22:18] erito commented on #126
@aaalaniz We're seeing this same stacktrace as well.  We dont appear to be doing anything besides initializing the CameraCapturer before attaching the local media.  Our most problematic devices seem to be the LG G Vista and LG L70.

[2017-06-28 22:24] aaalaniz commented on #126
Thanks for writing in @erito

Do you see this crash occur every time or intermittently on these devices? I also noticed you mentioned local media. What version of the SDK are you using?

[2017-06-28 23:44] aaalaniz opened #132 "LocalParticipant release method is public"
### Description

`LocalParticipant#release()` is a public method when it should be package. **Do not invoke this method from your applications.** We will be fixing this issue in `2.0.0-preview1`.

### Versions

All relevant version information for issue.

#### Video Android SDK

[1.0.0, 1.1.0]

[2017-06-29 01:30] namhv commented on #127
Sorry, I found the Twilio API which supported get camera VideoContraints.

[2017-06-29 02:56] erito commented on #126
We're running 1.0.2.  That was incorrect when I mentioned LocalMedia, we're attaching the `CameraCapturer` via the static `LocalVideoTrack.create(...)` method.  It seems to happen consistently with users on those devices, as its a very high crash/user ratio (~7 for every user affected), which seems to indicate it crashes every time they attempt to join a call.

[2017-06-29 13:39] aaalaniz commented on #126
Hey @erito

This is all very helpful information. We have seen this crash occur intermittently on some devices. I will have one of these devices ordered and see if I can reproduce and come up with a bug fix or suitable workaround. Do you mind sharing a snippet of how you are setting customer `VideoConstraints` ?

Thanks!

[2017-06-29 17:01] erito commented on #126
Sure, heres the function that initializes the LocalVideoTrack.

[code]

[2017-06-29 17:02] aaalaniz commented on #126
Kotlin! Nice

Thanks @erito !

[2017-06-30 17:42] mcorner commented on #76
It would be great it if it just did the sensible thing by default (prioritize headsets over the speaker).  What is is set to do by default now?  We are tracking down some audio problems in our app and this might be the cause.

[2017-06-30 23:13] idelgado commented on #87
We recently added an example in our repo showing how to register and send push notifications to invite other participants to video rooms.

https://github.com/twilio/video-quickstart-android/tree/master/exampleVideoInvite

While this example uses Twilio Notify, inviting can be accomplished using other push channels as well.

[2017-07-02 00:03] mcorner commented on #126
We are running into this sporadically as well.  We were on 1.0.0 when the errors occurred, but we have just upgraded to the latest so we will find out if it is still a problem.

We saw this on these two devices:
Lenovo TB3-730F
QTASUN1

If there are any effective mitigation strategies, let us know.  Could we catch and retry the create?

[2017-07-03 11:05] flamaniac commented on #127
@aaalaniz Can you estimate when will it be  fixed? (in nearest release or it is bigger problem?)

[2017-07-03 13:28] AnkanDey88 opened #133 "The SDK does not support locally recording audio and video tracks"
I am using twilio for video multiparty chat. Now I want to save the local video track into SD-Card. Anybody please drop any suggestion.

[2017-07-03 21:35] aaalaniz commented on #76
Thanks for the feedback everyone. We added a few tasks to our backlog to accommodate this feature. I will update the ticket when we start the work.

Thanks!

[2017-07-03 21:42] aaalaniz commented on #133
hey @AnkanDey88

I recommend using the recording feature of our Group Rooms product. You can find the documentation on how to use our REST API [here](https://www.twilio.com/docs/api/video/rest) and a walkthrough of the recording feature [here](https://www.twilio.com/docs/api/video/recordings-resource). Let me know if you have any other questions.

Thanks!

[2017-07-03 21:52] aaalaniz commented on #127
Hey @flamaniac

I'm working on this bug this week. Expect a fix in `1.1.1` release. I will update the ticket when I have a better idea of the timeline.

Thanks!

[2017-07-03 21:53] aaalaniz commented on #126
Hey @samneolab @erito and @mcorner

I'm working on this issue this week. Expect either a fix in `1.1.1` or a workaround soon.

Thanks!

[2017-07-04 08:07] Sotatek-TuyenLuu opened #134 "Support multiple participants"
My app needs to support multiple participants at the same time. So I wonder which is the max number of participants can join a room? Anybody can help me to figure it out? Thanks

[2017-07-04 08:14] AnkanDey88 commented on #133
Thanks for the help.
But the thing is that I only want to save local video track for any particular participant on a click of a button in the UI(Actually I want to save multiple clips on button click).

Please post any suggestion on that. Thanks in advance.

[2017-07-07 16:53] idelgado commented on #134
@Sotatek-TuyenLuu We support up to 10 participants in P2P rooms and up to 50 participants in Group Rooms. If you are planning to share video in your Room I would suggest you use Group Rooms. This is the default in the video console.

[2017-07-07 16:56] aaalaniz commented on #133
Hey @AnkanDey88

Sorry for the delay. Did you want to record audio as well or are you just interested in capturing the video frames to a file? What file type are you wanting to save as?

Thanks!

[2017-07-07 18:20] aaalaniz commented on #127
We identified and fixed a couple issues in our VideoConstraints logic. Expect a `1.1.1` some time next week.

[2017-07-08 10:30] lucjac opened #135 "Access Raw Buffers from AudioTrack"
Will there be a way to access Raw Buffers from AudioTrack as it is possible on iOS since the 1.2.0 release?
This is basically the same as https://github.com/twilio/video-quickstart-swift/issues/104 but for Android. Accessing the audio buffers would be great to do some further processing on them like speech recognition.

[2017-07-09 03:13] AnkanDey88 commented on #133
Hello @aaalaniz
Thanks for your reply. I wanted to record audio and video both.
Thanks.

[2017-07-10 11:42] rajesh1158 opened #136 "No audio in the video recording"
### Description

I have a react native app set up to get an access token for programmable video using a VideoGrant to a unique room name. My room setting is set to automatically start recording when a participant joins. At the end of the video session, Twilio calls the callback url which I set up in the Twilio console. I get the video recording as a download, but when I play it I do not hear audio

[2017-07-10 14:09] aaalaniz commented on #133
Hey @AnkanDey88

We do not currently support client-side recording of audio and video. However, you highlight a compelling use case for our [Recording feature](https://www.twilio.com/docs/api/video/recordings-resource). We do not currently support recording participant media after connecting to a Room. I will discuss with our team and provide updates on this ticket.

Thanks!

[2017-07-10 14:26] AnkanDey88 commented on #133
Thank you for the update. Looking to hear back you again.

On Mon, Jul 10, 2017 at 7:39 PM, Aaron Alaniz <notifications@github.com>
wrote:

--

*Thanks & Regards,**Ankan Dey*

*Android Application Developer*

*Skype: ankan.unified*

*Unified Infotech Pvt Ltd.WEBEL, STP 2, 1st Floor, Block – DN , Plot –
53Sector - V, Salt Lake City, Kolkata-700091, India*

[2017-07-10 14:31] aaalaniz commented on #135
Hey @lucjac

I will collaborate with @ceaglest to add similar functionality to our Android SDK. Is there a particular framework you plan on using for speech recognition? Please provide any and all details about your use case.

Thanks!

[2017-07-10 15:18] aaalaniz commented on #136
hey @rajesh1158

What you are observing is currently the expected behavior of our Recording feature. Each audio and video track is recorded as a separate resource. We do not currently provide a participant's muxed and audio and video track as a recording resource. Can you provide more details about your use case? I will notify our backend team of your request as well.

Thanks!

[2017-07-10 15:42] aaalaniz commented on #136
I have follow-up @rajesh1158

We are currently working on a composition API where developers can request muxed audio and video recordings. This functionality should be available later this year. For your immediate needs, we encourage developers to try using [FFmpeg](https://ffmpeg.org/). @ktoraskartwilio Can provide more details on how to use ffmpeg to mux audio and video recordings.

Thanks!

[2017-07-10 16:53] rajesh1158 commented on #136
I downloaded the audio recording as a .mka file. But I do not hear any voice as the media plays. What could be the issue?

[2017-07-10 18:16] rajesh1158 commented on #136
@aaalaniz  The use case I am working on is to show the video conferencing recording at the end of a video conference session. With the Twilio programmable video sdk, I was able to create an app with video conference feature (2 participants, in a room). At the end of the session, I want to show a single recording which has both audio and video of both participants, kind of like how television news

[2017-07-10 21:04] aaalaniz commented on #136
Hey @rajesh1158

Thank you for the additional details. I am able to reproduce the audio issue you are describing locally. I will notify our media server team and get back to you.

Thanks!

[2017-07-10 21:49] aaalaniz commented on #136
Hey @rajesh1158

Apparently the audio files are only playable on [Elmedia Player](https://mac.eltima.com/media-player.html). I've requested our media server team provide additional documentation to our [Recording page](https://www.twilio.com/docs/api/video/recordings-resource) that provides additional guidance for developers interested in local playback of their recordings. I'll update this ticket

[2017-07-11 02:55] namhvcntt opened #138 "VideoView.renderFrame frame.yuvPlanes is null"
CustomVideoView
`public class CustomVideoView extends VideoView {
    public CustomVideoView(Context context) {
        super(context);
    }

    public CustomVideoView(Context context, AttributeSet attrs) {
        super(context, attrs);
    }

    @Override
    public void renderFrame(I420Frame frame) {
        Log.e(VIEW_LOG_TAG, "Frame: " + (frame == null));
        ByteBuffer[] yuvPlanes = f

[2017-07-11 09:47] flamaniac commented on #127
Great! I have tested version 1.1.1.
Resolution limit seems to work fine but fps limit doesn't.
Tested on one plus one.

[2017-07-11 14:54] #134 closed

[2017-07-11 14:55] aaalaniz commented on #111
Closing due to inactivity

[2017-07-11 14:55] #111 closed

[2017-07-11 14:57] aaalaniz commented on #127
Hey @flamaniac

Are you using a max FPS of 5 as noted in your original post? Can you send me a full log from the one plus one?

Thanks

[2017-07-11 14:59] aaalaniz commented on #126
I am now able to reproduce this issue. I am still putting together a workaround. We went ahead and released `1.1.1` without a fix for this issue. Expect a workaround in `1.1.2`.

Appreciate everyone's patience.

[2017-07-11 15:01] aaalaniz commented on #98
Closing because there is nothing actionable Twilio can do for this ticket.

[2017-07-11 15:01] #98 closed

[2017-07-11 20:51] aaalaniz commented on #138
Hey @namhvcntt

`I420Frame#yuvPlanes` can be null in the event that the frame is decoded from a texture. See the comment in our [custom renderer example](https://github.com/twilio/video-quickstart-android/blob/master/exampleCustomVideoRenderer/src/main/java/com/twilio/video/examples/customrenderer/SnapshotVideoRenderer.java#L47). We currently decode a Participant's video to a texture and as a resu

[2017-07-11 21:03] AlejandroHCruz commented on #126
Any estimated release date for 1.1.2? :)

[2017-07-11 21:06] aaalaniz commented on #126
One more update....

I think I have a fix for this issue. I deprecated a method in this sprint so going to skip a `1.1.2` and go to `1.2.0`. This fix will be available in `1.2.0`.

Release will be as early as tomorrow and no later than Friday.

Thanks everyone.

[2017-07-11 21:14] AlejandroHCruz commented on #126
Amazing @aaalaniz !! Thank you for your help and keeping us posted

[2017-07-12 05:00] namhv commented on #138
How can I change Video bright?

[2017-07-12 13:33] aaalaniz commented on #126
`1.2.0` has been release. Please update your applications and report if the issue persists. Also, a friendly reminder that all `LocalVideoTrack` instances created with `CameraCapturer` or `Camera2Capturer` must be released in order for the camera resource to be freed. See snippet below:

[code]

[2017-07-12 13:40] aaalaniz commented on #132
We deprecated the `LocalParticipant` release method in `1.2.0`. This method is safe to call in `1.2.0` because it is a no-op. I will leave this issue open until the method is officially removed in `2.0.0-preview1`

[2017-07-12 14:41] kesh-1139 commented on #92
I am getting the same error when creating VideoTrak. I am using twilio-video 1.0.1. Can you please let me know what is going wrong?

[2017-07-12 15:02] kesh-1139 commented on #126
@aaalaniz I am seeing the issue even after upgrading the version to 1.2.0. I am facing the error after the phone goes to background and comes to foreground. When the phone goes to background I am releasing the localVideoTrack and I am making it null and then I am trying to create the localVideoTrack when phone comes back by using the following code:

LocalVideoTrack.create(mContext, true, va.camer

[2017-07-12 15:04] aaalaniz commented on #126
Hey @kesh-1139

What device are you seeing this on and can you provide a full log? Thanks

[2017-07-12 15:08] kesh-1139 commented on #126
@aaalaniz  I am able to get the log only with one device that is moto e1 and the crash log is as follows

java.lang.IllegalStateException: A VideoCapturer must provide at least one supported VideoFormat
at com.twilio.video.Preconditions.checkState(Preconditions.java:453)
at com.twilio.video.LocalVideoTrack.create(LocalVideoTrack.java:70)
at com.twilio.video.LocalVideoTrack.create(LocalVideoTrack.j

[2017-07-12 15:13] kesh-1139 commented on #126
@aaalaniz if I do not make localVideoTrack null before going to background, the app does not crash but video does not start and it freezes in the previous state.

[2017-07-12 15:18] aaalaniz commented on #126
@kesh-1139 Can you provide the following information:

1. Can you confirm that this problem occurs for you even before `1.2.0` release? I want to make sure a regression wasn't introduced.
2. What version of Android is running on the devices you see the crash on?
3. Can you post a snippet of your `onResume/onPause` logic? (or whatever lifecycle methods you are creating and destroying the video trac

[2017-07-12 15:29] kesh-1139 commented on #126
@aaalaniz  Please find the information asked below:

1.  Yes. I was seeing the issue before 1.2.0 release. Since you had updated the issue is fixed in 1.2.0, I updated and checked the issue in 1.2.0

2. I have two devices Moto G3 - Version 6.0.1 and Asus Zenfone1 - Version - 7.1.1

3. Please find the code snippet used:

I have written the following code in onStop instead of onPause:

 public void

[2017-07-12 15:34] kesh-1139 commented on #126
@aaalaniz  Please let me know if you need more details.

[2017-07-12 15:36] aaalaniz commented on #126
Hey @kesh-1139

I have two recommendations.

1. Remove `cameraCapturer.stopCapture()`. When you release `localVideoTrack` the camera capturer will be stopped appropriately.
2. I recommend scoping your `localVideoTrack` setup and teardown logic to symmetric lifecycle methods. In other words, if you create the local video track in `onResume` then release it in `onPause`. If you prefer to create in `

[2017-07-12 15:40] kesh-1139 commented on #126
@aaalaniz  I will update my code with your recommendations and will update you. Thanks for your help.

[2017-07-12 16:29] kesh-1139 commented on #126
@aaalaniz  I have tried your recommendations. I have tried releasing in onPause and creating it in onResume. But its still crashing.

[2017-07-12 16:33] aaalaniz commented on #126
Hey @kesh-1139

At this point I absolutely need a log because I see nothing wrong with the snippets you provided. Have you tried using `adb logcat -d` ?

[2017-07-12 17:19] kesh-1139 commented on #126
Hey @aaalaniz  I have tried with everything possible I am not getting the crash log. I will update you with some more details sooner.

[2017-07-12 22:41] erito commented on #126
@aaalaniz Great!  Will update in our next minor release.  Did the problem stem from not releasing the LocalMediaTrack?

[2017-07-12 22:46] aaalaniz commented on #126
Hey @erito

There was a race between the teardown of the video track and the releasing of the camera. There were some cases where the camera was not properly released while tearing down the track. The problem would then manifest as a failure to connect to the camera service. The changes in `1.2.0` should fix this race and provide a clearer error message when the camera service cannot be reached in

[2017-07-13 02:09] namhvcntt opened #140 "VideoCall make camera more bright"
We are building a video call application and we choose Twilio for video call. But we want to change video bright, color. Can you provide some code which makes video more bright? Else, can you tell me how to do it?
Thanks.

#### Video Android SDK

[eg. 1.1.0]

#### Android API

[eg. 21]

#### Android Device

[eg. Nexus 5]

[2017-07-13 14:40] aaalaniz commented on #138
Closing because the issue reported is expected behavior in some cases and we have [an example](https://github.com/twilio/video-quickstart-android/blob/master/exampleCustomVideoRenderer/src/main/java/com/twilio/video/examples/customrenderer/SnapshotVideoRenderer.java#L72) to demonstrate how to work with in-memory frames and frames represented as textures.

[2017-07-13 14:40] #138 closed

[2017-07-13 14:52] aaalaniz commented on #140
Hey @namhvcntt

Do you want to apply a brighter filter to the rendered video or are capturing video in low lighting?

We have received requests for adding image processing capabilities to our SDK, but it's not currently on our immediate roadmap.

If you just need some additional lighting I recommend checking out our [Advanced Camera Example](https://github.com/twilio/video-quickstart-android/tree/

[2017-07-13 14:55] namhvcntt commented on #140
@aaalaniz  I want to apply the color filter. Where can I add code to apply the color filter and can you suggest me a document to do it? Thanks/

[2017-07-13 15:19] aaalaniz commented on #140
Hey @namhvcntt

Unfortunately this is a non-trivial answer. I recommend using something like [OpenCV](http://opencv.org/platforms/android/opencv4android-samples.html) to process camera frames and write your own `OpenCVCameraCapturer` that allows you to apply filters on the frames that are shared to a Room.

[2017-07-14 03:05] namhvcntt commented on #140
I found VideoCapturerDelegate.initialize with code: `if(this.videoCapturer instanceof CameraCapturer) ` how can I modify VideoCaptureDelegate?

[2017-07-14 10:15] lucjac commented on #135
@aaalaniz thanks, that sounds great! I would actually just use it to record, encode and save the Audio from remote tracks locally in AAC Format. For this i would use Androids MediaCodec (https://developer.android.com/reference/android/media/MediaCodec.html). So it would be good the be able to access the audio frames as byte arrays or byte buffers, just like its already possible with the video fram

[2017-07-14 13:35] aaalaniz commented on #135
Thanks @lucjac

I will update this ticket with any information moving forward.

[2017-07-14 13:38] aaalaniz commented on #140
Hey @namhvcntt

`VideoCapturerDelegate` is not part of our public API. The object is created internally and cannot be modified from your application. Is there something you need from this class?

[2017-07-17 15:44] aaalaniz commented on #127
Hey @flamaniac

Closing due to inactivity. Note that not all cameras will be not be able to satisfy all FPS constraints provided. Please re-open if you have any further issues or details.

Thanks!

[2017-07-17 15:44] #127 closed

[2017-07-17 15:45] aaalaniz commented on #126
Closing for now. If anyone continues experiencing this issue after upgrading to `1.2.0` please re-open.

Thanks!

[2017-07-18 01:06] namhvcntt commented on #140
I created a CameraCapturer sub-class but on VideoCaptureDelegate it's check
`
public void initialize(SurfaceTextureHelper surfaceTextureHelper, Context context, CapturerObserver capturerObserver) {
        this.listenerAdapter = new VideoCapturerListenerAdapter(capturerObserver);
        if(this.videoCapturer instanceof CameraCapturer) {
            CameraCapturer camera2Capturer = (CameraCapturer

[2017-07-18 12:04] aaalaniz commented on #136
Hey @rajesh1158

The recording documentation has been updated with guidance for playing back recorded files.

[2017-07-18 12:04] #136 closed

[2017-07-18 13:56] aaalaniz commented on #140
Hey @namhvcntt,

We currently do not support capturing to a texture in our public Capturer API. We enable this functionality for our own capturers because of the efficiency gain. We do plan on supporting capturing to a texture as part of our public capturer API, but we have not finalized the API.

[2017-07-19 07:49] namhvcntt commented on #140
Can you tell me how to access Camera frame? It is not public!

[2017-07-19 15:34] aaalaniz commented on #140
Hey @namhvcntt

You can intercept the frames from `CameraCapturer`. Reference the following snippet.

[code]

[2017-07-24 10:50] kesh-1139 commented on #126
@aaalaniz  I am getting crash when starting video second time, after I stop video for the first time,
I will switch from Front to back camera, and then stop video and then will start again and I am getting crash

Below is my code which is producing crash:
[code]

Below are the logs:

[code]

Can you please help me with this one and let me know what wrong am I doing..

[2017-07-24 14:41] aaalaniz commented on #140
I'm going to close for now. Feel free to re-open if you have further questions.

[2017-07-24 14:41] #140 closed

[2017-07-24 14:43] aaalaniz commented on #126
Hey @kesh-1139

Can you share how you are stopping video? Are you calling `release()` on the `LocalVideoTrack` created with `CameraCapturer`?

Thanks

[2017-07-24 14:48] aaalaniz commented on #126
Hey @kesh-1139

Sorry, I mixed up users who have commented. Based on your previous snippets it does appear that you are calling `release()`. Let me make sure I understand the steps.

1. Start capturing with front camera
2. Switch camera to back camera
3. Stop capturing
4. Start capturing with back camera

[2017-07-26 03:09] kesh-1139 commented on #126
@aaalaniz  I am calling release when stopping video. When I start the video the camera capturer starts with front camera only and not from back camera

[2017-07-26 03:17] kesh-1139 commented on #126
Hey @aaalaniz  I am facing an issue in camera capturer, its not related to the above issue...
When we start video and turn the phone to landscape the video turns upside down, can you please let me know why is this happening

[2017-07-26 07:27] kesh-1139 commented on #126
Hey @aaalaniz I have fixed the second one. Thanks for your help.

[2017-07-26 13:37] aaalaniz commented on #126
Hey @kesh-1139

I have this issue in my sprint. I appreciate your patience as I figure out the problem.

I have a pretty nasty workaround you can try

Execute this right after being granted CAMERA permission from user but **before** creating a LocalVideoTrack.

[code]

[2017-07-26 13:49] kesh-1139 commented on #126
Hey @aaalaniz  Thanks a lot for the work around. Mentioned work around is for the crash right?

[2017-07-26 13:52] aaalaniz commented on #126
@kesh-1139 yes

[2017-07-26 14:17] kesh-1139 commented on #126
@aaalaniz  ok Thank you. Can you please provide me insights one the following crash:

[code]
Below is the code which is causing this crash and this is observed while closing the room

[code]

[2017-07-26 14:39] aaalaniz commented on #126
Hey @kesh-1139

Does this crash occur every time and on every device your app runs on?

[2017-07-26 15:14] kesh-1139 commented on #126
Hey @aaalaniz  Yes it happens every time and on all devices.

[2017-07-28 14:59] aaalaniz commented on #126
Hey @kesh-1139

I'm investigating the original issue you reported about the failure to connect to the camera service. I'm having trouble reproducing the issue. Can you provide the **exact** steps that reproduce this issue. Code snippets are always helpful and if it is a lot of code I recommend posting as a [Github Gist](https://gist.github.com/).

Also can you share the logic happening in this met

[2017-07-28 16:00] kesh-1139 commented on #126
Hey @aaalaniz

Following is the logic in the method call ```GlobalHandler.isFrontCameraPresent(activity)```

[code]

Before stopping video I am switching to back camera by the following method

[code]
Then when again I start the video I am getting this crash.

Video is released properly. The thread itself has my video release code in the above discussions.

If you need more details please let me k

[2017-07-28 16:25] aaalaniz commented on #126
Hey @kesh-1139

This is the test case that I have written. This test is currently passing on my devices and I think it is an accurate representation of the steps you are describing. A couple follow-up questions:

1. Are all of the calls you have posted executing on the main thread?
2. What device are you reproducing this issue on?

[code]

[2017-07-28 17:29] aaalaniz commented on #126
Also please post a full log so that I can trace the sequence of events @kesh-1139

Thanks!

[2017-07-28 17:29] aaalaniz commented on #126
Turn up the log level using the following snippet and post a log @kesh-1139

`Video.setLogLevel(LogLevel.ALL);`

[2017-08-05 17:05] kesh-1139 commented on #126
@aaalaniz  I am making another change along with your steps, after releasing the video track I am making ```localVideoTrack = null```, and also ```cameraCapturer = null```, before starting capturing for the second time. I am using old ```CameraCapturer``` class and not using ```Camera2Capturer``` class.

[2017-08-05 17:55] kesh-1139 commented on #126
Hey @aaalaniz

The work around is not working I am getting the same exception in the method cameraCapturer.getSupportedVideoFormats

[2017-08-07 05:29] sharmadhiraj commented on #61
Hello @aaalaniz

I am trying to integrate external USB camera with twilio video, but Camera2Capturer.isSupported always returns false.
I can not find what are the requirements for Camera2Capturer support anywhere.
Thanks !

[2017-08-08 00:22] fangzhzh opened #143 "Echo from app in Samsung Galaxy S7"
### Description
If we use app in Samsung Galaxy S7, other end will hear their own voice.

[Description of the issue]
App in Samsung Galaxy S7, app call phone number, connected, app side is ok, other side(phone) will here the echo of themselves. But When we use app in Nexus 5, other end doesn't have echo.

### Steps to Reproduce

1. [Step one]
Install app in Samsung Galaxy S7

2. [Step two]
Make a

[2017-08-08 00:31] fangzhzh commented on #143
this is for voice for android, I'll close it.

[2017-08-08 00:31] #143 closed

[2017-08-08 02:49] iorikingdom opened #144 "maxFps not working"
Our project consider using 3G/4G to video and voice calling in Japan.
I want to control the network traffic by maxFps parameters.
But when i setting maxFps to 10,24 or 30,It cost the same network traffic.
(About ↑10M ↓7M at one minute)

Android and iOS both of that have no effect by setting maxFps parameter.
I don't want to change the screen size, It is any other parameter for control network
traf

[2017-08-08 14:31] aaalaniz commented on #61
Hey @sharmadhiraj

You can find the documentation for `Camera2Capturer.isSupported` in the [javadoc](https://media.twiliocdn.com/sdk/android/video/releases/1.2.2/docs/com/twilio/video/Camera2Capturer.html#isSupported-android.content.Context-).

I need to update this ticket because we have since learned more about supporting USB cameras within our Video SDK. It is possible to support USB cameras wi

[2017-08-08 14:41] aaalaniz commented on #126
Hey @kesh-1139

Please post a complete log of when you are observing the crash. I cannot provide any further guidance until I see a log.

Thanks

[2017-08-08 15:05] aaalaniz commented on #144
Hey @iorikingdom

Unfortunately the application of `maxFps` varies by device. We are currently working on a bandwidth constraints API that will allow customers to control the amount of bandwidth used for publishing and receiving media. This feature is actively being developed and should be made available later this year.

[2017-08-08 21:39] erito opened #146 "Enable Flash for Camera2 Apis"
### Description

AFAIK there is no capability to enable the camera torch for users that are on Lollipop and above if you utilize the Camera2 Apis.  This puts us in the very odd situation of restricting a particular feature to an api level _and below_.  It would be nice if we could enable a "flashlight" feature for our users running the latest devices.  A quick search seemed to surface [the AOSP im

[2017-08-08 21:51] aaalaniz commented on #146
Hey @erito

You are correct. Unfortunately, `Camera2Capturer` does not support enabling flash right now. We are aware of the feature disparity between `CameraCapturer` and `Camera2Capturer` and do have tasks to close this gap. I will prioritize this task in our next sprint and will provide updates on this issue. I appreciate your patience.

Thanks!

[2017-08-11 05:31] sharmadhiraj commented on #61
@aaalaniz
I will try that.
Thanks !

[2017-08-18 22:43] erito opened #148 "Index out of Bounds exception with Camera2Capturer"
We recently updated our app to conditionally (on API version) load the Camera2Capturer for use in calling.  It seems to have fixed quite a few of the quirks we saw with foregrounding and backgrounding on newer devices, however one exception we've been getting shouldn't be happening at all:

`java.lang.IndexOutOfBoundsException: Empty list doesn't contain element at index 0.`

For a little backgrou

[2017-08-21 14:46] aaalaniz commented on #148
Hey @erito

This sounds interesting. Are you saying that `Camera2Capturer.isSupported` returns `true` on KitKat 4.4.2? Can you post the full stack trace?

Thanks!

[2017-08-21 16:48] erito commented on #148
Thats my first impression, yes (looking at the decompiled sdk makes that seems very unlikely, admittedly).

We have a wide range of devices this is affecting according to fabric they are all running 4.4.4 and below (that may be incorrect, though):

* Note 2
* Galaxy S5
* Tab Pro 10.1
* S4
* Droid Ultra

The stacktrace may not be as helpful as we use an internal array that takes the first two camer

[2017-08-21 17:49] aaalaniz commented on #148
Hey @erito

I have a Galaxy S5 that I develop with, so I will confirm the return value of `Camera2Capturer.isSupported()`. Let me confirm the current steps reproducing this crash.

1. Create `currentImp` or `kitKatImp`
2. Check `Camera2Capturer.isSupported`
3. Crash ?

How are you able to obtain an instance of `CameraManager` on pre-Lollipop devices? Is there anyway you can check `Camera2Capturer.

[2017-08-21 19:43] erito commented on #148
Step three would be to have the CameraCapturer2 implementation.

TBH, I'm not even sure.  We have seen `NoClassDef` found crashes in regards to this (which is more intuitive).  But the fact that this exception handles after querying the `CameraManager` makes this all the more perplexing.

I suppose so, I'm not sure how that would change the outcome?

[2017-08-21 21:31] #148 closed

[2017-08-21 21:34] erito commented on #148
I'm closing for now as I think this is an issue with our dependency injection implementation.  I'll reopen if we have anything else that might lead back to `Camera2Capturer`.

[2017-08-21 21:37] aaalaniz commented on #148
Sounds good @erito

Thanks for writing in!

[2017-08-23 21:16] aaalaniz commented on #126
I am closing this bug due to inactivity. Please reopen with a complete log. Thanks!

[2017-08-23 21:16] #126 closed

[2017-08-23 21:18] aaalaniz commented on #87
Please reopen if you have any further questions about using Notify to invite participants to a Room @sopnonill87

Thanks!

[2017-08-23 21:18] #87 closed

[2017-08-23 21:19] aaalaniz commented on #71
This feature is being developed and will be available in

[2017-08-31 11:49] tzafrir opened #149 "Add VideoView backed by TextureView"
### Description

When I test application on Nexus 6P I420Frame I have to use OES texture to get yuvPlanes using YuvConverter.
But something strange is happen when I try to use this converter for different views (first is local, second is remote).
Example:
[code]

And also, if I use another device where using frame.yuvPlanes everything is working excelent.

#### Expected Behavior

See remote video

[2017-08-31 13:11] aaalaniz commented on #149
Hey @tzafrir

This sounds like an interesting bug. Can you share how you are using `YuvConverter`? Also is your intent to implement a renderer based on `TextureView` instead of `SurfaceView`? I know `TextureView` is easier to use in a layout, so it makes sense that we add another renderer based on `TextureView`.

[2017-08-31 13:12] aaalaniz commented on #149
Also you can reference our [custom renderer example](https://github.com/twilio/video-quickstart-android/blob/master/exampleCustomVideoRenderer/src/main/java/com/twilio/video/examples/customrenderer/SnapshotVideoRenderer.java#L72) for proper use of YuvConverter.

[2017-08-31 15:26] niekvse commented on #99
@aaalaniz Could you give a status update on this bug? We're having a similar problem, where we get a howling feedback noise even using the AudioOptions with echoCancellation and noiseSuppression enabled. Note that we have audioManager.setSpeakerphoneOn(true), and other than this we use the example code from the CallActivity.

Were you able to have a video call with speaker sound enabled to a reaso

[2017-08-31 15:30] aaalaniz commented on #99
Hey @niekvse

Unfortunately echo on some devices is just a known issue at the moment. I recommend referencing our [Troubleshooting Audio](https://github.com/twilio/video-quickstart-android#troubleshooting-audio) article.  I recommend disabling hardware echo cancellation in cases where echo is really bad. Can you provide a list of devices that are producing bad echo?

Thanks!

[2017-09-01 08:21] PingForward commented on #84
I have the same issue on LG G5, lib version 1.3.0

[2017-09-01 10:56] tzafrir commented on #149
Yes, I have to use TextureView for renderer where using complex shader to draw final frames.
I can't use a SurfaceView for my renderer because a layout contains complex hierarchy of different elements and TextureView elements among them with overlay views.
A SurfaceView doesn't allow to implement that.

There is example how I use the YuvConverter:

[code]

[2017-09-07 11:51] dianm opened #150 "Local video issue"
Cannot see the local video until video icon is tapped.

[2017-09-07 12:51] PingForward opened #151 "NPE in addParticipantVideo"
### Description

If I answer the call and immediately minimize the app `onPause ` will be called before second participant will connect to room and then participantListener will be triggered and NPE will be thrown because localVideoTrack was set to null in onPause

### Steps to Reproduce

1. Open room as second partisipant
2. Immediately minimize the app (before first participant connected 0.5s)

[2017-09-07 14:50] aaalaniz commented on #151
Hey @PingForward

Thanks for the detailed steps to reproduce. I will submit a PR fixing this issue.

Thanks!

[2017-09-07 15:13] aaalaniz commented on #149
Hey @tzafrir

Sorry for the delayed response. Unfortunately, I do not see any issue with the use YuvConverter. Can you provide more details on how the TextureView is implemented? How are you directing frames to the TextureView?

I will mark this issue as an enhancement because it would be valuable to have a VideoView that is based on a TextureView.

Thanks!

[2017-09-07 15:19] aaalaniz commented on #150
Hey @dianm

Can you provide more details on this issue?

Thanks!

[2017-09-12 06:57] tzafrir commented on #149
Here's an example of how we implemented TextureView and GlDrawer, hopefully helpful for this issue: https://gist.github.com/tzafrir/772a62c861ac603e8fdbac1738030bde

[2017-09-12 12:55] tzafrir commented on #149
Our use case is of showing multiple participants in the room along with other UI elements such as photos and text elements.

If I am understanding correctly, this is unsupported in existing SDK?

Do you have a list of devices that must use surface texture instead of memory buffer? So we can exclude our app from those devices and have a working release, otherwise we cannot use Twilio at all in any

[2017-09-12 15:39] aaalaniz commented on #149
Hey @tzafrir

Allow me to clarify a few things:

1. The `VideoView` that ships with our SDK does allow for other UI elements along side in the view hierarchy (TextView, ImageView, etc). However, we have not tested the VideoView alongside elements such as a TextureView or other SurfaceViews, so you may be experiencing problems with your particular use case. If the `VideoView` prohibits you from imp

[2017-09-13 07:53] tzafrir commented on #149
Log attached:

[nexus6p-log.txt](https://github.com/twilio/video-quickstart-android/files/1298660/nexus6p-log.txt)

[2017-09-13 15:12] aaalaniz commented on #150
Hey @dianm

I'm closing this issue due to inactivity. Please re-open if you have additional details.

Thanks!

[2017-09-13 15:12] #150 closed

[2017-09-13 21:31] aaalaniz commented on #149
Hey @tzafrir

I appreciate your patience. I am investigating this issue the rest of the week. I will provide updates as I make progress.

Thanks!

[2017-09-13 21:34] aaalaniz commented on #71
This feature was shipped with 2.0.0-preview1. The PR to enable the use of codec preferences can be found here #153

[2017-09-13 21:34] #71 closed

[2017-09-13 21:35] aaalaniz commented on #132
Fixed in 2.0.0-preview1 release

[2017-09-13 21:35] #132 closed

[2017-09-13 21:37] aaalaniz commented on #144
Hey @iorikingdom

I recommend you check out our new Bandwidth Constraints API. We have added support for setting a max bit rate for sender audio and video. This feature is available as part of the 2.0.0-preview1 release. I recommend checking out the PR #154 for more details about how the API works.

We are continuing to iterate on our 2.x API so expect changes and improvements with more releases.

[2017-09-13 21:37] #144 closed

[2017-09-14 07:00] sudheeshdh opened #155 "Restrict Room creation in Android SDK"
Hello, how can I prevent creating new rooms from Android SDK. I need to join only the existing Room if available otherwise not. I  am trying to create a room by using the REST API's and send the room details to the clients . Is this possible ?

[2017-09-14 14:46] aaalaniz commented on #155
Hey @sudheeshdh

You are correct in not using Video REST API in your Android client. One solution is to create a Room using the Video REST API in your application's backend service and provide the Room SID to your clients via any of the following options:

1. [Twilio Notify](https://www.twilio.com/notify)
2. [Firebase Cloud Messaging (FCM)](https://firebase.google.com/docs/cloud-messaging/)
3. RES

[2017-09-14 15:11] sudheeshdh commented on #155
Hi Aaron,
Thanks for the replay.Also I have another query for viewing the videos in
the client side. I need to view only the videos (rooms) without sending the
streams  to room. Any suggestion  for this.?

On Sep 14, 2017 8:16 PM, "Aaron Alaniz" <notifications@github.com> wrote:

[2017-09-14 19:17] aaalaniz commented on #149
Hey @tzafrir

I'm not able to use the TextureViewRenderer you shared. All I see is white on the screen. However, I was able to implement a VideoView that extends a TextureView instead of a SurfaceView. I'm still doing more testing, but would this be helpful to your efforts or do you require your own custom TextureView renderer?

I'm currently thinking we ship another view called `VideoTextureView`

[2017-09-14 19:24] aaalaniz commented on #155
Hey @sudheeshdh

You can definitely connect to a Room without sharing any media. See the snippet below for connecting to a Room without audio or video tracks.

[code]

After connecting to the room you will receive callbacks for other participant's media. If you want to share media with participants later you can publish using `LocalParticipant`

[code]

Let me know if you need any other help.

Tha

[2017-09-14 22:02] aaalaniz commented on #149
Hey @tzafrir

I hacked together a custom renderer that uses a TextureView that you can try in your application.

[Rendering with a TextureView](https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2260cbcc8e)

There is some reflection involved, but I tried to mitigate the performance impact as much as possible. You should be able to use `VideoTextureView` similarly to `VideoView`. Let me know if

[2017-09-15 06:15] kesh-1139 opened #156 "Video flickers when there are more people in room"
Video flickering is seen when there are more people in the room

I am using twill video sdk. There are two phases of video in the application, one is minimised mode and the other is maximised mode. At any given point of time only one video will shown in maximised mode and all other videos will shown in minimised mode.

Avatars are placed inside android recycler view and their minimised videos are

[2017-09-15 14:26] aaalaniz commented on #155
I'm closing this issue @sudheeshdh

Feel free to reopen if you have any further questions.

Thanks!

[2017-09-15 14:26] #155 closed

[2017-09-15 14:37] aaalaniz commented on #156
Hey @kesh-1139

I think the problem may be that you have a `VideoView` renderering multiple video tracks which is causing the video to "flicker". Because a `RecyclerView` is using the ViewHolder pattern, when `onBindViewHolder` is called after the 4th user joined you are likely using a VideoView that is rendering a previous user's video. I think the fix is to just call `removeRenderer(holder.incom

[2017-09-15 16:59] kesh-1139 commented on #156
@aaalaniz  Thanks a lot for such a quick reply. Thanks a lot for that solution. I seem to have fixed it some what by using ```setHasStableIds(true)``` in the constructor.  calling ```NotifyDataSetChanged``` is causing the problem.

I will try the solution which you have mentioned and will get back to you. I had tried this solution before but I had tried it just before I removed the renderer and no

[2017-09-18 07:25] sudheeshdh commented on #155
Hi,

I am getting high noise while two android devices are connected to each
other in a small distance. I have enabled the speakerphone in the device,
how can I solve this issue,
code that I have tried is specified below,

private void configureAudio(boolean enable) {
    if (enable) {
        // Request audio focus before making any device switch.
        audioManager.requestAudioFocus(null, Audi

[2017-09-18 07:34] sabodh commented on #119
`
    private void configureAudio(boolean enable) {
        if (enable) {
            audioManager.requestAudioFocus(null, AudioManager.STREAM_VOICE_CALL,
                    AudioManager.AUDIOFOCUS_GAIN_TRANSIENT);
            audioManager.setMode(AudioManager.MODE_IN_COMMUNICATION);
            audioManager.setSpeakerphoneOn(true);
        } else {
            audioManager.setMode(AudioManager.M

[2017-09-18 07:36] sudheeshdh commented on #119
`
    private void configureAudio(boolean enable) {
        if (enable) {
            audioManager.requestAudioFocus(null, AudioManager.STREAM_VOICE_CALL,
                    AudioManager.AUDIOFOCUS_GAIN_TRANSIENT);
            audioManager.setMode(AudioManager.MODE_IN_COMMUNICATION);
            audioManager.setSpeakerphoneOn(true);
        } else {
            audioManager.setMode(AudioManager.M

[2017-09-18 10:03] sudheeshdh opened #161 "Enable/Disable Flash in Android"
How can I enable/ disable the flash feature using  the android sdk.

[2017-09-18 14:13] aaalaniz commented on #161
Hi @sudheeshdh

I recommend referencing our [Advanced Camera Capturer Example](https://github.com/twilio/video-quickstart-android/tree/master/exampleAdvancedCameraCapturer). The example demonstrates how to toggle the flash using `CameraCapturer#updateParameters`. Please note that the ability to enable/disable flash is not yet available for `Camera2Capturer`.

Thanks!

[2017-09-18 14:13] #161 closed

[2017-09-18 14:21] aaalaniz commented on #155
Hey @sudheeshdh

Echo cancellation is performed while sharing audio between between participants. However, echo cancellation will not work if the devices are close to each other. Devices should be in separate rooms in order for echo to not occur. This is a known issue that is unavoidable and troublesome for local development. If you are experiencing echo with devices that are in separate rooms ple

[2017-09-18 14:22] aaalaniz commented on #119
Hey @sudheeshdh

Can you provide device information?

Thanks!

[2017-09-18 14:32] sudheeshdh commented on #119
Hi I am using samsung galaxy S4 and Moto G5 and Lenovo Note 4.

On Sep 18, 2017 7:52 PM, "Aaron Alaniz" <notifications@github.com> wrote:

[2017-09-18 14:34] aaalaniz commented on #119
Hey @sudheeshdh

You had mentioned in another issue with noise. Are the devices you are testing on in separate rooms when the noise occurs?

[2017-09-18 14:57] sabodh commented on #119
Nobo haven't tested using separate rooms. I have tested to connected in a
single  room .

On Sep 18, 2017 8:04 PM, "Aaron Alaniz" <notifications@github.com> wrote:

[2017-09-18 15:02] sudheeshdh commented on #119
If I had connected these devices to single room and the distance between
these devices around less than 2 meter the noises occurs otherwise not.

On Sep 18, 2017 8:28 PM, "SABODH B S" <notifications@github.com> wrote:

[2017-09-18 15:31] aaalaniz commented on #119
I apologize for the confusion. By rooms, I mean the devices need to be in two separate physical rooms while connected to the same Video SDK `Room`. When devices sit near each other the echo and noise problem is a known problem that is not fixable.

[2017-09-18 16:06] sudheeshdh commented on #119
Oky..
I have configured these devices in a single physical room and connected
with in a range of 2 meter.
But this issue only happened if the device put to speaker mode.

On Sep 18, 2017 9:01 PM, "Aaron Alaniz" <notifications@github.com> wrote:

[2017-09-19 10:26] sudheeshdh opened #162 "Query for making REST API calls"
Hi,
I have tried the REST APIs for creating a new Room in the programmable video feature. I got the success result from  Twilio server but the  server didn't choose the room name that I have provided. It will automatically choose the room sid as the unique name. I have used POSTMAN for testing the rest API's.

URL : https://video.twilio.com/v1/Rooms
Method : POST
[code]
Response I am getting
[code

[2017-09-19 13:19] aaalaniz commented on #162
Hey @sudheeshdh

To create a Room with a name the parameter needs to be `UniqueName` and not `unique_name`. For more details please see our [REST API documentation](https://www.twilio.com/docs/api/video/rooms-resource).

Thanks!

[2017-09-19 13:19] #162 closed

[2017-09-19 14:36] sudheeshdh commented on #162
yes I have also tried with UniqueName but not getting the expected result.

On Sep 19, 2017 6:49 PM, "Aaron Alaniz" <notifications@github.com> wrote:

[2017-09-19 14:42] aaalaniz commented on #162
Hey @sudheeshdh

Please check that you are submitting the parameters as form url encoded parameters.

[2017-09-19 17:18] aaalaniz commented on #156
Hey @kesh-1139

Were you able to resolve the flickering?

Thanks!

[2017-09-19 17:19] aaalaniz commented on #149
Hey @tzafrir

Does the renderer I sent you work for your application? Looking forward to hearing the results.

Thanks!

[2017-09-19 17:47] kesh-1139 commented on #156
Hey @aaalaniz  I have tried the solution you had mentioned. it works fine for all the cases. I am seeing flickering in only one scenario that is when a user leaves the room, if the avatar next to the person who leaves is streaming then that avatar flickers. Any idea on this? Thanks a lot for helping out.

[2017-09-19 17:55] aaalaniz commented on #156
Hey @kesh-1139

Be sure to remove the renderer of the user who leaves the room. You should remove the renderer before calling `notifyItemRemoved`.

Hope this helps.

[2017-09-19 18:05] kesh-1139 commented on #156
@aaalaniz sure will try this and let you know if this fixed the issue. Thanks a lot for the help.

[2017-09-20 04:25] sudheeshdh commented on #162
@aaalaniz
Thanks for the  information. Its worked, I had used json formated data for creating the room name now I have change to url encoded parameters and its working fine.

[2017-09-20 17:13] kesh-1139 commented on #156
@aaalaniz  I tried the solution which you had mentioned the flickering has stopped in many devices but still is sen in few devices.

[2017-09-20 22:19] malcolmnguyen opened #164 "Unable to use setZOrderOnTop on VideoView"
### Description

I'd like the one of the VideoViews to be on top of the UI window. In order to this we have to be able to `setZOrderOnTop`, however `VideoView.applyZOrder` uses the `setZOrderMediaOverlay` method which overrides `setZOrderOnTop`, this instead puts the surface below the window, but above other surface views. Im not sure when `applyZOrder` is being called but its overriding the desir

[2017-09-20 23:11] aaalaniz commented on #164
Hey @malcolmnguyen

`applyZOrder` is called in `onAttachedToWindow`. Are you calling `setZOrderOnTop` before adding the `VideoView` to the view hierarchy? Doing this would cause the call to `setZOrderOnTop` to be overwritten when `localView` is attached to window.

[2017-09-20 23:20] malcolmnguyen commented on #164
Hi @aaalaniz

I've tried both before its added and in `onAttachedToWindow` but no luck, The developer docs say

     * window is attached to the window manager.

So would calling it in `onAttachedToWindow` not take effect?

[2017-09-21 00:30] aaalaniz commented on #164
Hey @malcolmnguyen

I'll have to investigate this further. Can you send me a simple layout file that would reproduce the ordering issue?

Thanks!

[2017-09-21 17:20] #151 closed

[2017-09-21 17:21] #116 closed

[2017-09-22 20:48] malcolmnguyen commented on #164
One thing to note is that this came up on Android Oreo and that the views Z order seems to be reversed on Oreo and pre Oreo.

Heres a few versions that i've tried, this one we just add the remoteView and localView programmatically to the root of the framelayout.

`<merge>

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="T

[2017-09-22 21:45] #164 closed

[2017-09-22 21:51] aaalaniz commented on #164
Hey @malcolmnguyen

Did you resolve the issue?

[2017-09-27 12:25] sudheeshdh opened #167 "Flickering on the VideoView"
My video view getting flickering while loading the video. I have used only to view the video from the  viewers side.

just added the videoview at the time on videotrackAdded  event.

` videoTrack.addRenderer(primaryVideoView);`

Why the Video view flickers ? Any condition for this?

[2017-09-27 17:56] aaalaniz commented on #167
Hey @sudheeshdh

I believe this issue is a duplicate of #156. Please follow the guidance issued in that ticket and see your problem still occurs.

[2017-09-27 17:56] #167 closed

[2017-09-27 17:58] aaalaniz commented on #149
Hey @tzafrir

Can you provide an update on your progress?

Thanks!

[2017-09-28 09:20] tzafrir commented on #149
We have now successfully completed the project, thanks to your code sample!
Using EglRenderer was useful.

Thanks!

[2017-09-28 15:23] aaalaniz commented on #149
Great news @tzafrir !

I will work on adding a TextureView based renderer to our SDK. Please let me know you find any issues with the sample renderer I provided. That renderer will be the baseline for the renderer added to the SDK.

[2017-09-29 01:58] padhur opened #168 "Rotate a Video in com.twilio.video.VideoView"
### Description

I am having a dongle which runs on Andorid OS which has a HDMI output port.
via HDMI port its connected to a TV which is mounted.
USB camera is connected to the dongle and its mounted in zero degree(i.e Landscape).

Created a LocalVideoTrack as below and the rendered preview is rotated.

streamingVideoTrack = LocalVideoTrack.create(this, true, streamingcontroller.startstreaming(),

[2017-10-02 21:24] aaalaniz commented on #168
Hey @padhur

Can you try using the [setRequestedOrientation](https://developer.android.com/reference/android/app/Activity.html#setRequestedOrientation(int)) API? This API should force the activity to update the orientation of the device.

Let me know if this helps.

[2017-10-03 06:14] sabodh opened #169 "How to enable Recording audio and video using SDK"
Hi,
I am trying to record the audio and video session using android sdk . How can I achieve this ?
How can I provide the flag `RecordParticipantOnConnect=true`  to the `ConnectOptions `

[2017-10-03 07:12] sabodh commented on #169
I have configured It using accounts dashboard and it set as true always.
Any way we can disable this through sdk for a particular room?

[2017-10-03 11:24] mvctest17 opened #170 "Disconnect Video call Without pick"
Hi,

When I am disconnecting the video call without joining the room then it is not disconnecting the call on other person device. Please help me out.

Thanks

[2017-10-03 14:37] aaalaniz commented on #170
Hey @mvctest17

Are you saying that if you call `room.disconnect()` before connecting to a `Room` another participant connecting to that same room is not able to connect? Please provide logs, code snippets, or any other information that clarify the issue. What version of the Android SDK are you using?

Thanks!

[2017-10-03 15:03] aaalaniz commented on #169
Hey @sabodh

It is currently not possible to enable or disable recording using our Video SDKs. You will have to use the REST API to configure recording on a particular room.

Thanks!

[2017-10-04 04:01] sabodh commented on #169
Ok. How long the recording will be stored in the twilio server?
also is there is any way to move the recordings to an external server like amazon s3 instance ?

[2017-10-04 05:05] mvctest17 commented on #170
Hi @aaalaniz

I am using Android SDK version 25.

Thanks!

[2017-10-04 11:33] TalbotGooday opened #171 "How to turn on the flash?"
I've found that there is no way to turn on the flash on camera 'cause there is no way to get encapsulated camera object. Is there a way to do this. If not, is it planned to implement it?

[2017-10-04 11:43] adolmatovs commented on #171
I believe you are looking for [this](https://github.com/twilio/video-quickstart-android/blob/master/exampleAdvancedCameraCapturer/src/main/java/com/twilio/video/examples/advancedcameracapturer/AdvancedCameraCapturerActivity.java#L60)

[2017-10-04 12:27] O-liverQueen opened #172 "Unable to hear voice in Android client in all devices."
Description
    I am trying to use video call. Here i am connecting the users from web to android. User and admin can connect to the same room. This feature is implemented, and i am able to see the video on both ends(web and android).
Here Web is admin and android is client.
But, for audio, in web app i am able to hear voice, but in android i am unable to hear the voice.

I used the video-quick-st

[2017-10-04 13:31] #171 closed

[2017-10-04 13:32] TalbotGooday commented on #171
Thank you so much

[2017-10-04 14:16] aaalaniz commented on #172
Hey @O-liverQueen

I recommend referencing our [Troubleshooting Audio guide](https://github.com/twilio/video-quickstart-android#troubleshooting-audio) for optimal audio experience in your application. If you are still having issues can you provide the device information on which you are experiencing audio problems.

Thanks!

[2017-10-04 14:34] aaalaniz commented on #170
Hey @mvctest17

If you disconnect before connecting to the Room then the other participant will not receive an `onParticipantDisconnected` callback because the participant never connected. If you need to check if there is participant in a Room after connect you can invoke `room.getParticipants` after you have connected.

Let me know if this helps.

Thanks!

[2017-10-04 14:35] aaalaniz commented on #156
Hey @kesh-1139

I am closing this issue. Please re-open if you have any further questions. Thanks!

[2017-10-04 14:35] #156 closed

[2017-10-04 14:37] aaalaniz commented on #169
Hey @sabodh

Let me talk to our backend team. I'll have an answer for you shortly.

Thanks!

[2017-10-04 15:00] aaalaniz commented on #169
Hey @sabodh

The recording files stay on our backend until you delete them. We are adding external Amazon S3 integration soon. With this new feature, the recordings would be deposited directly on to your S3 buckets.

Hope this helps. I will close this issue. Thanks!

[2017-10-04 15:00] #169 closed

[2017-10-04 16:05] sudheeshdh opened #173 "Recording video and audio details"
Hi
The response of recording the API contain both video and audio url separately. I reviewed the issue #136
Any progress on this ? Can I get a url that contain both video and audio ?

[2017-10-04 16:06] aaalaniz commented on #173
Hey @sudheeshdh

This feature is still a work in progress.

[2017-10-05 04:09] mvctest17 commented on #170
Hi @aaalaniz

Thanks for your help. I have to create service in server side to send notification so that other participant came to know that video call disconnected or is a missed call.

Thanks!

[2017-10-05 06:30] O-liverQueen commented on #172
Hi @aaalaniz

thanks for replying back. As you mentioned to use the settings from "Troubleshooting Audio guide", I am using the same settings in Android.

Sorry @aaalaniz  after searching a lot, and reading the documents of twilio for audio configure, whatever i added in android code is correct based on the quickstart for video.
The porblem is i think we are unable to enable the microphone in web,

[2017-10-05 06:30] #172 closed

[2017-10-05 14:09] aaalaniz commented on #170
Happy to help @mvctest17

I will close this issue. Please open another issue if you have further questions.

Thanks!

[2017-10-05 14:09] #170 closed

[2017-10-05 22:39] seanadkinson opened #174 "Feature Request: takePicture on camera2"
I see `takePicture` is implemented on the deprecated camera api.  Any plans and/or example code of anyone use `camera2` for taking a screenshot?

Google has an example here: https://github.com/googlesamples/android-Camera2Basic/blob/master/Application/src/main/java/com/example/android/camera2basic/Camera2BasicFragment.java#L768

But I'm hoping Twilio Video can abstract the details.

Thanks!

[2017-10-06 07:25] iorikingdom commented on #144
Thanks so much

[2017-10-06 17:16] Amirale-Veri opened #175 "participant.getVideoTracks() always empty"
Is there any reason why I am always getting no video track for any participant joining my room?
My code is bellow:
private void joinParticipant(Participant participant) {

        if (participant.getVideoTracks().size() > 0) {
            supplyLocals(true);
            participant.getVideoTracks().get(0).addRenderer(mainVideoView);
        }

        Log.e(TAG, participant.getIdentity()+" Partici

[2017-10-09 13:47] Abhisheksnapwiz opened #176 "Can I play recorded video or audio in browser(UIWebView) using "recording SID""
### Description

When I am trying to play the Video or Audio using recording SID in browser It's asking me to authenticate and after authentication Video or Audio file is getting downloaded Instead I am looking to stream and play the Audio or Video when hit the url in browser or pass it to UIWebView.

This is because after recording video from my IOS App I need to play the video in UIWebview. Firs

[2017-10-09 16:41] aaalaniz commented on #174
Hey @seanadkinson

We do have a task in our backlog to add this functionality. The goal is for `Camera2Capturer` to have feature parity with `CameraCapturer`. I will update you with progress on this functionality.

Thanks!

[2017-10-09 16:45] aaalaniz commented on #175
Hey @Amirale-Veri

`getVideoTracks` returns the added video tracks of that participant. Are you connecting with video tracks and seeing that the other participants do not see these tracks? Also can you update to the latest SDK version? (1.3.3)

Thanks!

[2017-10-09 20:50] ktoraskartwilio commented on #176
When you make a request to this URL - https://video.twilio.com/v1/Recordings/RTXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Media, Twilio will generate a temporary URL for accessing this binary data, and issue an HTTP 302 redirect response to your request. The Recording will be returned in the format as described in the metadata, with the Content-Type header set accordingly.
`curl 'https://video.twilio.com/v1/Re

[2017-10-10 19:39] Amirale-Veri commented on #175
I am updating to V 1.3.3 then will see, I am just following your code sample that I found on git, but no chance to get videoTracks. I will come back to you later one. Also please let me know where can I find an example to add videoTracks, maybe I am doing them wrong.

[2017-10-11 03:24] aaalaniz opened #179 "Track and room names with certain UTF-8 characters are not encoded properly"
### Description

Track or room names created with certain UTF-8 characters such as `кс` are improperly encoded.

### Steps to Reproduce with Room Name in 1.x and 2.x

1. Connect to room with name `кс`

### Steps to Reproduce with Track Name in 2.x

1. Create an audio or video track with name `кс`

#### Code

[code]

[code]

#### Expected Behavior

`getName` for Track and Room return `кс`

#### Act

[2017-10-11 14:08] aaalaniz commented on #175
Hey @Amirale-Veri

Please reference our [connectToRoom](https://github.com/twilio/video-quickstart-android/blob/master/quickstart/src/main/java/com/twilio/video/quickstart/activity/VideoActivity.java#L276) method in our quickstart for how to properly connect to a Room with audio and video tracks, and the [logic in onResume](https://github.com/twilio/video-quickstart-android/blob/master/quickstart/

[2017-10-11 21:52] viktord1985 opened #180 "Problem with video call. supported formats could not be retrieved because an error occurred connecting to the camera service"
I have this error when I try to make video call with front camera: Supported formats could not be retrieved because an error occurred connecting to the camera service. The crash is on second field.
[code]
If I changing **FRONT_CAMERA** to **BACK_CAMERA** it works well. I have tested it on Nexus 5 and Galaxy s7 and it have the same crash.
I am using `com.twilio:video-android:1.2.0`

[2017-10-11 22:44] idelgado commented on #180
We fixed an issue that might be related to this in `1.3.1` https://www.twilio.com/docs/api/video/changelogs/android#131-september-14-2017. Please upgrade to the latest `1.3.3` and let us know if you still have an issue.

[2017-10-12 12:47] viktord1985 commented on #180
Crash steal on version `1.3.3`. It crashes when outgoing call, and mostly works well on incoming call.

[2017-10-12 12:56] aaalaniz commented on #180
Hey @viktord1985

Can you provide more details on the steps leading up to the crash? Are you using the camera in another part of your application before setting up a call? Can you include a full logcat output as well?

Thanks!

[2017-10-12 13:25] viktord1985 commented on #180
It not depends on using camera in another part, as I reboot my device and setting up an app it also crashes. Here is log from activity, where I making call. Thanks.
[full log.pdf](https://github.com/twilio/video-quickstart-android/files/1379437/full.log.pdf)

[2017-10-12 13:59] aaalaniz commented on #180
hey @viktord1985

Does this happen on every device you run your app on? Can you share a snippet showing the reproduction steps?

[2017-10-12 14:13] viktord1985 commented on #180
Yes, on 3 devices it crashes: Lenovo p780, Samsung Galaxy S7 and Nexus 5
Those method I call in onCreate()
[code]
And it crashes on  `localVideoTrack = LocalVideoTrack.create(this, true, cameraCapturer);`

[2017-10-15 23:15] mcorner commented on #76
Any update on this?  We are running into some volume issues on wireless headphones. (and when there are no headphones)

[2017-10-16 07:05] viktord1985 commented on #180
So, you do you working with this problem?

[2017-10-16 07:34] kobewangSky commented on #93
Hi there
I have same problem
I am use com.twilio:video-android:1.3.1
And my phone is S7
I can not get any data from i420Frame.yuvPlanes always is null
Why?
How can I fix it ?
Thanks
Kobe

[2017-10-16 09:14] kobewangSky commented on #140
Hi @aaalaniz
How can I change VideoFrame to NV21?
Thanks
kobe

[2017-10-16 18:26] aaalaniz commented on #140
Hey @kobewangSky

The `VideoFrame` from `CameraCapturer` is NV21. You can access the frame from the `imageBuffer` property of `VideoFrame`.

[2017-10-16 18:29] aaalaniz commented on #180
Hey @viktord1985

Can you try to reproduce this problem in the quickstart? The snippet you shared is code that runs frequently in our test cases. My guess is that the camera resource is not available when you try to create a video track. This could result from not calling `LocalVideoTrack#release()` or another component of your application using the camera resource while trying to create a video t

[2017-10-16 18:30] aaalaniz commented on #76
No update @mcorner

The resources for this feature have not been allocated. Can you elaborate on the volume issues you are experiencing? Seems worthy of a separate issue.

[2017-10-16 19:03] aaalaniz commented on #93
Hey @kobewangSky

I will add documentation to our quickstart README, but here is a section from the [I420Frame API docs](https://media.twiliocdn.com/sdk/android/video/releases/1.3.3/docs/).

When a frame is represented as a texture, textureId will be set to a positive non zero value with yuvPlanes and yuvStrides set to null. The YUV data can be extracted from the texture using an instance of org.w

[2017-10-16 19:03] aaalaniz commented on #93
Hey @csemrm

Can you elaborate on the issue you are experiencing?

[2017-10-17 02:47] kobewangSky commented on #140
Hi @aaalaniz
Thank you very much!
kobe

[2017-10-17 03:53] kobewangSky commented on #93
Hi @aaalaniz
Thanks for your help!

And this is my code

public class OtherVideocallRender implements VideoRenderer {

    private MainActivity mainActivity;
    private ImageView Targetview;

    private final Handler handler = new Handler();

    public OtherVideocallRender(MainActivity activity, ImageView view )
    {
        this.mainActivity = activity;
        this.Targetview = view;

    }

[2017-10-17 04:17] kobewangSky commented on #93
I trace code
and I find program is crash in new GlShader->compileShader()->throw new RuntimeException("glCreateShader() failed. GLES20 error: " + GLES20.glGetError());
Thanks,
kobe

[2017-10-17 08:48] kobewangSky commented on #93
But there is an interesting phenomenon!
most phone rendered from a remote VideoTrack, i420Frame always is null

but Huawei's mobile is not, it is always can get data from i420Frame .
so I just need use captureBitmapFromYuvFrame to get Bitmap!

Kobe

[2017-10-19 16:02] aaalaniz commented on #93
Also @kobewangSky

Can you open a separate issue? Thanks!

[2017-10-19 20:26] mcorner commented on #76
Unfortunately, my info is pretty sketchy as it came from users.  Basically sometimes the audio is super low through the speakers and they can't hear anything, then they switched to wireless headset and it still was quiet, then they switched to wired and it was fine.

We are using this: setAudioFocus(true); when stating a call, and: setAudioFocus(false); on onDisconnected

[code]

[2017-10-20 06:13] kobewangSky commented on #93
Hi @aaalaniz
Thanks for your help!
I will open a separate issue soon!

Thanks !
kobe.

[2017-10-20 11:44] viktord1985 commented on #180
I found the problem, it was on my side. Thanks for your help.

[2017-10-20 11:44] #180 closed

[2017-10-20 15:49] aaalaniz commented on #76
Hey @mcorner

Do you have device info from these customers? Also I highly recommend our [Troubleshooting Audio Guide](https://github.com/twilio/video-quickstart-android#troubleshooting-audio) for optimal audio quality.

[2017-10-24 06:28] kobewangSky opened #182 "Video call can not get participant's image"
Hi there
I create a new issue

and it is follow this one
https://github.com/twilio/video-quickstart-android/issues/93#issuecomment-336998202

First, let me explain what i want to do,
I run the video call program from video-quickstart-android.
I can see my face and Participant face on quickstart,

And, I have program Image processing is determine the posture of the head.
in the local mobile, I use

[2017-10-24 18:18] mcorner opened #183 "Video Lifecycle Documentation for 2.X"
We are migrating from 1.x to 2.x.  There is a lack of documentation about the lifecycle of events with video tracks.  In 2.x it is even more confusing.  There seem to be four places where we might get a new video stream (we have a simple, two participant system).  It is unclear in what order they get fired and in response to what events on the other side.

- addParticipant
- onVideoTrackPublished

[2017-10-24 19:18] aaalaniz commented on #182
Hey @kobewangSky

Does the crash you see from YuvConverter happen on the first frame rendered or does it happen after a certain number of frames?

I'm not sure i understand the 3 byte data problem you are seeing. Are you saying that you are modifying 3 bytes on the capturer side and not seeing the result when trying to render?

[2017-10-24 19:49] mcorner commented on #76
I am able to reproduce this on my own Nexus 5x.  The call connects fine (the other end is an iOS device).  The audio coming out of the nexus is way too low in volume, even if I turn it up to max.  It is exactly like the difference between having a phone call volume vs speaker call volume (if I put the phone to my head it is the right volume).   If I put in wired headphones it works just fine on An

[2017-10-24 20:28] aaalaniz commented on #183
Hey @mcorner

I completely agree that our lack of official docs for 2.x is frustrating. A migration guide is being put together by our team and hopefully will be done in the coming weeks.. In addition to the [2.0 branch](https://github.com/twilio/video-quickstart-android/tree/2.0) on the quickstart we do have [API docs](https://media.twiliocdn.com/sdk/android/video/releases/2.0.0-preview4/docs/) a

[2017-10-24 20:30] aaalaniz commented on #76
Thanks @mcorner

I'll have a look.

[2017-10-25 02:32] mcorner commented on #76
I will try experimenting with: setSpeakerphoneOn(true); to see if that will just always route it to the speakerphone at the right volume.

However, looking at other code, it seems this problem might not be as simple as trusting Android to do the "right thing".....  For instance:
https://github.com/jitsi/android-webrtc/blob/master/src/org/jitsi/androidwebrtc/AppRTCAudioManager.java

It basically ro

[2017-10-25 06:26] kobewangSky commented on #182
Hi @aaalaniz

1. The crash in YuvConverter always is on first frame rendered.

2. I am apologize for my English is not very well, And you are right, I am modifying 3 bytes on the capturer side but I can not see the result when I get data from  CustomCameraCapturer. I think if i am modify on capturer side, I should get the same data from render side. or I misunderstood something?
Thanks!

kobe.

[2017-10-25 14:38] mcorner commented on #76
Ok, I did some experimentation.  Setting the speakerPhone to true fixes the issue.  Of course that means that when you plug in a wired headset it still comes out of the speakerphone.  Wireless (bluetooth) headsets don't seem to work at all.  We could write a bunch of code (like what appears in AppRTCAudioManager above), but that starts to seem like we are doing too much work to get something simpl

[2017-10-25 18:36] aaalaniz commented on #182
Both points appear to be bugs. I will need to research further and get back to you.

Thanks!

[2017-10-25 18:42] aaalaniz commented on #76
Hey @mcorner

What you are suggesting is basically the scope of this issue. We would like to ship something either with the SDK or separately that properly routes audio for developers as opposed to having all our customer's implement this themselves. We have this story in our backlog, but have not allocated a resource to implement it yet.

Apologies for the delay on getting to this feature.

Thank

[2017-10-26 02:36] kobewangSky commented on #182
@aaalaniz

Thanks very much.
Our team really need that two function.
Or! because we just want real time to send and get local head pose data to participant.
Have any other way can do that?
And the timeline needs to sync with sound.

Thanks!
Kobe.

[2017-10-26 08:27] kobewangSky commented on #182
I can give you my project,
If that can help.

[2017-10-26 13:17] aaalaniz commented on #182
Hey @kobewangSky

An reference project would be amazing to work with.

Thank you!

[2017-10-27 04:26] kobewangSky commented on #182
Hi @aaalaniz

I am already send my project to you,
if u need more information or file, just let me know!
Thank you very much!

kobe

[2017-10-27 09:45] sudheeshdh opened #187 "onRecordingStarted and onRecordingStopped not called while connecting to the room."
onRecordingStarted and onRecordingStopped not called after connecting to the room. The Participants will be recorded on connect is already set as true in the twilio console  but not able to identify the recording completed status from the twilio side.

[2017-10-27 18:49] aaalaniz commented on #187
Hey @sudheeshdh

Although these callbacks are part of the `Room.Listener` they are not yet implemented on our backend server. Therefore, you will never see these callbacks invoked. I apologize for how confusing this is.

Thanks!

[2017-10-27 18:54] aaalaniz commented on #187
Hey @sudheeshdh

If you have set Record Participants on Connect for a Group room `room.isRecording()` will return true. However, as mentioned in my previous comment there is currently no way to enable recording while connected to a `Room` so these callbacks are never invoked.

[2017-10-30 04:23] kobewangSky commented on #182
Hi @aaalaniz
Thanks for your help
Because we need to set up schedule
So I will like to know when there will be preliminary results?

Thank you,
Kobe.

[2017-10-30 06:22] sudheeshdh commented on #187
Ok, Thanks for the response.
I had done this using the local API calls in my own server  and I got the recording media urls from the twilio server.But some times while accessing the recordings from the twilio server cause file not found exception.This is only happen when I am accessing the URL with in a time period of 5 seconds after disconnecting from the room. Some times it will cause more than

[2017-10-30 06:51] idelgado commented on #187
@sudheeshdh Based on the behavior you are describing it sounds like the recordings are still being processed and may not be available immediately after the media has stopped flowing through the Room media server.

You can listen for status callbacks on your server and get a `recording-completed` callback which should then allow you to successfully retrieve the recording.

https://www.twilio.com/do

[2017-10-30 07:21] sudheeshdh commented on #187
I have provided the  callback url in the twilio console, but its not invoked . I hope this is because I am creating the room using the  mobile SDKs.

[2017-10-30 14:32] aaalaniz commented on #182
Hey @kobewangSky

I'll be looking into this issue today and get back to you with my findings soon.

Thanks!

[2017-10-30 14:59] mkutlev commented on #146
Hi @aaalaniz
What is the status of this issue? Can we expect to have it in recent releases?

[2017-10-30 15:02] aaalaniz commented on #146
Hey @mkutlev

Unfortunately no update on this issue. Apologies for the delays. I will provide updates when the feature is complete.

Thanks!

[2017-10-30 17:34] mcorner commented on #183
Yes, this is good!  It would be great to stick it in the official docs of course.

[2017-10-30 19:15] ajaypramod opened #190 "Is there a APK Available for Android ?"
Would love to see a APK where i can just paste my API Key and Room Name and Test the App.

While the Quick-start App is good for developers. A Sample APK or Google Play Test App is good for Product Guys to evaluate the potential of Twilio Video related API's.

[2017-10-30 23:01] aaalaniz commented on #182
Hey @kobewangSky

I've found the problem, but am still investigating a fix. There is a threading requirement to create a `YuvConverter` that is not met when `renderFrame` is called for a remote video frame.

I have a hacky workaround for you to continue with your use case while I figure out the best way to fix this bug. I've [uploaded a slightly modified version of your original project](https://d

[2017-10-31 04:07] idelgado commented on #190
Unfortunately there is no sample app on the Play Store at the moment. We plan on releasing an app along with the source code to build a more advanced app that leverages a large portion of the SDK soon. I will update the ticket once it becomes available.

[2017-10-31 05:42] kobewangSky commented on #182
Hi @aaalaniz

Thank you very much for your help,
Within a limited time, hacky workaround has always been a good idea,
Use your project i can get image from every mobile,

There is a last question is i can not modify image buffer and send to participant.

Thanks you again,
I look forward to your reply,

Kobe.

[2017-10-31 11:13] sudheeshdh commented on #187
Hey,
Any suggestions for this issue?

[2017-10-31 14:51] aaalaniz commented on #179
Fixed in `1.3.4` and `2.0.0-preview4`

[2017-10-31 14:51] #179 closed

[2017-10-31 14:55] aaalaniz commented on #175
Hey @Amirale-Veri

I'm going to close this issue for now. Please re-open if you still experience any issues.

Thanks!

[2017-10-31 14:55] #175 closed

[2017-10-31 15:30] idelgado commented on #187
There are 2 ways to enable recording for a room.

The first is to enable it by default for all rooms in the console https://www.twilio.com/console/video/configure:
<img width="600" alt="screen shot 2017-10-31 at 11 26 55 am" src="https://user-images.githubusercontent.com/882552/32232517-9524a14c-be2e-11e7-8645-596aeb8b9f35.png">

The second is to use the REST API prior to joining a room and set re

[2017-10-31 15:47] sudheeshdh commented on #187
Hey @idelgado
The problem is not related to the creation of recordings. I had enabled the recordings using the twilio room console. The problem is recordings are still being processed and may not be available immediately after the media has stopped flowing through the Room media server. How can we handle this?
Also I had provided the callback url directly to the console
[https://www.twilio.com/con

[2017-10-31 15:57] idelgado commented on #187
@sudheeshdh are any events listed https://www.twilio.com/docs/api/video/status-callbacks invoked on your callback url?

[2017-10-31 16:08] sudheeshdh commented on #187
@idelgado No, If I am creating the room with the help of android sdk it doesn't invoked any event specified in the documents. But I got the successful callback when creating the room with the help of REST APIs.

[2017-11-01 23:36] innerverse commented on #187
Hi @sudheeshdh

Sorry to hear you're running into issues with status callback URLs and recordings. Let's see if I can help.

Status Callback URLs
---

The Twilio will send Status Callbacks to your URL as long as it is set for your Room. You can set the URL a few ways - via the REST API but we also apply the Room Settings from the Console if you create the Room dynamically via the SDKs.
One catch i

[2017-11-02 23:39] ervingayle commented on #190
We actually were contemplating doing this as a community contribution. Our platform is available along with the app and we were looking for some community feedback for testing. This may help us and provide feedback needed for v2 api's. Happy to contribute if it is of value

[2017-11-03 12:12] v4-adi opened #193 "Mute remote participant audio in a room"
I need to mute remote participant audio on the android device but I can't find such option in Twilio video SDK.
I am currently using twilio video sdk version 1.3.6 for Android

[2017-11-06 03:48] kobewangSky commented on #182
Hi @aaalaniz

Have any news~~~?

Kobe.

[2017-11-06 14:59] idelgado commented on #190
@ervingayle that would be great. We're always open to contributions from our developer community.

[2017-11-06 18:53] kedartoraskar commented on #182
Hi @kobewangSky

I work on the Video Product Team at Twilio. I wanted to reach out to learn more about your use case and what you are trying to achieve. Would be great if you can send me a note directly at ktoraskar@twilio.com .

Best,
Kedar

[2017-11-06 18:53] #182 closed

[2017-11-07 09:42] NaveedALi opened #194 "Error:Unable to resolve dependency for ':exampleAdvancedCameraCapturer@debug/compileClasspath': Could not resolve com.twilio:video-android:1.3.6. Could not resolve com.squareup.retrofit2:retrofit:2.0.0-beta4."
### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What you expect to happen]

#### Actual Behavior

[What actually happens]

#### Reproduces how Often

[What percentage of the time does it reproduce?]

#### Logs

[code]

### Versions

All relevant version information for

[2017-11-07 09:46] NaveedALi commented on #194
Error:Unable to resolve dependency for ':exampleVideoInvite@debug/compileClasspath': Could not resolve com.koushikdutta.ion:ion:2.1.7.

[2017-11-07 13:13] NaveedALi commented on #194
sorry in my case project by default was set to offline.

[2017-11-07 13:13] #194 closed

[2017-11-08 09:50] alestab opened #197 "Setting VideoScaleType not working"
### Description

Calling setVideoScaleType on primaryVideoView in quickstart sample has no effect.

Video rendered in primaryView doesn't fit and gets cutted in one dimension.

#### Video Android SDK

2.0.0-preview4

[2017-11-08 16:11] aaalaniz commented on #197
Hey @alestab

Can you post a screenshot of the problem you are seeing? Does it happen for remote or local video?

Thanks!

[2017-11-08 20:53] ervingayle commented on #190
@idelgado I am happy to contribute here.  The OP requested a APK and thats when I thought of sharing what we've done.

Our platform is build around packaging Twilio service offerings particularly for Higher Education but the consumption of the services is pretty much white label. Our app is currently available for Android: https://play.google.com/store/apps/details?id=com.enotchacademics.enotch. i

[2017-11-09 11:20] alestab commented on #197
Hi @aaalaniz

This happens with local video. Camera aspect ratio is 4:3 . Video sent to remote partecipant is ok, so at the receiver with the examples below in portrait Kenny has some more space at his left and right, and in landscape his head and feet aren't cropped.
I changed a bit the example to keep local video as primaryVideoView also when a remote partecipant joins.
I expected that aspect ra

[2017-11-09 15:10] aaalaniz commented on #197
Hey @alestab

I'll investigate this issue further today. Thanks for the screenshots. Definitely one of the better screenshots I've seen lol

Thanks!

[2017-11-15 10:49] smithaaron commented on #149
@aaalaniz Any update on adding a TextureView to the SDK?

I need to create a round VideoView (it also needs to be placed on top of another full-screen VideoView). My initial research indicates that this can only be done with a TextureView and isn't possible with a SurfaceView. If you have any pointers to how this could be implemented (or if it's possible) with Twilio, that would be appreciated.

[2017-11-16 09:54] BhanuVGowda commented on #173
Any updates on this one, please.

[2017-11-16 15:47] rfbrazier commented on #173
This is the next major feature to be released in our Recordings API, likely available early next year.

In the meantime, you can use tools like [ffmpeg](https://www.ffmpeg.org/) to compose the raw track-level recordings into a single container. We'll be publishing a guide on our website on this soon.

Thanks for using Twilio Video, and your patience as we work on these enhancements.

[2017-11-16 23:02] emphassis opened #200 "EncodingParameters in ConnectOptions"
In Java there are options to control the data flow using the connect options. Example below:
`var connectOptions = {
                    name: roomName,
                    tracks: twilioLocalMediaTracks,
                    maxAudioBitrate: 24000,
                    maxVideoBitrate: 128000
                };

                Twilio.Video.connect(token, connectOptions).then(roomJoined, function (

[2017-11-16 23:19] idelgado commented on #200
@emphassis you can find docs on how to do this here: https://twilio.github.io/twilio-video-android/docs/2.0.0-preview5/com/twilio/video/EncodingParameters.html

Please note that this feature is only available in our 2.X preview releases on Android. We will move to beta and eventual final release early next year.

You can find the quickstart for 2.X in our 2.0 branch https://github.com/twilio/video

[2017-11-16 23:21] idelgado commented on #200
Encoding parameters are part of the builder in 2.X https://twilio.github.io/twilio-video-android/docs/2.0.0-preview5/com/twilio/video/ConnectOptions.Builder.html

You can browse the root of the docs here: https://twilio.github.io/twilio-video-android/docs/2.0.0-preview5

[2017-11-17 19:59] emphassis commented on #200
Hey, thanks for the quick response. I'm trying it out now. It seems you guys are really working this diligently. In this preview version, you're trying to fix the bugs as you find them?

[2017-11-17 20:04] idelgado commented on #200
@emphassis Yes. Our 2.X preview releases are quite stable. However there may be API changes made in future preview releases and some of the features especially as they related to multiple/hybrid codec support in a Group Rooms environment, as opposed to Peer-to-peer, is still evolving. There are also cases where we are aware of corner cases that are not well covered yet like reporting error scenari

[2017-11-17 20:48] idelgado commented on #193
Please reopen if you have more questions about muting remote playback.

[2017-11-17 20:48] #193 closed

[2017-11-17 20:51] idelgado commented on #183
@mcorner we recently published the first set of documentation for 2.X https://www.twilio.com/docs/api/video/android-v2-getting-started

We still have lots of work to do on this front with more content that describes API behavior and a migration guide from 1.X to 2.X.

Thanks again for the feedback.

[2017-11-17 20:52] idelgado commented on #190
@ervingayle Thanks for this contribution. In 2018 we will be releasing a multi-party sample app as well as a more advanced meeting app source and play store app that will hopefully serve this request better. We'll update this ticket once we make this available. Thanks!

[2017-11-17 20:54] idelgado commented on #168
Please reopen if you have additional questions.

[2017-11-17 20:54] #168 closed

[2017-11-17 20:57] idelgado commented on #149
@smithaaron we have not formally added this work in our SDK. For now you can use the sample that @aaalaniz linked above: https://gist.github.com/aaalaniz/bfbc4891c98ef3b23558ff2260cbcc8e. TextureView based rendering is in our backlog but we don't have a firm date for completing this work yet.

[2017-11-20 22:24] aaalaniz commented on #197
Hey @alestab

Apologies for the delay. I think I have found the problem. I will have an answer for you soon.

Thanks!

[2017-11-21 02:34] aaalaniz commented on #197
Hey @alestab

Have a look at the latest PR #201

It appears that using `match_parent` causes problems with updating video scale type. If you use `wrap_content` or a specific value for width and height dimensions you should be fine to call `setVideoScaleType`. Our next 1.x and 2.x releases will have updated API docs and will log a warning if developers try to call `setVideoScaleType` and `match_par

[2017-11-21 10:25] BdeDev commented on #149
Hey @aaalaniz  i want to stream a video with twillio ,but i am unable to do so,with the Help of Your Custom Video Capture Example i came to know about the UI elements can be Streamed ,but the Video is showing Black on Renderer Side.

[2017-11-21 10:47] BdeDev opened #202 "Issue in streaming Video in CustomVideoCapture Example"
Hey @aaalaniz i want to stream a video with twillio ,but i am unable to do so,with the Help of Your Custom Video Capture Example i successfully stream  the UI elements ,but the Video is showing Black on Renderer Side.
I only want to show the Video

[2017-11-21 14:49] rohitlien opened #203 "participant map is coming null even if two user are connected.Although local participant data is coming.Is this the expected behaviour???"
### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What you expect to happen]

#### Actual Behavior

[What actually happens]

#### Reproduces how Often

[What percentage of the time does it reproduce?]

#### Logs

[code]

### Versions

All relevant version information for

[2017-11-21 16:40] aaalaniz commented on #202
Hey @BdeDev

Can you share some code snippets or maybe a project I could look at? Are you trying to share `ViewCapturer` with a room?

Thanks!

[2017-11-21 16:41] aaalaniz commented on #203
Hey @rohitlien

Are you able to reproduce this issue in the quickstart? Can you provide a code snippet or project I could investigate?

Thanks!

[2017-11-21 17:24] alestab commented on #197
Hi @aaalaniz
thank you for your answer!

[2017-11-21 17:26] aaalaniz commented on #197
No problem @alestab

I'm going to close this issue. Please reopen if you encounter additional problems.

Thanks!

[2017-11-21 17:26] #197 closed

[2017-11-22 07:52] BdeDev commented on #202
Yes, I am trying to share ViewCapturer with a Room,but firstly i test it on your given samples in Custom Video Capture ,All the UI elements are Render Except the Video,The Code is Same as of Your Sample of CustomVideoCapture i only added a Video View and play a Video Through it but when i render it, all the UI elements are shown Except the Video View Which is Showing Black Screen
As My requirement

[2017-11-22 14:01] aaalaniz commented on #202
Hey @BdeDev

Please share a project or code snippets so I can investigate the issue further.

Thanks!

[2017-11-23 09:50] BdeDev commented on #202
Hey @aaalaniz ,
This one is the layout from your sample the layout name is activity_custom_capturer.xml
i have only add a video video in it @+id/videoVV
================================

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientat

[2017-11-28 15:45] aaalaniz commented on #203
Hey @rohitlien

I'm closing this issue due to inactivity. Please re-open for continued discussion.

Thanks!

[2017-11-29 09:23] rohitlien opened #211 "Connection to new user"
Hii, I am using twilio to connect 10 people in same room but i want to control which user i want to shown in all windows.
For that ... i have connected all users with
private void connectToRoom() {

        ConnectOptions.Builder connectOptionsBuilder = new ConnectOptions.Builder(accessToken)
                .roomName(room_name);
        room = Video.connect(this, connectOptionsBuilder.build(), ro

[2017-11-29 09:24] #203 closed

[2017-11-29 09:25] rohitlien commented on #203
sorry ... forgot to close it.
Thanks.

[2017-11-29 12:11] BdeDev commented on #202
Hey @aaalaniz

Thank you for your reply
I have tried to render the video by your VideoTextureView But the issue remains the same
=================
But if you mean by using VideoTextureView in place of Android Video View
 So,Can You Please Explain me How to Play a normal Video through this VideoTectureView as i am simply playing the video in android video view  by adding it in raw file
the Code is

[2017-11-29 21:10] aaalaniz commented on #202
Hey @BdeDev

Our `VideoView` does not render video from a URI like `android.widget.VideoView`. Our `VideoView` is meant to render I420 frames from a `VideoTrack` or `LocalVideoTrack`. Let me know if I can clarify anything.

Thanks!

[2017-11-30 05:57] BdeDev commented on #202
Hey @aaalaniz

Thanks for your reply,This means you are saying that it is not possible to render a Android Video View which is playing in an layout ,Twilio video only render the Twilio's Video View

[2017-11-30 14:19] aaalaniz commented on #211
Hey @rohitlien

Do none of the participant's have video tracks when you call `getVideoTracks().size()` ? Are you connecting to a Peer-to-Peer or Group room? Please be sure that each of your participants is connecting with a `LocalVideoTrack`. Happy to field any follow up questions you have.

Thanks!

[2017-11-30 14:22] aaalaniz commented on #202
Hey @BdeDev

Can you post a screenshot of the issue? I think that would be really helpful to diagnose what is happening.

Thanks!

[2017-11-30 14:23] rohitlien commented on #211
hey @aaalaniz
I am connecting to a group and i am not connecting any videotrack of user in the beginning.
When a user request to be seen , then i disconnect the user and connect him once again with local video track.
But here the participant.getVideoTrack().size is zero.